/* You can add global styles to this file, and also import other style files */
/*  Re-adding styles which should be in shared library as some not coming through */

// @import '~@swimlane/ngx-datatable/index.css';
// @import '~@swimlane/ngx-datatable/themes/bootstrap.css';
// @import '~@swimlane/ngx-datatable/assets/icons.css';

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: Proxima Nova;
  src: url("https://use.typekit.net/af/a727c9/00000000000000007735af8e/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),
       url("https://use.typekit.net/af/a727c9/00000000000000007735af8e/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),
       url("https://use.typekit.net/af/a727c9/00000000000000007735af8e/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;
  font-style:normal;
  font-weight:400;
}

:root {
  --color-blue: #002D72;
  --color-blue-80: #3b5287;
  --color-blue-60: #626f9d;
  --color-blue-40: #8b93b7;
  --color-blue-20: #bcc0d6;
  --color-steel: #6ba4b8;
  --color-steel-80: #88b5c7;
  --color-steel-60: #a6c7d5;
  --color-steel-40: #c4dae3;
  --color-steel-20: #e1edf1;
  --color-steel-blue-200: #477D94;
  --color-industrial: #3d5466;
  --color-industrial-80: #5a6d7f;
  --color-industrial-60: #8899a9;
  --color-industrial-40: #9ea8b5;
  --color-industrial-20: #c7cdd4;
  --color-orange: #EC9231;
  --color-orange-20: #FFEDD7;
  --color-pink-20: #F0DAE7;
  --color-pink-40: #E5C7D8;
  --color-green-40: #BBD9C0;
  --color-green-20: #D0E7D4;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background-panel: #EDF2F4;
  --color-alarm-red: #D0021B;

  --font-open-sans: Open Sans, sans-serif;
  --font-proxima-nova: Proxima Nova, sans-serif;
}
