<div (click)="onContainerClicked($event)"
     class="modal FormModal"
     tabindex="-1"
     *ngIf="visible"
     [style.opacity]="visibleAnimate"
     [style.transition]="animationDuration + 'ms'"
     [ngClass]="{'show': visible}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header" *ngIf="modalTitle">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>

      <div class="modal-body" [style.display]="!refBody?.children?.length && 'none'">
        <div #refBody><ng-content select="[content]"></ng-content></div>
      </div>

      <div class="modal-footer">
        <div #refFooter><ng-content select="[footer]"></ng-content></div>

        <ng-container *ngIf="!refFooter?.children?.length">
          <button type="button" class="btn btn-default" (click)="close()"><i class="fa fa-times">  Cancel</i></button>
          <button type="button" class="btn btn-primary" (click)="ok()"><i class="fa fa-check">  OK</i></button>
        </ng-container>
      </div>
    </div>
  </div>
</div>
