.checkbox-row {
  margin-bottom: 20px;
}

.panel-body {
  padding-right: 15px;
  padding-left: 15px;
}

.panel-heading {
  h4 {
    display: inline-block;
  }
}

.fa-exclamation-triangle {
  font-size: 20px;
  color: orange;
  vertical-align: top;
  margin-left: 9px;
}

.warning-message-row {
  padding-top: 20px;
  margin-bottom: 20px;
}
