<div class="formList">
  <label *ngIf="!!label" class="formList-label">{{label | translate}}</label>

  <select [disabled]="isDisabled"
          (blur)="onTouched()"
          [value]="internalValue"
          (change)="updateValue($event.target.value)">
    <option selected disabled title="placeholder"></option>
    <ng-container *ngIf="list?.length">
      <option *ngFor="let item of list; let i = index"
              [title]="item.translationText+item.extraPostText"
              [value]="i+1">{{item.translationText}}{{item.extraPostText}}</option>
    </ng-container>
  </select>
</div>
