.formList {
  width: 100%;
  &-label {
    font-family: var(--font-proxima-nova);
    font-style: normal;
    font-weight: 600!important;
    font-size: 16px;
    line-height: 105%;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-blue);
    margin-right: 20px;
    margin-bottom: 8px;
    padding-left: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  select {
    color: var(--color-blue);
    font-family: var(--font-open-sans);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 30px;
    border-color: var(--color-steel-80);
    border-width: 1px;
    border-style: solid;
    width: 100%;
    max-height: 50px;
    height: 50px;
    padding: 0 0 0 22px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    appearance: none;
    -webkit-appearance: none;
    background-image: url('http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png');
    background-repeat: no-repeat;
    background-color: var(--color-white);
    background-size: 10px;
    background-position: calc(100% - 10px) center;
    &:active {
      background-image: url('https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_up.png');
    }
    &:focus {
      outline: 4px solid var(--color-steel-80) !important;
    }
    &.disabled, &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}
