<div class="formList">
  <label *ngIf="!!label" class="formList-label">{{label | translate}}</label>

  <select [disabled]="isDisabled"
          (blur)="onTouched()"
          [value]="internalValue"
          (change)="updateValue($event.target.value)">
    <option *ngFor="let item of list; let i = index"
            [selected]="item?.fromValue === internalValue"
            [title]="item.translationText+item.extraPostText"
            [value]="item.fromValue">{{item.translationText}}{{item.extraPostText}}</option>
  </select>
</div>
