
<h2 style="width: 100%; text-align: center;" *ngIf="!sizingUnits">Loading...</h2>

<spirax-panel [title]="'UTILITY_PARAMETERS' | translate"
              id="UtilityParameters"
              titleSize="24px">
  <form body [formGroup]="formGroup">
    <div class="container-fluid" formGroupName="benchmarkInputs" *ngIf="sizingUnits">
      <div class="row mb-5">
        <div class="col-md-5">
          <input [label]="'HOURS_OF_OPERATION' | translate"
                 formControlName="hoursOfOperation"
                 type="number"
                 spirax-input
                 required>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <ng-template #tooltipFuel>
            <h6>{{'ALLOWS_YOU_TO_INPUT_FUEL_TYPE_AND_COSTS_HELP' | translate}}</h6>
            <p>{{'IF_A_STANDARD_FUEL_IS_USED_THE_CALORIFIC_VALUE_AND_CO2_EMISSIONS_FSLASH_UNIT_OF_FUEL_WILL_BE_AUTOMATICALLY_POPULATED_FROM_LOO_HELP' | translate}}</p>
          </ng-template>
          <spirax-panel id="FuelPanel" [title]="'FUEL' | translate" [titleTooltip]="tooltipFuel" background="#EDF2F4">
            <div body>
              <fuel-type-selection (changeFuelTypeName)="fuelTypeName = $event" formControlName="inputFuelId" label="FUEL_TYPE"></fuel-type-selection>

              <input [label]="'FUEL_CALORIFIC_VALUE' | translate"
                     [unitsStr]="[sizingUnits['BoilerHouseEnergyUnits'], sizingUnits[fuelTypeName]]"
                     formControlName="fuelEnergyPerUnit"
                     type="number"
                     spirax-input
                     required/>

              <input [label]="'CO2_EMISSIONS_PER_UNIT_FUEL' | translate"
                     [unitsStr]="[sizingUnits['WeightUnit'], sizingUnits[fuelTypeName]]"
                     formControlName="fuelCarbonContent"
                     type="number"
                     spirax-input
                     required>

              <input [label]="'COST_OF_FUEL_PER_UNIT' | translate"
                     [unitsStr]="[sizingUnits['BHCurrency'], sizingUnits[fuelTypeName]]"
                     formControlName="costOfFuelPerUnit"
                     type="number"
                     spirax-input
                     required>

              <spirax-toggle formControlName="fuelQtyPerYearIsKnown"
                             (valueChange)="toggleInput($event && 'costOfFuelPerYear', !$event && ['costOfFuelPerYear', 'fuelConsumptionPerYear'])"
                             label="IS_FUEL_CONSUMPTION_MEASURED">
                <div yes>
                  <input [label]="'FUEL_COSTS_PER_YEAR' | translate"
                         [unitsStr]="[sizingUnits['BHCurrency'], 'yr']"
                         (radioClick)="toggleInput('costOfFuelPerYear', 'fuelConsumptionPerYear', null)"
                         radio
                         formControlName="costOfFuelPerYear"
                         type="number"
                         spirax-input
                         required>

                  <input [label]="'FUEL_CONSUMPTION_PER_YEAR' | translate"
                         [unitsStr]="[sizingUnits[fuelTypeName], 'yr']"
                         (radioClick)="toggleInput('fuelConsumptionPerYear', 'costOfFuelPerYear', null)"
                         [radio]="true"
                         formControlName="fuelConsumptionPerYear"
                         type="number"
                         spirax-input
                         required>
                </div>
              </spirax-toggle>
            </div>
          </spirax-panel>

          <ng-template #cO2EmissionTooltip>
            <h6>{{'CARBON_TAX_LEVY_COST_PER_UNIT' | translate}}</h6>
            <p>{{'IF_CARBON_TAX_IS_PART_OF_THE_FUEL_BILL_IT_CAN_EITHER_BE_BROKEN_OUT_TO_ALLOW_THE_COST_OF_CO2_EMISSIONS_TO_BE_CALCULATED_OR_CAN_HELP' | translate}}</p>
          </ng-template>
          <spirax-panel id="CO2EmissionPanel" title="CO2 Emission" [titleTooltip]="cO2EmissionTooltip" background="#EDF2F4">
            <spirax-toggle body
                           formControlName="isCo2OrCarbonEmissionsTaxed"
                           (valueChange)="toggleInput($event && ['carbonTaxLevyCostPerUnit'], !$event && ['carbonTaxLevyCostPerUnit', 'costOfCo2PerUnitMass'])"
                           label="ARE_CO2_OR_CARBON_EMISSIONS_TAXED">
              <div yes>
                <input [label]="'CARBON_TAX_LEVY_COST_PER_UNIT' | translate"
                       [unitsStr]="[sizingUnits['BHCurrency'], sizingUnits['BoilerHouseEnergyUnits']]"
                       (radioClick)="toggleInput('carbonTaxLevyCostPerUnit', 'costOfCo2PerUnitMass', null)"
                       radio
                       formControlName="carbonTaxLevyCostPerUnit"
                       type="number"
                       spirax-input
                       required>
                <input [label]="'COST_OF_CO2_PER_UNIT_MASS' | translate"
                       [unitsStr]="[sizingUnits['BHCurrency'], sizingUnits['BoilerHouseEmissionUnits']]"
                       (radioClick)="toggleInput('costOfCo2PerUnitMass', 'carbonTaxLevyCostPerUnit', null)"
                       radio
                       formControlName="costOfCo2PerUnitMass"
                       type="number"
                       spirax-input
                       required>
              </div>
            </spirax-toggle>
          </spirax-panel>
        </div>

        <div class="col-md-6">
          <ng-template #waterTooltip>
            <div style="text-align: left;">
              <h6>{{'IS_BOILER_HOUSE_WATER_MEASURED' | translate}}</h6>
              <p>{{'IS_ALL_WATER_ENTERING_THE_BOILER_HOUSE_AS_PART_OF_THE_STEAM_GENERATION_PROCESS_MEASSURED_HELP' | translate}}</p>
              <h6>{{'WATER_CONSUMPTION_PER_YEAR' | translate}}</h6>
              <p>{{'ALL_WATER_ENTERING_THE_BOILER_HOUSE_AS_PART_OF_THE_STEAM_GENERATION_PROCESS_HELP' | translate}}</p>
            </div>
          </ng-template>
          <spirax-panel id="WaterPanel" title="Water" [titleTooltip]="waterTooltip" background="#EDF2F4">
            <div body>
              <input [label]="'COST_OF_WATER_FSLASH_UNIT' | translate"
                     [unitsStr]="[sizingUnits['BHCurrency'], sizingUnits['BoilerHouseVolumeUnits']]"
                     formControlName="costOfWaterPerUnit"
                     type="number"
                     spirax-input
                     required>

              <spirax-toggle formControlName="boilerHouseWaterQtyPerYearIsKnown"
                             (valueChange)="toggleInput($event && 'costOfWaterPerYear', !$event && ['costOfWaterPerYear', 'waterConsumptionPerHour', 'waterConsumptionPerYear'])"
                             label="IS_WATER_ENTERING_THE_BOILER_HOUSE_MEASURED">
                <div yes>
                  <input [label]="'COST_OF_WATER_PER_YEAR' | translate"
                         [unitsStr]="[sizingUnits['BHCurrency'], 'yr']"
                         (radioClick)="toggleInput('costOfWaterPerYear', ['waterConsumptionPerHour', 'waterConsumptionPerYear'], null)"
                         radio
                         formControlName="costOfWaterPerYear"
                         type="number"
                         spirax-input
                         required>

                  <input [label]="'WATER_CONSUMPTION_HOUR' | translate"
                         [unitsStr]="[sizingUnits['BoilerHouseVolumeUnits'], 'hr']"
                         (radioClick)="toggleInput('waterConsumptionPerHour', ['waterConsumptionPerYear', 'costOfWaterPerYear'], null)"
                         radio
                         formControlName="waterConsumptionPerHour"
                         type="number"
                         spirax-input
                         required>

                  <input [label]="'WATER_CONSUMPTION_YEAR' | translate"
                         [unitsStr]="[sizingUnits['BoilerHouseVolumeUnits'], 'yr']"
                         (radioClick)="toggleInput('waterConsumptionPerYear', ['waterConsumptionPerHour', 'costOfWaterPerYear'], null)"
                         radio
                         formControlName="waterConsumptionPerYear"
                         type="number"
                         spirax-input
                         required>
                </div>
              </spirax-toggle>
            </div>
          </spirax-panel>

          <ng-template #waterChemicalsTooltip>
            <div style="text-align: left;">
              <h6>{{'IS_CHEMICAL_COSTS_PER_YEAR_KNOWN' | translate}}</h6>
              <p>{{'COST_OF_WATER_TREATMENT_CHEMICALS_ONLY_THIS_DOES_NOT_INCLUDE_SERVICE_AGREEMENTS_OR_MAINTENANCE_COSTS_HELP' | translate}}</p>

              <h6>{{'TOTAL_CHEMICAL_COST_PER_YEAR' | translate}}</h6>
              <p>{{'COST_OF_WATER_TREATMENT_CHEMICALS_FSLASH_UNIT_OF_BOILER_WATER_BEING_TREATED_FOR_EXAMPLE_0_15_FSLASH_M3_BOILER_WATER_THIS_HELP' | translate}}</p>

              <h6>{{'O2_SCAVENGING_CHEMICALS_COST_SAVINGS' | translate}}</h6>
              <p>{{'THIS_IS_USED_TO_CALCULATE_ANY_CHEMICAL_SAVINGS_FROM_INCREASING_FEEDWATER_TEMPERATURE_USING_DIRECT_STEAM_INJECTION_HELP' | translate}}</p>
            </div>
          </ng-template>
          <spirax-panel id="waterTreatmentChemicalsPanel" title="Water treatment chemicals" [titleTooltip]="waterChemicalsTooltip" background="#EDF2F4">
            <spirax-toggle body formControlName="boilerWaterTreatmentChemicalCostsIsKnown"
                           (valueChange)="toggleInput($event && 'totalChemicalCostPerYear', !$event && ['totalChemicalCostPerYear', 'o2ScavengingChemicalsCostSavings'], null)"
                           label="ARE_CHEMICAL_COST_KNOWN">
              <div yes>
                <input [label]="'TOTAL_CHEMICAL_COSTS_PER_YEAR' | translate"
                       [unitsStr]="[sizingUnits['BHCurrency'], 'yr']"
                       (radioClick)="toggleInput('totalChemicalCostPerYear', 'o2ScavengingChemicalsCostSavings', null)"
                       radio
                       formControlName="totalChemicalCostPerYear"
                       type="number"
                       spirax-input
                       required>
                <input [label]="'O2_SCAVENGING_CHEMICALS_COST_SAVINGS' | translate"
                       [unitsStr]="[sizingUnits['BHCurrency'], 'yr']"
                       (radioClick)="toggleInput('o2ScavengingChemicalsCostSavings', 'totalChemicalCostPerYear', null)"
                       radio
                       formControlName="o2ScavengingChemicalsCostSavings"
                       type="number"
                       spirax-input
                       required>
              </div>
            </spirax-toggle>
          </spirax-panel>

          <ng-template #waterEffluentTooltip>
            <h6>{{'IS_COOLING_WATER_USED' | translate}}</h6>
            <p>{{'IF_BLOWDOWN_VESSEL_SELECTED_AND_THE_CHECK_BOX_IS_COOLING_WATER_USED_IS_TICKED_IT_WILL_IMPACT_ON_BOILER_HOUSE_WATER_CONSUMPTIO_HELP' | translate}}</p>
          </ng-template>
          <spirax-panel id="waterEffluentPanel" title="Water effluent" [titleTooltip]="waterEffluentTooltip" background="#EDF2F4">
            <div body>
              <input [label]="'COST_OF_EFFLUENT_FSLASH_UNIT' | translate"
                     [unitsStr]="[sizingUnits['BHCurrency'], sizingUnits['BoilerHouseVolumeUnits']]"
                     formControlName="costOfEffluentPerUnit"
                     type="number"
                     spirax-input
                     required>
            </div>
          </spirax-panel>
        </div>
      </div>
    </div>
  </form>
</spirax-panel>

<spirax-panel [title]="'BOILER_HOUSE_PARAMETERS' | translate"
              [showSeparator]="false"
              id="BoilerHouseParameters"
              titleSize="24px">
  <form body [formGroup]="formGroup">
    <div class="container-fluid" formGroupName="benchmarkInputs" *ngIf="sizingUnits">
      <div class="row">
        <div class="col-md-12">
          <tabset type="pills" class="sgaTabs">
            <tab [heading]="'BOILER' | translate">
              <spirax-panel id="boilerParametersPanel" [title]="'BOILER_PARAMETERS' | translate" background="#EDF2F4">
                <div body class="row">
                  <div class="col-md-6 border-r-md">
                    <spirax-toggle formControlName="isSuperheatedSteam" label="IS_SUPERHEATED_STEAM"></spirax-toggle>

                    <spirax-toggle formControlName="isSteamFlowMeasured"
                                   (valueChange)="toggleInput($event && 'boilerSteamGeneratedPerHour', !$event && ['boilerSteamGeneratedPerHour', 'boilerSteamGeneratedPerYear'], null)"
                                   label="IS_STEAM_FLOW_MEASURED">
                      <div yes>
                        <input [label]="'STEAM_GENERATION_PER_HOUR' | translate"
                               [unitsStr]="[sizingUnits['BoilerHouseSmallMassFlowUnits']]"
                               (radioClick)="toggleInput('boilerSteamGeneratedPerHour', 'boilerSteamGeneratedPerYear', null)"
                               radio
                               formControlName="boilerSteamGeneratedPerHour"
                               type="number"
                               spirax-input
                               required>
                        <input [label]="'STEAM_GENERATION_PER_YEAR' | translate"
                               [unitsStr]="[sizingUnits['BoilerHouseMassFlowUnits']]"
                               (radioClick)="toggleInput('boilerSteamGeneratedPerYear', 'boilerSteamGeneratedPerHour', null)"
                               radio
                               formControlName="boilerSteamGeneratedPerYear"
                               type="number"
                               spirax-input
                               disabled
                               required>
                      </div>
                    </spirax-toggle>
                  </div>
                  <div class="col-md-6">
                    <input [label]="'STEAM_TEMPERATURE' | translate"
                           [unitsStr]="[sizingUnits['TemperatureUnit']]"
                           formControlName="boilerSteamTemperature"
                           type="number"
                           spirax-input
                           required>

                    <input [label]="'STEAM_PRESSURE' | translate"
                           [unitsStr]="[sizingUnits['PressureUnit']]"
                           formControlName="boilerSteamPressure"
                           type="number"
                           spirax-input
                           required>

                    <spirax-toggle formControlName="isEconomizerPresent" label="IS_ECONOMISER_PRESENT" (valueChange)="calculateEfficiencyHandle($event)"></spirax-toggle>

                    <input [label]="'BOILER_EFFICIENCY' | translate"
                           [unitsStr]="['%']"
                           formControlName="boilerEfficiency"
                           type="number"
                           spirax-input
                           required>
                  </div>
                </div>
              </spirax-panel>
            </tab>
            <tab [heading]="'TDS_BLOWDOWN' | translate">
              <spirax-panel id="blowdownEquipmentPanel" [title]="'BLOWDOWN_EQUIPMENT' | translate" background="#EDF2F4">
                <div class="row" body>
                  <div class="col-md-4 border-r-md">
                    <spirax-toggle formControlName="isBlowdownVesselPresent" label="IS_BLOWDOWN_VESSEL_PRESENT"></spirax-toggle>

                    <spirax-toggle formControlName="isCoolingWaterUsed" label="IS_COOLING_WATER_USED"></spirax-toggle>
                  </div>
                  <div class="col-md-4 border-r-md">
                    <spirax-toggle formControlName="isAutoTdsControlPResent" label="IS_AUTO_TDS_PRESENT"></spirax-toggle>

                    <spirax-toggle formControlName="isFlashVesselPresent" label="IS_FLASH_VESSEL_PRESENT"></spirax-toggle>
                  </div>
                  <div class="col-md-4">
                    <spirax-toggle formControlName="isHeatExchangerPresent"
                                   label="IS_HEAT_EXCHANGER_PRESENT"
                                   (valueChange)="heatExchangerPresentHandle($event); toggleInput($event ? 'waterTemperatureLeavingHeatExchanger' : null, !$event ? 'waterTemperatureLeavingHeatExchanger' : null, null)">
                      <div yes>
                        <input [label]="'WATER_TEMPERATURE_LEAVING_HEAT_EXCHANGER' | translate"
                               [unitsStr]="[sizingUnits['TemperatureUnit']]"
                               formControlName="waterTemperatureLeavingHeatExchanger"
                               type="number"
                               spirax-input
                               required>
                      </div>
                    </spirax-toggle>
                  </div>
                </div>
              </spirax-panel>

              <spirax-panel id="tdsBlowdownParametersPanel" [title]="'TDS_BLOWDOWN_PARAMETERS' | translate" background="#EDF2F4">
                <div class="row" body>
                  <div class="col-md-4 border-r-md">
                    <input [label]="'TDS_OF_FEEDWATER_IN_FEEDTANK' | translate"
                           [unitsStr]="[sizingUnits['BoilerHouseTDSUnits']]"
                           formControlName="tdsOfFeedwaterInFeedtank"
                           type="number"
                           spirax-input
                           required>
                  </div>
                  <div class="col-md-4 border-r-md">
                    <input [label]="'AVERAGE_BOILER_TDS' | translate"
                           [unitsStr]="[sizingUnits['BoilerHouseTDSUnits']]"
                           formControlName="boilerAverageTds"
                           type="number"
                           spirax-input
                           required>
                  </div>
                  <div class="col-md-4">
                    <input [label]="'MAXIMUM_ALLOWABLE_BOILER_TDS' | translate"
                           [unitsStr]="[sizingUnits['BoilerHouseTDSUnits']]"
                           formControlName="boilerMaxTds"
                           type="number"
                           spirax-input
                           required>
                  </div>
                </div>
              </spirax-panel>
            </tab>
            <tab [heading]="'WATER_TREATMENT' | translate">
              <spirax-panel id="makeUpWaterPanel" [title]="'MAKE_UP_WATER' | translate" background="#EDF2F4">
                <div class="row" body>
                  <div class="col-md-6">
                    <spirax-toggle formControlName="isMakeUpWaterMonitored" label="IS_MAKE_UP_WATER_MONITORED"
                                   (valueChange)="toggleInput($event && 'temperatureOfMakeupWater', !$event && 'temperatureOfMakeupWater', null)">
                      <div yes>
                        <input [label]="'TEMPERATURE_OF_MAKE_UP_WATER' | translate"
                               [unitsStr]="[sizingUnits['TemperatureUnit']]"
                               formControlName="temperatureOfMakeupWater"
                               type="number"
                               spirax-input
                               required>
                      </div>
                    </spirax-toggle>
                  </div>
                  <div class="col-md-6 border-l-md">
                    <input [label]="'MAKE_UP_WATER_PER_HOUR' | translate"
                           [unitsStr]="[sizingUnits['BoilerHouseSmallVolumetricFlowUnits']]"
                           (radioClick)="toggleInput('makeupWaterAmountPerHour', 'makeupWaterAmountPerYear', null)"
                           radio
                           formControlName="makeupWaterAmountPerHour"
                           type="number"
                           spirax-input
                           required>
                    <input [label]="'MAKE_UP_WATER_PER_YEAR' | translate"
                           [unitsStr]="[sizingUnits['BoilerHouseVolumetricFlowUnits']]"
                           (radioClick)="toggleInput('makeupWaterAmountPerYear', 'makeupWaterAmountPerHour', null)"
                           radio
                           formControlName="makeupWaterAmountPerYear"
                           type="number"
                           spirax-input
                           required>
                  </div>
                </div>
              </spirax-panel>

              <spirax-panel id="waterTreatmentParametersPanel" [title]="'WATER_TREATMENT_PARAMETERS' | translate" background="#EDF2F4">
                <div class="row" body>
                  <div class="col-md-4">
                    <form-list formControlName="waterTreatmentMethod"
                               enumeration-name="WaterTreatmentMethodList_BoilerHouseInput"
                               (on-change)="waterTreatmentHandle($event)"
                               label="WATER_TREATMENT_METHOD"></form-list>
                  </div>
                  <div class="col-md-4">
                    <input [label]="'PERCENTAGE_WATER_REJECTION' | translate"
                           [unitsStr]="['%']"
                           formControlName="percentageWaterRejection"
                           type="number"
                           spirax-input
                           required>
                  </div>
                  <div class="col-md-4">
                    <input [label]="'TDS_OF_MAKEUP_WATER' | translate"
                           [unitsStr]="[sizingUnits['BoilerHouseTDSUnits']]"
                           formControlName="tdsOfMakeupWater"
                           type="number"
                           spirax-input
                           required>
                  </div>
                </div>
              </spirax-panel>
            </tab>
            <tab [heading]="'FEEDWATER_AND_CONDENSATE' | translate">
              <spirax-panel id="deaeratorTypePanel" [title]="'DEAERATOR_TYPE' | translate" background="#EDF2F4">
                <div class="row" body>
                  <div class="col-md-4">
                    <spirax-form-radio-group [inputValue]="true"
                                             formControlName="atmosphericDeaerator"
                                             label="AUTMOSPHERIC_DEAERATOR"
                                             [defaultChecked]="formGroup.get('benchmarkInputs.atmosphericDeaerator').value"
                                             (valueChange)="setFormValue({pressurisedDeaerator: false, atmosphericDeaerator: true}); toggleInput(['isDsiPresent'], 'pressureOfFeedtank', null)"
                                             name="deaeratorType">
                      <img src="/assets/img/steam_generation/deaerator_type_1.png" alt="deaerator_type_1">
                    </spirax-form-radio-group>
                  </div>
                  <div class="col-md-4">
                    <spirax-form-radio-group [inputValue]="true"
                                             formControlName="pressurisedDeaerator"
                                             label="PRESSURLSED_DEAERATOR"
                                             [defaultChecked]="formGroup.get('benchmarkInputs.pressurisedDeaerator').value"
                                             (valueChange)="pressureDeaeratorHandle($event); setFormValue({pressurisedDeaerator: true, atmosphericDeaerator: false}); toggleInput('pressureOfFeedtank', ['isDsiPresent', 'pressureOfSteamSupplyingDsi'], null)"
                                             name="deaeratorType">
                      <img src="/assets/img/steam_generation/boiler-scheme/images/PressurisedDAImgCrop.png"
                           alt="deaerator_type_1">
                    </spirax-form-radio-group>
                  </div>
                </div>
              </spirax-panel>

              <spirax-panel id="boilerFeedwaterPanel" [title]="'BOILER_FEEDWATER' | translate" background="#EDF2F4">
                <div class="row" body>
                  <div class="col-md-4 border-r-md">
                    <spirax-toggle formControlName="isFeedWaterMeasured"
                                   (valueChange)="toggleInput($event && 'boilerFeedwaterConsumptionPerHour', !$event && ['boilerFeedwaterConsumptionPerHour', 'boilerFeedwaterConsumptionPerYear', null])"
                                   label="IS_FEEDWATER_FLOWRATE_MEASURED">
                      <div yes>
                        <input [label]="'CONSUMPTION_PER_HR' | translate"
                               [unitsStr]="[sizingUnits['BoilerHouseSmallVolumetricFlowUnits']]"
                               (radioClick)="toggleInput('boilerFeedwaterConsumptionPerHour', 'boilerFeedwaterConsumptionPerYear', null)"
                               radio
                               formControlName="boilerFeedwaterConsumptionPerHour"
                               type="number"
                               spirax-input
                               required>

                        <input [label]="'CONSUMPTION_PER_YEAR' | translate"
                               [unitsStr]="[sizingUnits['BoilerHouseVolumeUnits'], 'yr']"
                               (radioClick)="toggleInput('boilerFeedwaterConsumptionPerYear', 'boilerFeedwaterConsumptionPerHour', null)"
                               radio
                               formControlName="boilerFeedwaterConsumptionPerYear"
                               type="number"
                               disabled
                               spirax-input
                               required>
                      </div>
                    </spirax-toggle>
                  </div>
                  <div class="col-md-4 border-r-md">
                    <input [label]="'TEMPERATURE_OF_FEEDTANK' | translate"
                           [unitsStr]="[sizingUnits['TemperatureUnit']]"
                           formControlName="temperatureOfFeedtank"
                           type="number"
                           spirax-input
                           required>
                    <input [label]="'TDS_OF_FEEDWATER_IN_FEEDTANK' | translate"
                           [unitsStr]="[sizingUnits['BoilerHouseVolumeUnits']]"
                           [value]="formGroup.get('benchmarkInputs.tdsOfFeedwaterInFeedtank').value"
                           [disabled]="true"
                           formControlName="tdsOfFeedwaterInFeedtank"
                           type="number"
                           tabindex="-1"
                           readonly
                           disabled
                           spirax-input
                           required>

                    <spirax-toggle formControlName="areChemicalsAddedDirectlyToFeedtank" label="ARE_CHEMICALS_ADDED_DIRECTLY_TO_FEEDTANK"></spirax-toggle>
                  </div>
                  <div class="col-md-4">
                    <ng-container *ngIf="formGroup.get('benchmarkInputs.atmosphericDeaerator')?.value; else pressureDeaerator">
                      <spirax-toggle formControlName="isDsiPresent"
                                     (valueChange)="toggleInput($event && 'pressureOfSteamSupplyingDsi', !$event && 'pressureOfSteamSupplyingDsi', null)"
                                     label="IS_DSI_PRESENT">
                        <div yes>
                          <input [label]="'PRESSURE_OF_STEAM_SUPPLYING_DSI' | translate"
                                 [unitsStr]="[sizingUnits['PressureUnit']]"
                                 formControlName="pressureOfSteamSupplyingDsi"
                                 type="number"
                                 spirax-input
                                 required>
                        </div>
                      </spirax-toggle>
                    </ng-container>

                    <ng-template #pressureDeaerator>
                      <div>
                        <input [label]="'PRESSURE_OF_FEEDTANK' | translate"
                               [unitsStr]="[sizingUnits['PressureUnit']]"
                               formControlName="pressureOfFeedtank"
                               type="number"
                               spirax-input
                               required>
                      </div>
                    </ng-template>
                  </div>
                </div>
              </spirax-panel>

              <spirax-panel id="condensateReturnPanel" [title]="'CONDENSATE_RETURN' | translate" background="#EDF2F4">
                <div class="row" body>
                  <div class="col-md-6 border-r-md">
                    <spirax-toggle formControlName="isCondensateReturnKnown"
                                   (valueChange)="toggleInput($event && 'percentageOfCondensateReturn', !$event && ['percentageOfCondensateReturn', 'volumeOfCondensateReturn'], null)"
                                   label="IS_CONDENSATE_RETURN_KNOWN">
                      <div yes>
                        <input [label]="'PERCENTAGE_OF_CONDENSATE_RETURN' | translate"
                               [unitsStr]="['%']"
                               (radioClick)="toggleInput('percentageOfCondensateReturn', 'volumeOfCondensateReturn', null)"
                               radio
                               formControlName="percentageOfCondensateReturn"
                               type="number"
                               spirax-input
                               required>
                        <input [label]="'VOLUME_OF_CONDENSATE_RETURN' | translate"
                               [unitsStr]="[sizingUnits['BoilerHouseVolumeUnits'], 'yr']"
                               (radioClick)="toggleInput('volumeOfCondensateReturn', 'percentageOfCondensateReturn', null)"
                               radio
                               formControlName="volumeOfCondensateReturn"
                               type="number"
                               disabled
                               spirax-input
                               required>
                      </div>
                    </spirax-toggle>
                  </div>
                  <div class="col-md-6">
                    <input [label]="'TEMPERATURE_OF_CONDENSATE_RETURN' | translate"
                           [unitsStr]="[sizingUnits['TemperatureUnit']]"
                           formControlName="temperatureOfCondensateReturn"
                           type="number"
                           spirax-input
                           required>

                    <input [label]="'TDS_OF_CONDENSATE_RETURN' | translate"
                           [unitsStr]="[sizingUnits['BoilerHouseTDSUnits']]"
                           formControlName="tdsOfCondensateReturn"
                           type="number"
                           spirax-input
                           required>
                  </div>
                </div>
              </spirax-panel>
            </tab>
          </tabset>
        </div>

        <div class="col-md-2"></div>
        <div class="col-md-8">
          <app-boiler-scheme></app-boiler-scheme>
        </div>
      </div>
    </div>
  </form>
</spirax-panel>
