
<ng-container *ngIf="sizingUnits$ | async as sizingUnits; else loading">

  <spirax-panel [title]="'UTILITY_PARAMETERS' | translate"
                [(expanded)]="structure?.utility_parameters.status"
                id="UtilityParameters"
                titleSize="24px">
    <form body [formGroup]="formGroup">
      <div class="container-fluid" formGroupName="benchmarkInputs">
        <div class="row mb-5">
          <div class="col-md-5">
            <input [label]="'HOURS_OF_OPERATION' | translate"
                   [value]="getValue('hoursOfOperation') | decimalPlace: 0"
                   formControlName="hoursOfOperation"
                   type="number"
                   spirax-input
                   required>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <ng-template #tooltipFuel>
              <h6>{{'ALLOWS_YOU_TO_INPUT_FUEL_TYPE_AND_COSTS_HELP' | translate}}</h6>
              <p>{{'IF_A_STANDARD_FUEL_IS_USED_THE_CALORIFIC_VALUE_AND_CO2_EMISSIONS_FSLASH_UNIT_OF_FUEL_WILL_BE_AUTOMATICALLY_POPULATED_FROM_LOO_HELP' | translate}}</p>
            </ng-template>
            <spirax-panel id="FuelPanel"
                          [(expanded)]="structure?.utility_parameters.panels.fuel.status"
                          [title]="'FUEL' | translate"
                          [titleTooltip]="tooltipFuel" background="#EDF2F4">
              <div body>
                <form-list formControlName="inputFuelId"
                           enumeration-name="FuelTypeList_BoilerHouseInput"
                           (on-change)="fuelTypeHandle($event)"
                           label="FUEL_TYPE"
                           #fuel></form-list>

                <input [label]="'FUEL_CALORIFIC_VALUE' | translate"
                       [unitsStr]="[sizingUnits['BoilerHouseEnergyUnits']?.unit, sizingUnits[getFuelTypeName(fuel?.item?.value)]?.unit]"
                       [value]="getValue('fuelEnergyPerUnit') | decimalPlace: 9"
                       formControlName="fuelEnergyPerUnit"
                       type="number"
                       spirax-input
                       required/>

                <input [label]="'CO2_EMISSIONS_PER_UNIT_FUEL' | translate"
                       [unitsStr]="[sizingUnits['WeightUnit']?.unit, sizingUnits[getFuelTypeName(fuel?.item?.value)]?.unit]"
                       [value]="getValue('fuelCarbonContent') | decimalPlace: 9"
                       formControlName="fuelCarbonContent"
                       type="number"
                       spirax-input
                       required>

                <input [label]="'COST_OF_FUEL_PER_UNIT' | translate"
                       [unitsStr]="[sizingUnits['BHCurrency']?.unit, sizingUnits[getFuelTypeName(fuel?.item?.value)]?.unit]"
                       [value]="getValue('costOfFuelPerUnit') | decimalPlace: 9"
                       formControlName="costOfFuelPerUnit"
                       type="number"
                       spirax-input
                       required>

                <spirax-toggle formControlName="fuelQtyPerYearIsKnown"
                               (valueChange)="toggleInput($event && 'costOfFuelPerYear', !$event && ['costOfFuelPerYear', 'fuelConsumptionPerYear'])"
                               label="IS_FUEL_CONSUMPTION_MEASURED">
                  <div yes>
                    <input [label]="'FUEL_COSTS_PER_YEAR' | translate"
                           [unitsStr]="[sizingUnits['BHCurrency']?.unit, 'yr']"
                           (radioClick)="toggleInput('costOfFuelPerYear', 'fuelConsumptionPerYear', null)"
                           [value]="getValue('costOfFuelPerYear') | decimalPlace: sizingUnits['BHCurrency']?.decimal"
                           radio
                           formControlName="costOfFuelPerYear"
                           type="number"
                           spirax-input
                           required>

                    <input [label]="'FUEL_CONSUMPTION_PER_YEAR' | translate"
                           [unitsStr]="[sizingUnits[getFuelTypeName(fuel?.item?.value)]?.unit, 'yr']"
                           (radioClick)="toggleInput('fuelConsumptionPerYear', 'costOfFuelPerYear', null)"
                           [value]="getValue('fuelConsumptionPerYear') | decimalPlace: sizingUnits['BHCurrency']?.decimal"
                           [radio]="true"
                           formControlName="fuelConsumptionPerYear"
                           type="number"
                           spirax-input
                           required>
                  </div>
                </spirax-toggle>
              </div>
            </spirax-panel>

            <ng-template #cO2EmissionTooltip>
              <h6>{{'CARBON_TAX_LEVY_COST_PER_UNIT' | translate}}</h6>
              <p>{{'IF_CARBON_TAX_IS_PART_OF_THE_FUEL_BILL_IT_CAN_EITHER_BE_BROKEN_OUT_TO_ALLOW_THE_COST_OF_CO2_EMISSIONS_TO_BE_CALCULATED_OR_CAN_HELP' | translate}}</p>
            </ng-template>
            <spirax-panel id="CO2EmissionPanel"
                          title="CO2 Emission"
                          [(expanded)]="structure?.utility_parameters.panels.co2_emission.status"
                          [titleTooltip]="cO2EmissionTooltip" background="#EDF2F4">
              <spirax-toggle body
                             formControlName="isCo2OrCarbonEmissionsTaxed"
                             (valueChange)="toggleInput($event && ['carbonTaxLevyCostPerUnit'], !$event && ['carbonTaxLevyCostPerUnit', 'costOfCo2PerUnitMass'])"
                             label="ARE_CO2_OR_CARBON_EMISSIONS_TAXED">
                <div yes>
                  <input [label]="'CARBON_TAX_LEVY_COST_PER_UNIT' | translate"
                         [unitsStr]="[sizingUnits['BHCurrency']?.unit, sizingUnits['BoilerHouseEnergyUnits']?.unit]"
                         (radioClick)="toggleInput('carbonTaxLevyCostPerUnit', 'costOfCo2PerUnitMass', null)"
                         [value]="getValue('carbonTaxLevyCostPerUnit') | decimalPlace: sizingUnits['BoilerHouseEnergyUnits']?.decimal"
                         radio
                         formControlName="carbonTaxLevyCostPerUnit"
                         type="number"
                         spirax-input
                         required>
                  <input [label]="'COST_OF_CO2_PER_UNIT_MASS' | translate"
                         [unitsStr]="[sizingUnits['BHCurrency']?.unit, sizingUnits['BoilerHouseEmissionUnits']?.unit]"
                         (radioClick)="toggleInput('costOfCo2PerUnitMass', 'carbonTaxLevyCostPerUnit', null)"
                         [value]="getValue('costOfCo2PerUnitMass') | decimalPlace: sizingUnits['BoilerHouseEmissionUnits']?.decimal"
                         radio
                         formControlName="costOfCo2PerUnitMass"
                         type="number"
                         spirax-input
                         required>
                </div>
              </spirax-toggle>
            </spirax-panel>
          </div>

          <div class="col-md-6">
            <ng-template #waterTooltip>
              <div style="text-align: left;">
                <h6>{{'IS_BOILER_HOUSE_WATER_MEASURED' | translate}}</h6>
                <p>{{'IS_ALL_WATER_ENTERING_THE_BOILER_HOUSE_AS_PART_OF_THE_STEAM_GENERATION_PROCESS_MEASSURED_HELP' | translate}}</p>
                <h6>{{'WATER_CONSUMPTION_PER_YEAR' | translate}}</h6>
                <p>{{'ALL_WATER_ENTERING_THE_BOILER_HOUSE_AS_PART_OF_THE_STEAM_GENERATION_PROCESS_HELP' | translate}}</p>
              </div>
            </ng-template>
            <spirax-panel id="WaterPanel"
                          title="Water"
                          [(expanded)]="structure?.utility_parameters.panels.water.status"
                          [titleTooltip]="waterTooltip" background="#EDF2F4">
              <div body>
                <input [label]="'COST_OF_WATER_FSLASH_UNIT' | translate"
                       [unitsStr]="[sizingUnits['BHCurrency']?.unit, sizingUnits['BoilerHouseVolumeUnits']?.unit]"
                       [value]="getValue('costOfWaterPerUnit') | decimalPlace: sizingUnits['BoilerHouseVolumeUnits']?.decimal"
                       formControlName="costOfWaterPerUnit"
                       type="number"
                       spirax-input
                       required>

                <spirax-toggle formControlName="boilerHouseWaterQtyPerYearIsKnown"
                               (valueChange)="toggleInput($event && 'costOfWaterPerYear', !$event && ['costOfWaterPerYear', 'waterConsumptionPerHour', 'waterConsumptionPerYear'])"
                               label="IS_WATER_ENTERING_THE_BOILER_HOUSE_MEASURED">
                  <div yes>
                    <input [label]="'COST_OF_WATER_PER_YEAR' | translate"
                           [unitsStr]="[sizingUnits['BHCurrency']?.unit, 'yr']"
                           (radioClick)="toggleInput('costOfWaterPerYear', ['waterConsumptionPerHour', 'waterConsumptionPerYear'], null)"
                           [value]="getValue('costOfWaterPerYear') | decimalPlace: sizingUnits['BHCurrency']?.decimal"
                           radio
                           formControlName="costOfWaterPerYear"
                           type="number"
                           spirax-input
                           required>

                    <input [label]="'WATER_CONSUMPTION_HOUR' | translate"
                           [unitsStr]="[sizingUnits['BoilerHouseVolumeUnits']?.unit, 'hr']"
                           (radioClick)="toggleInput('waterConsumptionPerHour', ['waterConsumptionPerYear', 'costOfWaterPerYear'], null)"
                           [value]="getValue('waterConsumptionPerHour') | decimalPlace: sizingUnits['BoilerHouseVolumeUnits']?.decimal"
                           radio
                           formControlName="waterConsumptionPerHour"
                           type="number"
                           spirax-input
                           required>

                    <input [label]="'WATER_CONSUMPTION_YEAR' | translate"
                           [unitsStr]="[sizingUnits['BoilerHouseVolumeUnits']?.unit, 'yr']"
                           (radioClick)="toggleInput('waterConsumptionPerYear', ['waterConsumptionPerHour', 'costOfWaterPerYear'], null)"
                           [value]="getValue('waterConsumptionPerYear') | decimalPlace: sizingUnits['BoilerHouseVolumeUnits']?.decimal"
                           radio
                           formControlName="waterConsumptionPerYear"
                           type="number"
                           spirax-input
                           required>
                  </div>
                </spirax-toggle>
              </div>
            </spirax-panel>

            <ng-template #waterChemicalsTooltip>
              <div style="text-align: left;">
                <h6>{{'IS_CHEMICAL_COSTS_PER_YEAR_KNOWN' | translate}}</h6>
                <p>{{'COST_OF_WATER_TREATMENT_CHEMICALS_ONLY_THIS_DOES_NOT_INCLUDE_SERVICE_AGREEMENTS_OR_MAINTENANCE_COSTS_HELP' | translate}}</p>

                <h6>{{'TOTAL_CHEMICAL_COST_PER_YEAR' | translate}}</h6>
                <p>{{'COST_OF_WATER_TREATMENT_CHEMICALS_FSLASH_UNIT_OF_BOILER_WATER_BEING_TREATED_FOR_EXAMPLE_0_15_FSLASH_M3_BOILER_WATER_THIS_HELP' | translate}}</p>

                <h6>{{'O2_SCAVENGING_CHEMICALS_COST_SAVINGS' | translate}}</h6>
                <p>{{'THIS_IS_USED_TO_CALCULATE_ANY_CHEMICAL_SAVINGS_FROM_INCREASING_FEEDWATER_TEMPERATURE_USING_DIRECT_STEAM_INJECTION_HELP' | translate}}</p>
              </div>
            </ng-template>
            <spirax-panel id="waterTreatmentChemicalsPanel"
                          title="Water treatment chemicals"
                          [(expanded)]="structure?.utility_parameters.panels.water_treatment_chemicals.status"
                          [titleTooltip]="waterChemicalsTooltip" background="#EDF2F4">
              <spirax-toggle body formControlName="boilerWaterTreatmentChemicalCostsIsKnown"
                             (valueChange)="toggleInput($event && 'totalChemicalCostPerYear', !$event && ['totalChemicalCostPerYear', 'o2ScavengingChemicalsCostSavings'], null)"
                             label="ARE_CHEMICAL_COST_KNOWN">
                <div yes>
                  <input [label]="'TOTAL_CHEMICAL_COSTS_PER_YEAR' | translate"
                         [unitsStr]="[sizingUnits['BHCurrency']?.unit, 'yr']"
                         (radioClick)="toggleInput('totalChemicalCostPerYear', 'o2ScavengingChemicalsCostSavings', null)"
                         [value]="getValue('totalChemicalCostPerYear') | decimalPlace: sizingUnits['BHCurrency']?.decimal"
                         radio
                         formControlName="totalChemicalCostPerYear"
                         type="number"
                         spirax-input
                         required>
                  <input [label]="'O2_SCAVENGING_CHEMICALS_COST_SAVINGS' | translate"
                         [unitsStr]="[sizingUnits['BHCurrency']?.unit, 'yr']"
                         (radioClick)="toggleInput('o2ScavengingChemicalsCostSavings', 'totalChemicalCostPerYear', null)"
                         [value]="getValue('o2ScavengingChemicalsCostSavings') | decimalPlace: sizingUnits['BHCurrency']?.decimal"
                         radio
                         formControlName="o2ScavengingChemicalsCostSavings"
                         type="number"
                         spirax-input
                         required>
                </div>
              </spirax-toggle>
            </spirax-panel>

            <ng-template #waterEffluentTooltip>
              <h6>{{'IS_COOLING_WATER_USED' | translate}}</h6>
              <p>{{'IF_BLOWDOWN_VESSEL_SELECTED_AND_THE_CHECK_BOX_IS_COOLING_WATER_USED_IS_TICKED_IT_WILL_IMPACT_ON_BOILER_HOUSE_WATER_CONSUMPTIO_HELP' | translate}}</p>
            </ng-template>
            <spirax-panel id="waterEffluentPanel"
                          title="Water effluent"
                          [(expanded)]="structure?.utility_parameters.panels.water_effluent.status"
                          [titleTooltip]="waterEffluentTooltip" background="#EDF2F4">
              <div body>
                <input [label]="'COST_OF_EFFLUENT_FSLASH_UNIT' | translate"
                       [unitsStr]="[sizingUnits['BHCurrency']?.unit, sizingUnits['BoilerHouseVolumeUnits']?.unit]"
                       [value]="getValue('costOfEffluentPerUnit') | decimalPlace: sizingUnits['BoilerHouseVolumeUnits']?.decimal"
                       formControlName="costOfEffluentPerUnit"
                       type="number"
                       spirax-input
                       required>
              </div>
            </spirax-panel>
          </div>
        </div>
      </div>
    </form>
  </spirax-panel>

  <spirax-panel [title]="'BOILER_HOUSE_PARAMETERS' | translate"
                [(expanded)]="structure?.boiler_house_parameters.status"
                [showSeparator]="false"
                id="BoilerHouseParameters"
                titleSize="24px">
    <form body [formGroup]="formGroup">
      <div class="container-fluid" formGroupName="benchmarkInputs">
        <div class="row">
          <div class="col-md-12">
            <tabset type="pills" class="sgaTabs">
              <tab [heading]="'BOILER' | translate" [active]="structure.boiler_house_parameters.panels.boiler.status">
                <spirax-panel id="boilerParametersPanel"
                              [(expanded)]="structure?.boiler_house_parameters.panels.boiler.panels.boiler_parameters.status"
                              [title]="'BOILER_PARAMETERS' | translate" background="#EDF2F4">
                  <div body class="row">
                    <div class="col-md-6 border-r-md">
                      <spirax-toggle formControlName="isSuperheatedSteam"
                                     (valueChange)="toggleInput($event && 'boilerSteamTemperature', !$event && 'boilerSteamTemperature')"
                                     label="IS_SUPERHEATED_STEAM"></spirax-toggle>

                      <spirax-toggle formControlName="isSteamFlowMeasured"
                                     (valueChange)="toggleInput($event && 'boilerSteamGeneratedPerHour', !$event && ['boilerSteamGeneratedPerHour', 'boilerSteamGeneratedPerYear'], null)"
                                     label="IS_STEAM_FLOW_MEASURED">
                        <div yes>
                          <input [label]="'STEAM_GENERATION_PER_HOUR' | translate"
                                 [unitsStr]="[sizingUnits['BoilerHouseSmallMassFlowUnits']?.unit]"
                                 (radioClick)="toggleInput('boilerSteamGeneratedPerHour', 'boilerSteamGeneratedPerYear', null)"
                                 [value]="getValue('boilerSteamGeneratedPerHour') | decimalPlace: sizingUnits['BoilerHouseSmallMassFlowUnits']?.decimal"
                                 radio
                                 formControlName="boilerSteamGeneratedPerHour"
                                 type="number"
                                 spirax-input
                                 required>
                          <input [label]="'STEAM_GENERATION_PER_YEAR' | translate"
                                 [unitsStr]="[sizingUnits['BoilerHouseMassFlowUnits']?.unit]"
                                 (radioClick)="toggleInput('boilerSteamGeneratedPerYear', 'boilerSteamGeneratedPerHour', null)"
                                 [value]="getValue('boilerSteamGeneratedPerYear') | decimalPlace: sizingUnits['BoilerHouseMassFlowUnits']?.decimal"
                                 radio
                                 formControlName="boilerSteamGeneratedPerYear"
                                 type="number"
                                 spirax-input
                                 disabled
                                 required>
                        </div>
                      </spirax-toggle>
                    </div>
                    <div class="col-md-6">
                      <input [label]="'STEAM_TEMPERATURE' | translate"
                             [unitsStr]="[sizingUnits['TemperatureUnit']?.unit]"
                             [value]="getValue('boilerSteamTemperature') | decimalPlace: sizingUnits['TemperatureUnit']?.decimal"
                             formControlName="boilerSteamTemperature"
                             type="number"
                             spirax-input
                             required>

                      <input [label]="'STEAM_PRESSURE' | translate"
                             [unitsStr]="[sizingUnits['PressureUnit']?.unit]"
                             [value]="getValue('boilerSteamPressure') | decimalPlace: sizingUnits['PressureUnit']?.decimal"
                             formControlName="boilerSteamPressure"
                             type="number"
                             spirax-input
                             required>

                      <spirax-toggle formControlName="isEconomizerPresent" label="IS_ECONOMISER_PRESENT" (valueChange)="boilerEfficiencyHandle($event)"></spirax-toggle>

                      <input [label]="'BOILER_EFFICIENCY' | translate"
                             [unitsStr]="['%']"
                             [value]="getValue('boilerEfficiency') | decimalPlace: 2"
                             formControlName="boilerEfficiency"
                             type="number"
                             spirax-input
                             required>
                    </div>
                  </div>
                </spirax-panel>
              </tab>
              <tab [heading]="'TDS_BLOWDOWN' | translate" [active]="structure.boiler_house_parameters.panels.tds_blowdown.status">
                <spirax-panel id="blowdownEquipmentPanel"
                              [(expanded)]="structure?.boiler_house_parameters.panels.tds_blowdown.panels.blowdown_equipment.status"
                              [title]="'BLOWDOWN_EQUIPMENT' | translate" background="#EDF2F4">
                  <div class="row" body>
                    <div class="col-md-4 border-r-md">
                      <spirax-toggle formControlName="isBlowdownVesselPresent" label="IS_BLOWDOWN_VESSEL_PRESENT"></spirax-toggle>

                      <spirax-toggle formControlName="isCoolingWaterUsed" label="IS_COOLING_WATER_USED"></spirax-toggle>
                    </div>
                    <div class="col-md-4 border-r-md">
                      <spirax-toggle formControlName="isAutoTdsControlPResent"
                                     (valueChange)="toggleInput('isFlashVesselPresent', ['isFlashVesselPresent', 'isHeatExchangerPresent', 'waterTemperatureLeavingHeatExchanger'], false, $event)"
                                     label="IS_AUTO_TDS_PRESENT"></spirax-toggle>

                      <spirax-toggle formControlName="isFlashVesselPresent"
                                     (valueChange)="toggleInput('isHeatExchangerPresent', ['isHeatExchangerPresent', 'waterTemperatureLeavingHeatExchanger'], false, $event)"
                                     label="IS_FLASH_VESSEL_PRESENT"></spirax-toggle>
                    </div>
                    <div class="col-md-4">
                      <spirax-toggle formControlName="isHeatExchangerPresent"
                                     (valueChange)="toggleInput('waterTemperatureLeavingHeatExchanger', 'waterTemperatureLeavingHeatExchanger', null, $event)"
                                     label="IS_HEAT_EXCHANGER_PRESENT">
                        <div yes>
                          <input [label]="'WATER_TEMPERATURE_LEAVING_HEAT_EXCHANGER' | translate"
                                 [unitsStr]="[sizingUnits['TemperatureUnit']?.unit]"
                                 [value]="getValue('waterTemperatureLeavingHeatExchanger') | decimalPlace: sizingUnits['TemperatureUnit']?.decimal"
                                 formControlName="waterTemperatureLeavingHeatExchanger"
                                 type="number"
                                 spirax-input
                                 required>
                        </div>
                      </spirax-toggle>
                    </div>
                  </div>
                </spirax-panel>

                <spirax-panel id="tdsBlowdownParametersPanel"
                              [(expanded)]="structure?.boiler_house_parameters.panels.tds_blowdown.panels.tds_blowdown_parameters.status"
                              [title]="'TDS_BLOWDOWN_PARAMETERS' | translate" background="#EDF2F4">
                  <div class="row" body>
                    <div class="col-md-4 border-r-md">
                      <input [label]="'TDS_OF_FEEDWATER_IN_FEEDTANK' | translate"
                             [unitsStr]="[sizingUnits['BoilerHouseTDSUnits']?.unit]"
                             [value]="getValue('tdsOfFeedwaterInFeedtank') | decimalPlace: sizingUnits['BoilerHouseTDSUnits']?.decimal"
                             formControlName="tdsOfFeedwaterInFeedtank"
                             type="number"
                             spirax-input
                             required>
                    </div>
                    <div class="col-md-4 border-r-md">
                      <input [label]="'AVERAGE_BOILER_TDS' | translate"
                             [unitsStr]="[sizingUnits['BoilerHouseTDSUnits']?.unit]"
                             [value]="getValue('boilerAverageTds') | decimalPlace: sizingUnits['BoilerHouseTDSUnits']?.decimal"
                             formControlName="boilerAverageTds"
                             type="number"
                             spirax-input
                             required>
                    </div>
                    <div class="col-md-4">
                      <input [label]="'MAXIMUM_ALLOWABLE_BOILER_TDS' | translate"
                             [unitsStr]="[sizingUnits['BoilerHouseTDSUnits']?.unit]"
                             [value]="getValue('boilerMaxTds') | decimalPlace: sizingUnits['BoilerHouseTDSUnits']?.decimal"
                             formControlName="boilerMaxTds"
                             type="number"
                             spirax-input
                             required>
                    </div>
                  </div>
                </spirax-panel>
              </tab>
              <tab [heading]="'WATER_TREATMENT' | translate" [active]="structure.boiler_house_parameters.panels.water_treatment.status">
                <spirax-panel id="makeUpWaterPanel"
                              [(expanded)]="structure?.boiler_house_parameters.panels.water_treatment.panels.make_up_water.status"
                              [title]="'MAKE_UP_WATER' | translate" background="#EDF2F4">
                  <div class="row" body>
                    <div class="col-md-6">
                      <spirax-toggle formControlName="isMakeUpWaterMonitored" label="IS_MAKE_UP_WATER_MONITORED"
                                     (valueChange)="toggleInput($event && 'temperatureOfMakeupWater', !$event && 'temperatureOfMakeupWater', null)">
                        <div yes>
                          <input [label]="'TEMPERATURE_OF_MAKE_UP_WATER' | translate"
                                 [unitsStr]="[sizingUnits['TemperatureUnit']?.unit]"
                                 [value]="getValue('temperatureOfMakeupWater') | decimalPlace: sizingUnits['TemperatureUnit']?.decimal"
                                 formControlName="temperatureOfMakeupWater"
                                 type="number"
                                 spirax-input
                                 required>
                        </div>
                      </spirax-toggle>
                    </div>
                    <div class="col-md-6 border-l-md">
                      <input [label]="'MAKE_UP_WATER_PER_HOUR' | translate"
                             [unitsStr]="[sizingUnits['BoilerHouseSmallVolumetricFlowUnits']?.unit]"
                             (radioClick)="toggleInput('makeupWaterAmountPerHour', 'makeupWaterAmountPerYear', null)"
                             [value]="getValue('makeupWaterAmountPerHour') | decimalPlace: sizingUnits['BoilerHouseSmallVolumetricFlowUnits']?.decimal"
                             radio
                             formControlName="makeupWaterAmountPerHour"
                             type="number"
                             spirax-input>
                      <input [label]="'MAKE_UP_WATER_PER_YEAR' | translate"
                             [unitsStr]="[sizingUnits['BoilerHouseVolumetricFlowUnits']?.unit]"
                             (radioClick)="toggleInput('makeupWaterAmountPerYear', 'makeupWaterAmountPerHour', null)"
                             [value]="getValue('makeupWaterAmountPerYear') | decimalPlace: sizingUnits['BoilerHouseVolumetricFlowUnits']?.decimal"
                             radio
                             formControlName="makeupWaterAmountPerYear"
                             type="number"
                             spirax-input>
                    </div>
                  </div>
                </spirax-panel>

                <spirax-panel id="waterTreatmentParametersPanel"
                              [(expanded)]="structure?.boiler_house_parameters.panels.water_treatment.panels.water_treatment_parameters.status"
                              [title]="'WATER_TREATMENT_PARAMETERS' | translate" background="#EDF2F4">
                  <div class="row" body>
                    <div class="col-md-4">
                      <form-list formControlName="waterTreatmentMethod"
                                 enumeration-name="WaterTreatmentMethodList_BoilerHouseInput"
                                 (on-change)="waterTreatmentHandle($event)"
                                 label="WATER_TREATMENT_METHOD"></form-list>
                    </div>
                    <div class="col-md-4">
                      <input [label]="'PERCENTAGE_WATER_REJECTION' | translate"
                             [unitsStr]="['%']"
                             [value]="getValue('percentageWaterRejection') | decimalPlace: 2"
                             formControlName="percentageWaterRejection"
                             type="number"
                             spirax-input
                             required>
                    </div>
                    <div class="col-md-4">
                      <input [label]="'TDS_OF_MAKEUP_WATER' | translate"
                             [unitsStr]="[sizingUnits['BoilerHouseTDSUnits']?.unit]"
                             [value]="getValue('tdsOfMakeupWater') | decimalPlace: sizingUnits['BoilerHouseTDSUnits']?.decimal"
                             formControlName="tdsOfMakeupWater"
                             type="number"
                             spirax-input
                             required>
                    </div>
                  </div>
                </spirax-panel>
              </tab>
              <tab [heading]="'FEEDWATER_AND_CONDENSATE' | translate" [active]="structure.boiler_house_parameters.panels.feedwater_and_condensate.status">
                <spirax-panel id="deaeratorTypePanel"
                              [(expanded)]="structure?.boiler_house_parameters.panels.feedwater_and_condensate.panels.deaerator_type.status"
                              [title]="'DEAERATOR_TYPE' | translate" background="#EDF2F4">
                  <div class="row" body>
                    <div class="col-md-4">
                      <spirax-form-radio-group [inputValue]="true"
                                               formControlName="atmosphericDeaerator"
                                               label="AUTMOSPHERIC_DEAERATOR"
                                               [defaultChecked]="formGroup.get('benchmarkInputs.atmosphericDeaerator').value"
                                               (valueChange)="setFormValue({pressurisedDeaerator: false, atmosphericDeaerator: true}); setFormValue('temperatureOfFeedtank', null); toggleInput(['isDsiPresent'], 'pressureOfFeedtank', null)"
                                               name="deaeratorType">
                        <img src="/assets/img/steam_generation/deaerator_type_1.png" alt="deaerator_type_1">
                      </spirax-form-radio-group>
                    </div>
                    <div class="col-md-4">
                      <spirax-form-radio-group [inputValue]="true"
                                               formControlName="pressurisedDeaerator"
                                               label="PRESSURLSED_DEAERATOR"
                                               [defaultChecked]="formGroup.get('benchmarkInputs.pressurisedDeaerator').value"
                                               (valueChange)="setFormValue({pressurisedDeaerator: true, atmosphericDeaerator: false}); toggleInput('pressureOfFeedtank', ['isDsiPresent', 'pressureOfSteamSupplyingDsi'], null)"
                                               name="deaeratorType">
                        <img src="/assets/img/steam_generation/boiler-scheme/images/PressurisedDAImgCrop.png"
                             alt="deaerator_type_1">
                      </spirax-form-radio-group>
                    </div>
                  </div>
                </spirax-panel>

                <spirax-panel id="boilerFeedwaterPanel"
                              [(expanded)]="structure?.boiler_house_parameters.panels.feedwater_and_condensate.panels.boiler_feedwater.status"
                              [title]="'BOILER_FEEDWATER' | translate" background="#EDF2F4">
                  <div class="row" body>
                    <div class="col-md-4 border-r-md">
                      <spirax-toggle formControlName="isFeedWaterMeasured"
                                     (valueChange)="toggleInput($event && 'boilerFeedwaterConsumptionPerHour', !$event && ['boilerFeedwaterConsumptionPerHour', 'boilerFeedwaterConsumptionPerYear', null])"
                                     label="IS_FEEDWATER_FLOWRATE_MEASURED">
                        <div yes>
                          <input [label]="'CONSUMPTION_PER_HR' | translate"
                                 [unitsStr]="[sizingUnits['BoilerHouseSmallVolumetricFlowUnits']?.unit]"
                                 (radioClick)="toggleInput('boilerFeedwaterConsumptionPerHour', 'boilerFeedwaterConsumptionPerYear', null)"
                                 [value]="getValue('boilerFeedwaterConsumptionPerHour') | decimalPlace: sizingUnits['BoilerHouseSmallVolumetricFlowUnits']?.decimal"
                                 radio
                                 formControlName="boilerFeedwaterConsumptionPerHour"
                                 type="number"
                                 spirax-input
                                 required>

                          <input [label]="'CONSUMPTION_PER_YEAR' | translate"
                                 [unitsStr]="[sizingUnits['BoilerHouseVolumeUnits']?.unit, 'yr']"
                                 (radioClick)="toggleInput('boilerFeedwaterConsumptionPerYear', 'boilerFeedwaterConsumptionPerHour', null)"
                                 [value]="getValue('boilerFeedwaterConsumptionPerYear') | decimalPlace: sizingUnits['BoilerHouseVolumeUnits']?.decimal"
                                 radio
                                 formControlName="boilerFeedwaterConsumptionPerYear"
                                 type="number"
                                 disabled
                                 spirax-input
                                 required>
                        </div>
                      </spirax-toggle>
                    </div>
                    <div class="col-md-4 border-r-md">
                      <input [label]="'TEMPERATURE_OF_FEEDTANK' | translate"
                             [unitsStr]="[sizingUnits['TemperatureUnit']?.unit]"
                             [value]="getValue('temperatureOfFeedtank') | decimalPlace: sizingUnits['TemperatureUnit']?.decimal"
                             formControlName="temperatureOfFeedtank"
                             type="number"
                             spirax-input
                             required>
                      <input [label]="'TDS_OF_FEEDWATER_IN_FEEDTANK' | translate"
                             [unitsStr]="[sizingUnits['BoilerHouseVolumeUnits']?.unit]"
                             [disabled]="true"
                             [value]="getValue('tdsOfFeedwaterInFeedtank') | decimalPlace: sizingUnits['BoilerHouseVolumeUnits']?.decimal"
                             formControlName="tdsOfFeedwaterInFeedtank"
                             type="number"
                             tabindex="-1"
                             readonly
                             disabled
                             spirax-input
                             required>

                      <spirax-toggle formControlName="areChemicalsAddedDirectlyToFeedtank" label="ARE_CHEMICALS_ADDED_DIRECTLY_TO_FEEDTANK"></spirax-toggle>
                    </div>
                    <div class="col-md-4">
                      <ng-container *ngIf="formGroup.get('benchmarkInputs.atmosphericDeaerator')?.value; else pressureDeaerator">
                        <spirax-toggle formControlName="isDsiPresent"
                                       (valueChange)="toggleInput($event && 'pressureOfSteamSupplyingDsi', !$event && 'pressureOfSteamSupplyingDsi', null)"
                                       label="IS_DSI_PRESENT">
                          <div yes>
                            <input [label]="'PRESSURE_OF_STEAM_SUPPLYING_DSI' | translate"
                                   [unitsStr]="[sizingUnits['PressureUnit']?.unit]"
                                   [value]="getValue('pressureOfSteamSupplyingDsi') | decimalPlace: sizingUnits['PressureUnit']?.decimal"
                                   formControlName="pressureOfSteamSupplyingDsi"
                                   type="number"
                                   spirax-input
                                   required>
                          </div>
                        </spirax-toggle>
                      </ng-container>

                      <ng-template #pressureDeaerator>
                        <div>
                          <input [label]="'PRESSURE_OF_FEEDTANK' | translate"
                                 [unitsStr]="[sizingUnits['PressureUnit']?.unit]"
                                 [value]="getValue('pressureOfFeedtank') | decimalPlace: sizingUnits['PressureUnit']?.decimal"
                                 formControlName="pressureOfFeedtank"
                                 type="number"
                                 spirax-input
                                 required>
                        </div>
                      </ng-template>
                    </div>
                  </div>
                </spirax-panel>

                <spirax-panel id="condensateReturnPanel"
                              [(expanded)]="structure?.boiler_house_parameters.panels.feedwater_and_condensate.panels.condensate_return.status"
                              [title]="'CONDENSATE_RETURN' | translate" background="#EDF2F4">
                  <div class="row" body>
                    <div class="col-md-6 border-r-md">
                      <spirax-toggle formControlName="isCondensateReturnKnown"
                                     (valueChange)="toggleInput($event && 'percentageOfCondensateReturn', !$event && ['percentageOfCondensateReturn', 'volumeOfCondensateReturn'], null)"
                                     label="IS_CONDENSATE_RETURN_KNOWN">
                        <div yes>
                          <input [label]="'PERCENTAGE_OF_CONDENSATE_RETURN' | translate"
                                 [unitsStr]="['%']"
                                 (radioClick)="toggleInput('percentageOfCondensateReturn', 'volumeOfCondensateReturn', null)"
                                 [value]="getValue('percentageOfCondensateReturn') | decimalPlace: 2"
                                 radio
                                 formControlName="percentageOfCondensateReturn"
                                 type="number"
                                 spirax-input
                                 required>
                          <input [label]="'VOLUME_OF_CONDENSATE_RETURN' | translate"
                                 [unitsStr]="[sizingUnits['BoilerHouseVolumeUnits']?.unit, 'yr']"
                                 (radioClick)="toggleInput('volumeOfCondensateReturn', 'percentageOfCondensateReturn', null)"
                                 [value]="getValue('volumeOfCondensateReturn') | decimalPlace: sizingUnits['BoilerHouseVolumeUnits']?.decimal"
                                 radio
                                 formControlName="volumeOfCondensateReturn"
                                 type="number"
                                 disabled
                                 spirax-input
                                 required>
                        </div>
                      </spirax-toggle>
                    </div>
                    <div class="col-md-6">
                      <input [label]="'TEMPERATURE_OF_CONDENSATE_RETURN' | translate"
                             [unitsStr]="[sizingUnits['TemperatureUnit']?.unit]"
                             [value]="getValue('temperatureOfCondensateReturn') | decimalPlace: sizingUnits['TemperatureUnit']?.decimal"
                             formControlName="temperatureOfCondensateReturn"
                             type="number"
                             spirax-input
                             required>

                      <input [label]="'TDS_OF_CONDENSATE_RETURN' | translate"
                             [unitsStr]="[sizingUnits['BoilerHouseTDSUnits']?.unit]"
                             [value]="getValue('tdsOfCondensateReturn') | decimalPlace: sizingUnits['BoilerHouseTDSUnits']?.decimal"
                             formControlName="tdsOfCondensateReturn"
                             type="number"
                             spirax-input
                             required>
                    </div>
                  </div>
                </spirax-panel>
              </tab>
            </tabset>
          </div>

          <div class="col-md-2"></div>
          <div class="col-md-8">
            <app-boiler-scheme></app-boiler-scheme>
          </div>
        </div>
      </div>
    </form>
  </spirax-panel>
</ng-container>

<ng-template #loading><h2 style="width: 100%; text-align: center;">Loading...</h2></ng-template>
