<tabset class="sgaFinalProposal" *ngIf="current && potential && units; else noData">
  <tab>
    <h5 class="sgaBaseTabs_title_md">{{'PROPOSED_SETUP' | translate}}</h5>
    <ng-template tabHeading>
      <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.6665 10.8333H6.6665V17.5H1.6665V10.8333ZM7.49984 2.5H12.4998V17.5H7.49984V2.5ZM13.3332 6.66667H18.3332V17.5H13.3332V6.66667Z" />
      </svg>
    </ng-template>

    <p class="sgaBaseTabs_title_sm">{{'POTENTIAL_BOILER_HOUSE_SAVINGS_BY_PROJECT' | translate}}</p>
    <p class="sgaBaseTabs_title_xs">{{'SAVING' | translate}} £’000s / {{'YR' | translate}}</p>
    <app-chart-bar *ngIf="verticalChart"
                   [style]="{'min-height': '400px'}"
                   [data]="verticalChart"
                   [labels]="chartLabels"></app-chart-bar>
    <hr>
    <p class="sgaBaseTabs_title_sm">{{'COST_OF_STEAM_GENERATION' | translate}}<i class="fa fa-info-circle"></i></p>
    <app-chart-bar type="horizontalBar"
                   *ngIf="horizontalChart"
                   [legend]="false"
                   [data]="horizontalChart"
                   [labels]="['POTENTIAL' | translate, 'CURRENT' | translate]"></app-chart-bar>
  </tab>
  <tab [active]="true">
    <h5 class="sgaBaseTabs_title_md">{{'PROPOSED_SETUP' | translate}}</h5>
    <ng-template tabHeading>
      <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.7 18H7.3V8.22222H12.7V18ZM14.5 18V8.22222H19V17.1111C19 17.3469 18.9052 17.573 18.7364 17.7397C18.5676 17.9064 18.3387 18 18.1 18H14.5ZM5.5 18H1.9C1.66131 18 1.43239 17.9064 1.2636 17.7397C1.09482 17.573 1 17.3469 1 17.1111V8.22222H5.5V18ZM19 6.44444H1V2.88889C1 2.65314 1.09482 2.42705 1.2636 2.26035C1.43239 2.09365 1.66131 2 1.9 2H18.1C18.3387 2 18.5676 2.09365 18.7364 2.26035C18.9052 2.42705 19 2.65314 19 2.88889V6.44444Z"/>
      </svg>
    </ng-template>

    <div class="row">
      <div class="col-md-12">
        <p class="sgaBaseTabs_title_sm">
          {{'MAJOR_STEAM_GENERATION_OUTPUTS_AND_CONDENSATE_RETURN_SAVINGS' | translate}}
          <i class="fa fa-info-circle"></i>
        </p>
      </div>
      <div class="col-md-12">
        <table class="customTable">
          <thead>
          <tr>
            <th rowspan="2">{{'COST_OF_STEAM_GENERATED' | translate}}</th>
            <th colspan="2">{{'BENCHMARK_CURRENT_SITUATION' | translate}}</th>
            <th colspan="2">{{'POTENTIAL' | translate}}</th>
            <th colspan="2">{{'SAVINGS' | translate}}</th>
          </tr>
          <tr>
            <th class="text-center">{{'QUANTITY' | translate}}</th>
            <th class="text-center">{{'VALUE' | translate}}</th>

            <th class="text-center">{{'QUANTITY' | translate}}</th>
            <th class="text-center">{{'VALUE' | translate}}</th>

            <th class="text-center">{{'SAVING' | translate}}</th>
            <th class="text-center">%</th>
          </tr>
          </thead>
          <tbody>
          <ng-template #emptyCol><td>-</td></ng-template>
          <tr>
            <td>{{'FUEL_QUANTITY' | translate}}</td>
            <td *ngIf="current.fuelConsumptionPerYear; else emptyCol">{{current.fuelConsumptionPerYear | number: '0.0-2'}} {{units[current.fuelConsumptionPerYearUnit]}}</td>
            <td *ngIf="current.costOfFuelPerYear; else emptyCol">{{current.costOfFuelPerYear | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="potential.fuelConsumptionPerYear; else emptyCol">{{potential.fuelConsumptionPerYear | number: '0.0-2'}} {{units[potential.fuelConsumptionPerYearUnit]}}</td>
            <td *ngIf="potential.costOfFuelPerYear; else emptyCol">{{potential.costOfFuelPerYear | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current.costOfFuelPerYear && potential.costOfFuelPerYear; else emptyCol">{{current.costOfFuelPerYear - potential.costOfFuelPerYear | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current.costOfFuelPerYear && potential.costOfFuelPerYear; else emptyCol">{{savingPercent(current.costOfFuelPerYear, potential.costOfFuelPerYear) | number: '0.0-2'}}%</td>
          </tr>
          <tr>
            <td>{{'FUEL_ENERGY' | translate}}</td>
            <td *ngIf="current.qfuel; else emptyCol">{{current.qfuel | number: '0.0-2'}} {{units[current.qfuelUnit]}}</td>
            <td>–</td>
            <td *ngIf="potential.qfuel; else emptyCol">{{potential.qfuel | number: '0.0-2'}} {{units[potential.qfuelUnit]}}</td>
            <td>–</td>
            <td>–</td>
            <td>–</td>
          </tr>
          <tr>
            <td>{{'BOILER_HOUSE_WATER_AND_CHEMICALS' | translate}}</td>
            <td *ngIf="current.boilerHouseWaterFlowTotal; else emptyCol">{{current.boilerHouseWaterFlowTotal | number: '0.0-2'}} {{units[current.boilerHouseWaterFlowTotalUnit]}}</td>
            <td *ngIf="current.waterAndChemicalsCostTotalPerYear; else emptyCol">{{current.waterAndChemicalsCostTotalPerYear | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="potential.boilerHouseWaterFlowTotal; else emptyCol">{{potential.boilerHouseWaterFlowTotal | number: '0.0-2'}} {{units[potential.boilerHouseWaterFlowTotalUnit]}}</td>
            <td *ngIf="potential.waterAndChemicalsCostTotalPerYear; else emptyCol">{{potential.waterAndChemicalsCostTotalPerYear | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td>{{(current.waterAndChemicalsCostTotalPerYear - potential.waterAndChemicalsCostTotalPerYear) | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td>{{savingPercent(current.waterAndChemicalsCostTotalPerYear, potential.waterAndChemicalsCostTotalPerYear) | number: '0.0-2'}}%</td>
          </tr>
          <tr>
            <td>{{'CO2_EMISSIONS' | translate}}</td>
            <td *ngIf="current.tonnesOfCO2; else emptyCol">{{current.tonnesOfCO2 | number: '0.0-2'}} {{units[current.tonnesOfCO2Unit]}}/{{'YR' | translate}}</td>
            <td *ngIf="current.costOfCO2PerYear; else emptyCol">{{current.costOfCO2PerYear | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="potential.tonnesOfCO2; else emptyCol">{{potential.tonnesOfCO2 | number: '0.0-2'}} {{units[potential.tonnesOfCO2Unit]}}/{{'YR' | translate}}</td>
            <td *ngIf="potential.costOfCO2PerYear; else emptyCol">{{potential.costOfCO2PerYear | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current.costOfCO2PerYear && potential.costOfCO2PerYear; else emptyCol">{{(current.costOfCO2PerYear - potential.costOfCO2PerYear) | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current.costOfCO2PerYear && potential.costOfCO2PerYear; else emptyCol">{{savingPercent(current.costOfCO2PerYear, potential.costOfCO2PerYear) | number: '0.0-2'}}%</td>
          </tr>
          <tr>
            <td>{{'STEAM_GENERATION_EFFLUENT'}}</td>
            <td *ngIf="current.boilerHouseTotalVolumeOfWaterEffluent; else emptyCol">{{current.boilerHouseTotalVolumeOfWaterEffluent | number: '0.0-2'}} {{units[current.boilerHouseTotalVolumeOfWaterEffluentUnit]}}</td>
            <td *ngIf="current.costOfBoilerHouseEffluent; else emptyCol">{{current.costOfBoilerHouseEffluent | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="potential.boilerHouseTotalVolumeOfWaterEffluent; else emptyCol">{{potential.boilerHouseTotalVolumeOfWaterEffluent | number: '0.0-2'}} {{units[potential.boilerHouseTotalVolumeOfWaterEffluentUnit]}}</td>
            <td *ngIf="potential.costOfBoilerHouseEffluent; else emptyCol">{{potential.costOfBoilerHouseEffluent | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current.costOfBoilerHouseEffluent && potential.costOfBoilerHouseEffluent; else emptyCol">{{(current.costOfBoilerHouseEffluent - potential.costOfBoilerHouseEffluent) | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current.costOfBoilerHouseEffluent && potential.costOfBoilerHouseEffluent; else emptyCol">{{savingPercent(current.costOfBoilerHouseEffluent, potential.costOfBoilerHouseEffluent) | number: '0.0-2'}}%</td>
          </tr>
          <tr class="filled">
            <td>{{'TOTAL_STEAM_GENERATED' | translate}}</td>
            <td *ngIf="current.mBoiler; else emptyCol">{{current.mBoiler | number: '0.0-2'}} {{units[current.mBoilerUnit]}}/{{'YR' | translate}}</td>
            <td *ngIf="current.totalCostOfSteamPerYear; else emptyCol">{{current.totalCostOfSteamPerYear | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="potential.mBoiler; else emptyCol">{{potential.mBoiler | number: '0.0-2'}} {{units[potential.mBoilerUnit]}}/{{'YR' | translate}}</td>
            <td *ngIf="potential.totalCostOfSteamPerYear; else emptyCol">{{potential.totalCostOfSteamPerYear | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current.totalCostOfSteamPerYear && potential.totalCostOfSteamPerYear; else emptyCol">{{(current.totalCostOfSteamPerYear - potential.totalCostOfSteamPerYear) | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current.totalCostOfSteamPerYear && potential.totalCostOfSteamPerYear; else emptyCol">{{savingPercent(current.totalCostOfSteamPerYear, potential.totalCostOfSteamPerYear) | number: '0.0-2'}}%</td>
          </tr>
          <tr>
            <td>{{'TOTAL_COST_OF_STEAM_FSLASH_UNIT_MASS' | translate}}</td>
            <td>–</td>
            <td *ngIf="current.totalCostOfSteamPerTonne; else emptyCol">{{current.totalCostOfSteamPerTonne | number: '0.0-2'}} {{currency}}/{{units[current.totalCostOfSteamPerTonneUnit]}}</td>
            <td>-</td>
            <td *ngIf="potential.totalCostOfSteamPerTonne; else emptyCol">{{potential.totalCostOfSteamPerTonne | number: '0.0-2'}} {{currency}}/{{units[potential.totalCostOfSteamPerTonneUnit]}}</td>
            <td>–</td>
            <td>–</td>
          </tr>
          <tr>
            <td>{{'TOTAL_COST_OF_STEAM_FSLASH_UNIT_ENERGY' | translate}}</td>
            <td>–</td>
            <td *ngIf="current.totalCostOfSteamPerkWhOfFuel; else emptyCol">{{current.totalCostOfSteamPerkWhOfFuel | number: '0.0-2'}} {{currency}}/kWh</td>
            <td>–</td>
            <td *ngIf="potential.totalCostOfSteamPerkWhOfFuel; else emptyCol">{{potential.totalCostOfSteamPerkWhOfFuel | number: '0.0-2'}} {{currency}}/kWh</td>
            <td>–</td>
            <td>–</td>
          </tr>
          <tr class="filled">
            <td>{{'OVERALL_STEAM_GENERATION_EFFICIENCY' | translate}}</td>
            <td *ngIf="current.energyToGenerateUnitofSteam; else emptyCol">{{current.energyToGenerateUnitofSteam | number: '0.0-2'}} {{units[current.energyToGenerateUnitofSteamUnit]}}</td>
            <td>–</td>
            <td *ngIf="potential.energyToGenerateUnitofSteam; else emptyCol">{{potential.energyToGenerateUnitofSteam | number: '0.0-2'}} {{units[potential.energyToGenerateUnitofSteamUnit]}}</td>
            <td>-</td>
            <td *ngIf="current.energyToGenerateUnitofSteam && potential.energyToGenerateUnitofSteam; else emptyCol">{{(current.energyToGenerateUnitofSteam - potential.energyToGenerateUnitofSteam) | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current.energyToGenerateUnitofSteam && potential.energyToGenerateUnitofSteam; else emptyCol">{{savingPercent(current.totalCostOfSteamPerTonne, potential.totalCostOfSteamPerTonne) | number: '0.0-2'}}%</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <td colspan="4"></td>
            <td>{{'TOTAL_SAVINGS' | translate}}</td>
            <td>
              {{((current.costOfFuelPerYear || 0 - potential.costOfFuelPerYear || 0) +
            (current.waterAndChemicalsCostTotalPerYear || 0 - potential.waterAndChemicalsCostTotalPerYear || 0) +
            (current.costOfBoilerHouseEffluent || 0 - potential.costOfBoilerHouseEffluent || 0) +
            (current.costOfCO2PerYear || 0 - potential.costOfCO2PerYear || 0) +
            (current.mCondy || 0 - potential.mCondy || 0) * current.costOfEffm3) | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td>{{savingPercent(
              (current.costOfFuelPerYear || 0) + (current.waterAndChemicalsCostTotalPerYear || 0) + (current.costOfBoilerHouseEffluent || 0) + (current.costOfCO2PerYear || 0) + (current.mCondy || 0),
              (potential.costOfFuelPerYear || 0) + (potential.waterAndChemicalsCostTotalPerYear || 0) + (potential.costOfBoilerHouseEffluent || 0) + (potential.costOfCO2PerYear || 0) + (potential.mCondy || 0)
            ) | number: '0.0-2'}}%</td>
          </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </tab>
  <tab>
    <h5 class="sgaBaseTabs_title_md">Proposed setup</h5>
    <ng-template tabHeading>
      <svg width="20" height="20" viewBox="6 5 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M25 19.5556V23.1111C25 23.3469 24.9052 23.573 24.7364 23.7397C24.5676 23.9064 24.3387 24 24.1 24H7.9C7.66131 24 7.43239 23.9064 7.2636 23.7397C7.09482 23.573 7 23.3469 7 23.1111V19.5556H25ZM24.1 8C24.3387 8 24.5676 8.09365 24.7364 8.26035C24.9052 8.42705 25 8.65314 25 8.88889V17.7778H7V8.88889C7 8.65314 7.09482 8.42705 7.2636 8.26035C7.43239 8.09365 7.66131 8 7.9 8H24.1Z"/>
      </svg>
    </ng-template>

    <p class="sgaBaseTabs_title_sm">
      {{'BREAKDOWN_OF_BOILER_HOUSE_ESTIMATED_COSTS_AND_SAVINGS' | translate}}
      <i class="fa fa-info-circle"></i>
    </p>
    <table class="sgaFinalProposal_info orange mb">
      <caption>
        <span>{{'TOTAL_STEAM_GENERATION_COSTS' | translate}}</span>
        <i class="fa fa-info-circle"></i>
      </caption>

      <thead>
      <tr>
        <th></th>
        <th>{{'EXISTING_RETURNS' | translate}}</th>
        <th>{{'POTENTIAL_RETURNS' | translate}}</th>
        <th>{{'SAVINGS' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{'MASS_FLOW_FSLASH_YR' | translate}}</td>
        <td>63,800 tonnes/yr</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>{{'MASS_FLOW_FSLASH_HR' | translate}}</td>
        <td>7,303 kg/h</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>{{'COST_FSLASH_UNIT_MASS' | translate}}</td>
        <td>25,19 £/tonne</td>
        <td>22,93 £/tonne</td>
        <td>2 £/tonne</td>
      </tr>
      <tr>
        <td>{{'COST_FSLASH_UNIT_ENERGY' | translate}}</td>
        <td>7,303 £/kWh</td>
        <td>0,0293 £/kWh</td>
        <td>0,0007 £/kWh</td>
      </tr>
      <tr>
        <td>{{'ENERGY_FSLASH_UNIT_MASS' | translate}}</td>
        <td>7,303 kWh/tonne</td>
        <td>781 kWh/tonne</td>
        <td>57 kWh/tonne</td>
      </tr>
      <tr class="text-bold">
        <td>{{'COST_FSLASH_YR' | translate}}</td>
        <td>1,607,026 £/tonne</td>
        <td>1,463,113 £/tonne</td>
        <td>143,913 £/tonne</td>
      </tr>
      </tbody>
    </table>
    <table class="sgaFinalProposal_info mb">
      <caption>
        <span>{{'BREAKDOWN_OF_BOILER_HOUSE_ESTIMATED_COSTS_AND_SAVINGS' | translate}}</span>
        <i class="fa fa-info-circle"></i>
      </caption>
      <ng-container>
        <thead>
        <tr>
          <th>{{'Fuel' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'QUANTITY' | translate}}</td>
          <td>53,500,000 kWh/yr</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td>{{'COST_FSLASH_UNIT_FUEL' | translate}}</td>
          <td>0,025  £/kWh</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td>{{'ENERGY' | translate}}</td>
          <td>53,500,000 kWh/yr</td>
          <td>22,93 £/tonne</td>
          <td>2 £/tonne</td>
        </tr>

        <tr>
          <td>{{'COST_FSLASH_UNIT_ENERGY' | translate}}</td>
          <td>0.025 £/kWh</td>
          <td>0,0293 £/kWh</td>
          <td>0,0007 £/kWh</td>
        </tr>

        <tr class="text-bold">
          <td>{{'COST_OF_FUEL_PER_YEAR' | translate}}</td>
          <td>1,337,500 £/yr</td>
          <td>1,463,113 £/tonne</td>
          <td>143,913 £/tonne</td>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'COST_OF_FUEL_PER_YEAR' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'MASS_EMITTED' | translate}}</td>
          <td>9,896 tonnes/yr</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr>
          <td>{{'COST_FSLASH_UNIT_MASS' | translate}}</td>
          <td>20,00 £/tonne</td>
          <td>-</td>
          <td>-</td>
        </tr>

        <tr class="text-bold">
          <td>{{"COST_OF_CO2_EMISSIONS_FSLASH_YEAR"}}</td>
          <td>197,921 £</td>
          <td>197,921 £</td>
          <td>197,921 £</td>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'WATER' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'QUANTITY' | translate}}</td>
          <td>36,596 m3/yr</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>{{'COST_OF_WATER_UNIT_VOLUME' | translate}}</td>
          <td>1.10 £/m3</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_OF_BOILER_WATER_YEAR' | translate}}</td>
          <td>40,255 £</td>
          <td>40,255 £</td>
          <td>40,255 £</td>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'WATER_TREATMENT' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'COST_OF_CHEMICALS_FSLASH_UNIT_OF_WATER' | translate}}</td>
          <td>0.50 £/m3</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr class="text-bold">
          <td>{{'CHEMICALS_PER_YR' | translate}}</td>
          <td>14,476 £/yr</td>
          <td>14,476 £/yr</td>
          <td>14,476 £/yr</td>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'EFFLUENT' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'QUANTITY' | translate}}</td>
          <td>28,710 m3/yr</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>{{'COST_FSLASH_UNIT' | translate}}</td>
          <td>1.30 £/m3</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_OF_EFFLUENT_FSLASH_YEAR' | translate}}</td>
          <td>37,323 £/yr</td>
          <td>37,323 £/yr</td>
          <td>37,323 £/yr</td>
        </tr>
        </tbody>
      </ng-container>
    </table>
    <table class="sgaFinalProposal_info pink mb">
      <caption>
        <span>{{'OPPORTUNITIES_FOR_BOILER_HOUSE_SAVINGS' | translate}}</span>
        <i class="fa fa-info-circle"></i>
      </caption>
      <ng-container>
        <thead>
        <tr>
          <th>{{'STACK_AND_RADIATION_LOSSES' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'PERCENT_OF_LOST_FUEL_ENERGY' | translate}}</td>
          <td>16%</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>{{'FUEL_ENERGY' | translate}}</td>
          <td>8,560,000 kWh/yr</td>
          <td>8,560,000 kWh/yr</td>
          <td>8,560,000 kWh/yr</td>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_OF_FUEL_PER_YEAR' | translate}}</td>
          <td>245,667 £/yr</td>
          <td>245,667 £/yr</td>
          <td>245,667 £/yr</td>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'TOTAL_COST_OF_BLOWDOWN' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'PERCENT_BLOWDOWN' | translate}}</td>
          <td>6.18%</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>{{'EFFLUENT' | translate}}</td>
          <td>11,995 m3/yr</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>{{'REPLACEMENT_WATER_FSLASH_CHEMICALS' | translate}}</td>
          <td>11,995 m3/yr</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>{{'FUEL_ENERGY' | translate}}</td>
          <td>963,550 kWh/yr</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr>
          <td>{{"CO2_EMISSION" | translate}}</td>
          <td>178.23 tonne/yr</td>
          <td>-</td>
          <td>-</td>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_FSLASH_YR' | translate}}</td>
          <td>58,531 £/yr</td>
          <td>58,531 £/yr</td>
          <td>58,531 £/yr</td>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'EFFLUENT_FROM_WATER_TREATMENT' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'VOLUME' | translate}}</td>
          <td>1,148 m3/yr</td>
          <td>1,148 m3/yr</td>
          <td>1,148 m3/yr</td>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_FSLASH_YR' | translate}}</td>
          <td>1,493 £/tonne</td>
          <td>1,493 £/tonne</td>
          <td>1,493 £/tonne</td>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'02_SCAVENGING_CHEMICALS' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-bold">
          <td>{{'COST_FSLASH_YR' | translate}}</td>
          <td>6,000 £/tonne</td>
          <td>6,000 £/tonne</td>
          <td>6,000 £/tonne</td>
        </tr>
        </tbody>
      </ng-container>
    </table>
    <table class="sgaFinalProposal_info green">
      <caption>
        <span>{{'CONDENSATE_RETURN_PER_SAVINGS' | translate}}</span>
        <i class="fa fa-info-circle"></i>
      </caption>
      <thead>
      <tr>
        <th>{{'TOTAL_SAVINGS_FROM_CONDENSATE_RETURNED' | translate}}</th>
        <th>{{'EXISTING_RETURNS' | translate}}</th>
        <th>{{'POTENTIAL_RETURNS' | translate}}</th>
        <th>{{'SAVINGS' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{'PERCENT_RETURNED' | translate}}</td>
        <td>65%</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>{{'WATER_AND_CHEMICALS_SAVED' | translate}}</td>
        <td>45,365 m3/yt</td>
        <td>45,365 m3/yt</td>
        <td>45,365 m3/yt</td>
      </tr>
      <tr>
        <td>Effluent Reduced</td>
        <td>45,365 m3/yt</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr>
        <td>Fuel saved</td>
        <td>4,223,974 kWh/yr</td>
        <td>4,223,974 kWh/yr</td>
        <td>4,223,974 kWh/yr</td>
      </tr>
      <tr>
        <td>CO2 Emission Reduced</td>
        <td>781 tonne/yr</td>
        <td>-</td>
        <td>-</td>
      </tr>
      <tr class="text-bold">
        <td>Total Value Saved</td>
        <td>230,100 £/yr</td>
        <td>230,100 £/yr</td>
        <td>230,100 £/yr</td>
      </tr>
      </tbody>
    </table>
  </tab>
  <tab>
    <h5 class="sgaBaseTabs_title_md">Final proposal</h5>
    <ng-template tabHeading>
      <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.3332 17.5L9.36484 10.225L12.4998 5L19.1665 17.5H13.3332ZM6.6665 8.33333L11.6665 17.5H1.6665L6.6665 8.33333ZM4.58317 6.66667C4.03064 6.66667 3.50073 6.44717 3.11003 6.05647C2.71933 5.66577 2.49984 5.13587 2.49984 4.58333C2.49984 4.0308 2.71933 3.5009 3.11003 3.11019C3.50073 2.71949 4.03064 2.5 4.58317 2.5C5.1357 2.5 5.66561 2.71949 6.05631 3.11019C6.44701 3.5009 6.6665 4.0308 6.6665 4.58333C6.6665 5.13587 6.44701 5.66577 6.05631 6.05647C5.66561 6.44717 5.1357 6.66667 4.58317 6.66667Z"/>
      </svg>
    </ng-template>
    <div class="row mb">
      <div class="col-md-6">
        <table class="sgaFinalProposal_info pink">
          <caption>
            <span>Stack and radiation losses</span>
            <i class="fa fa-info-circle"></i>
          </caption>
          <thead>
          <tr>
            <th>Position name</th>
            <th>Current</th>
            <th>Potential</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Heat losses</td>
            <td>16%</td>
            <td>16%</td>
          </tr>
          <tr>
            <td>Fuel Energy</td>
            <td>8,560,000</td>
            <td>8,560,000 <span>kWh/yr</span></td>
          </tr>
          <tr class="text-bold">
            <td>{{'COST_FSLASH_YR' | translate}}</td>
            <td>245,667</td>
            <td>245,667 <span>£/yr</span></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="sgaFinalProposal_info pink">
          <caption>
            <span>CO2 Emissions</span>
            <i class="fa fa-info-circle"></i>
          </caption>
          <thead>
          <tr>
            <th>Position name</th>
            <th>Current</th>
            <th>Potential</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Cost / Unit Mass</td>
            <td>20.00</td>
            <td>20.00 £/m3</td>
          </tr>
          <tr>
            <td>Mass Emitted</td>
            <td>9,896</td>
            <td>9,896 tonne/yr</td>
          </tr>
          <tr class="text-bold">
            <td>{{'COST_FSLASH_YR' | translate}}</td>
            <td>245,667</td>
            <td>245,667 £/yr</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mb">
      <div class="col-sm-5">
        <table class="sgaFinalProposal_info mb">
          <caption>
            <span>Fuel consumption</span>
            <i class="fa fa-info-circle"></i>
          </caption>
          <thead>
          <tr>
            <th>Position name</th>
            <th>Current</th>
            <th>Potential</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Cost / Unit</td>
            <td>0,025</td>
            <td>0,025</td>
            <td>£/kWh</td>
          </tr>
          <tr>
            <td>Quatity</td>
            <td>53,500,000</td>
            <td>53,500,000</td>
            <td>kWh/yr</td>
          </tr>
          <tr class="text-bold">
            <td>{{'COST_OF_FUEL_PER_YEAR' | translate}}</td>
            <td>1,337,500</td>
            <td>1,337,500</td>
            <td>£/yr</td>
          </tr>
          </tbody>
        </table>
        <table class="sgaFinalProposal_info">
          <caption>
            <span>Water consumption & water treatment chemicals</span>
            <i class="fa fa-info-circle"></i>
          </caption>
          <thead>
          <tr>
            <th>Position name</th>
            <th>Current</th>
            <th>Potential</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Cost of water / unit volume</td>
            <td>1.10</td>
            <td>1.10 £/m3</td>
          </tr>
          <tr>
            <td>Quatity</td>
            <td>36,596</td>
            <td>36,596 m3/yr</td>
          </tr>
          <tr>
            <td>Cost of Boiler water / year</td>
            <td>40,255</td>
            <td>40,255 £</td>
          </tr>
          <tr>
            <td>Cost of chemicals / unit</td>
            <td>0.50</td>
            <td>0.50 £/m3</td>
          </tr>
          <tr>
            <td>Cost of chemicals / Yr</td>
            <td>14,476</td>
            <td>14,476 £/yr</td>
          </tr>
          <tr class="text-bold">
            <td>Cost of Chemicals / year</td>
            <td>14,476</td>
            <td>14,476 £/yr</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-sm-7">
        <div class="row">
          <div class="col-sm-4 mb">
            <div class="flex justify-content-between mb">
              <i class="sga-arrow pink arrow-up"></i>
              <i class="sga-arrow pink arrow-up"></i>
            </div>
            <div class="flex justify-content-between mb">
              <i class="sga-arrow"></i>
              <i class="sga-arrow orange"></i>
            </div>
            <img class="img-responsive mb"
                 src="/assets/img/steam_generation/benchmark_statistic_scheme.png"
                 alt="benchmark_statistic_scheme">
            <div class="flex justify-content-between mb">
              <i class="sga-arrow"></i>
              <i class="sga-arrow arrow-left green"></i>
            </div>
            <i class="sga-arrow pink arrow-down"></i>
          </div>
          <div class="col-sm-8 mb">
            <table class="sgaFinalProposal_info orange mb">
              <caption>
                <span>steam consumption</span>
                <i class="fa fa-info-circle"></i>
              </caption>
              <thead>
              <tr>
                <th>Position name</th>
                <th>Current</th>
                <th>Potential</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Cost / Unit Mass</td>
                <td>25,19</td>
                <td>25,19 £/tonne</td>
              </tr>
              <tr>
                <td>Mass flow / Yr</td>
                <td>63,800</td>
                <td>63,800 kg/h</td>
              </tr>
              <tr>
                <td>Mass Flow</td>
                <td>7,303</td>
                <td>7,303 kg/h</td>
              </tr>
              <tr class="text-bold">
                <td>{{'COST_FSLASH_YR' | translate}}</td>
                <td>1,607,026</td>
                <td>1,607,026 £/tonne</td>
              </tr>
              </tbody>
            </table>
            <table class="sgaFinalProposal_info green">
              <caption>
                <span>Condensate returned</span>
                <i class="fa fa-info-circle"></i>
              </caption>
              <thead>
              <tr>
                <th>Position name</th>
                <th>Current</th>
                <th>Potential</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{'PERCENT_RETURNED' | translate}}</td>
                <td>65%</td>
                <td>65%</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12">
            <table class="sgaFinalProposal_info pink">
              <caption>
                <span>Steam generation effluent</span>
                <i class="fa fa-info-circle"></i>
              </caption>
              <thead>
              <tr>
                <th>Position name</th>
                <th>Current</th>
                <th>Potential</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Cost / Unit</td>
                <td>1,30</td>
                <td>1,30 £/m3</td>
              </tr>
              <tr>
                <td>{{'QUANTITY' | translate}}</td>
                <td>12,979</td>
                <td>12,979 m3/yr</td>
              </tr>
              <tr class="text-bold">
                <td>{{'COST_FSLASH_YR' | translate}}</td>
                <td>245,667</td>
                <td>245,667 £/yr</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab>
    <h5 class="sgaBaseTabs_title_md">Final proposal</h5>
    <ng-template tabHeading>
      <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" fill="none">
        <path d="M18 0V2C18 11.627 12.627 16 6 16H4.098C4.31 12.988 5.248 11.165 7.696 8.999C8.9 7.934 8.798 7.319 8.205 7.672C4.121 10.102 2.093 13.386 2.003 18.63L2 19H0C0 17.637 0.116 16.4 0.346 15.268C0.116 13.974 0 12.218 0 10C0 4.477 4.477 0 10 0C12 0 14 1 18 0Z"/>
      </svg>
    </ng-template>
    <div class="row mb">
      <div class="col-md-12">
        <p>Last tab</p>
      </div>
    </div>
  </tab>
</tabset>

<ng-template #noData><h1>Loading... OR No data</h1></ng-template>
