@font-face {
  font-family: 'sga-icons';
  src:  url('./icons/sga-icons.eot?melp2o');
  src:  url('./icons/sga-icons.eot?melp2o#iefix') format('embedded-opentype'),
  url('./icons/sga-icons.ttf?melp2o') format('truetype'),
  url('./icons/sga-icons.woff?melp2o') format('woff'),
  url('./icons/sga-icons.svg?melp2o#sga-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i[class^="sga-"] {
  font-family: 'sga-icons', sans-serif !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  font-size: 21px;
  margin-right: 19px;

  &.sga-water-effluent {
    color: var(--color-blue);
    border-color: var(--color-blue);
    &:before {
      content: "\e903";
    }
  }
  &.sga-co2-emissions {
    color: var(--color-orange);
    border-color: var(--color-orange);
    &:before {
      content: "\e900";
    }
  }
  &.sga-thermal-energy {
    color: var(--color-green);
    border-color: var(--color-green);
    &:before {
    content: "\e901";
  }
  }
  &.sga-water-consumption {
    color: var(--color-steel);
    border-color: var(--color-steel);
    &:before {
    content: "\e902";
  }
  }
}

.sgaFinalProposal {
  @media screen and (max-width: 1200px) and (min-width: 920px){
    .customTable  {
      zoom: .6;
    }
  }
  @media screen and (max-width: 920px){
    .customTable  {
      zoom: .4;
    }
  }

  &::ng-deep {
    &>.nav {
      margin: 20px 20px 0 0;
      float: right;
      list-style: none;
      background-color: var(--color-background-panel);
      border-radius: 100px;
      padding: 8px;
      display: inline-flex;
      align-items: stretch;
      border: none;
      &:after {
        display: none;
      }

      li {
        display: grid;
        align-content: center;
        &:not(&:first-child, &:last-child) {
          margin: 0 4px;
        }
      }

      a {
        width: 32px;
        height: 32px;
        max-width: 32px;
        max-height: 32px;
        min-width: 32px;
        min-height: 32px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        text-decoration: none;
        color: var(--color-blue);
        svg {
          fill: var(--color-blue);
        }

        &.active {
          background-color: var(--color-blue);
          color: var(--color-white);
          &>svg {
            fill: var(--color-white);
          }
        }
      }
    }

    &>.tab-content {
      background-color: #fff;
      border: 1px solid transparent;
      border-radius: 0 0 4px 4px;
      box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
      padding-top: 26px;
    }
  }

  &_title {
    font-family: var(--font-proxima-nova);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 115%;
    text-transform: uppercase;
    color: var(--color-blue);
    margin: 0 0 26px;
    padding-bottom: 26px;
    border-bottom: 1px solid var(--color-steel-40);
  }

  &_info {
    width: 100%;
    border-collapse: initial;
    background-color: var(--color-background-panel);
    border-spacing: 0 8px;
    font-family: var(--font-open-sans);
    color: var(--color-black);
    font-style: normal;
    font-weight: normal;
    line-height: 150%;
    letter-spacing: 0.02em;
    position: relative;
    &.pink {
      background-color: var(--color-pink-20);
      caption:before {
        background-color: var(--color-pink-40);
      }
    }
    &.green {
      background-color: var(--color-green-20);
      caption:before {
        background-color: var(--color-green-40);
      }
    }
    &.orange {
      background-color: var(--color-orange-20);
      caption:before {
        background-color: #F4CEA1;
      }
    }

    caption {
      word-break: break-word;
      background-color: inherit;
      padding: 24px;
      font-family: var(--font-proxima-nova);
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 105%;
      text-transform: uppercase;
      color: var(--color-blue);
      position: relative;
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 24px;
        right: 24px;
        height: 1px;
        background-color: var(--color-steel-40);
      }

      i {
        float: right;
      }
    }

    thead, tfoot {
      td, th {
        font-weight: bold;
      }
    }

    thead {
      tr {
        &:first-child {
          td,th {
            &:first-child {
              font-family: var(--font-proxima-nova);
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 105%;
              color: var(--color-blue);
              text-transform: uppercase;
            }
          }
        }
      }

      &~thead{
        th {
          padding-top: 24px;
          border-top: 1px solid var(--color-steel-40);
        }
      }
    }

    tbody {
      &:not(&:last-child) {
        tr:last-child {
          td {
            padding-bottom: 24px;
          }
        }
      }
    }

    thead, tbody, tfoot {
      tr {
        td, th {
          &:first-child {
            padding-left: 16px;
          }
          &:last-child {
            padding-right: 16px;
          }
        }
      }
    }

    tr {
      td, th {
        &:not(&:first-child) {
          text-align: right;
        }
      }
    }

    &+.sgaFinalProposal_info {
      &:before {
        content: '';
        position: absolute;
        left: 24px;
        right: 24px;
        top: 0;
        height: 1px;
        background-color: var(--color-steel-40);
      }
    }

    .staticScheme {
      margin: 0 auto;
    }
  }

  .mb {
    margin-bottom: 24px!important;
  }

  .flex {
    display: flex;
  }

  .justify-content-between {
    justify-content: space-between;
  }

  .align-items {
    align-items: center;
  }

  .hide {
    &-xs {
      @media screen and (max-width: 768px){
        display: none;
      }
    }
  }

  .card {
    width: 100%;
    font-family: var(--font-proxima-nova);
    font-style: normal;
    font-weight: 600;
    &-img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      background: #000;
      @media screen and (max-width: 1400px){
        height: 220px;
      }
      @media screen and (max-width: 980px){
        height: 300px;
      }
    }

    &-body {
      margin-top: 16px;
    }

    &-badge {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 105%;
      margin-bottom: 8px;
      &>i {
        margin-right: 7px;
      }
    }

    &-title {
      font-size: 24px;
      line-height: 115%;
      color: var(--color-blue);
      margin-bottom: 4px;
    }

    &-text {
      font-family: var(--font-open-sans);
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 200%;
      color: var(--color-black);
      margin: 0;
      padding: 0;
    }
  }

  // Colors
  .orange {
    color: var(--color-orange);
  }
  .green {
    color: var(--color-green);
  }
  .steel {
    color: var(--color-steel);
  }
  .blue {
    color: var(--color-blue);
  }
}

