<ng-template #emptyCol><td>-</td></ng-template> <!-- If column value is empty shows it  -->

<tabset class="sgaFinalProposal" *ngIf="current && potential && units; else noData">
  <tab>
    <h5 class="sgaBaseTabs_title_md">{{'PROPOSED_SETUP' | translate}}</h5>
    <ng-template tabHeading>
      <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M1.6665 10.8333H6.6665V17.5H1.6665V10.8333ZM7.49984 2.5H12.4998V17.5H7.49984V2.5ZM13.3332 6.66667H18.3332V17.5H13.3332V6.66667Z" />
      </svg>
    </ng-template>

    <p class="sgaBaseTabs_title_sm">{{'POTENTIAL_BOILER_HOUSE_SAVINGS_BY_PROJECT' | translate}}</p>
    <p class="sgaBaseTabs_title_xs">{{'SAVING' | translate}} £’000s / {{'YR' | translate}}</p>
    <app-chart-bar *ngIf="verticalChart"
                   [style]="{'min-height': '400px'}"
                   [data]="verticalChart"
                   [labels]="chartLabels"></app-chart-bar>
    <hr>
    <p class="sgaBaseTabs_title_sm">{{'COST_OF_STEAM_GENERATION' | translate}}<i class="fa fa-info-circle"></i></p>
    <app-chart-bar type="horizontalBar"
                   *ngIf="horizontalChart"
                   [legend]="false"
                   [data]="horizontalChart"
                   [labels]="['POTENTIAL' | translate, 'CURRENT' | translate]"></app-chart-bar>
  </tab>
  <tab>
    <h5 class="sgaBaseTabs_title_md">{{'PROPOSED_SETUP' | translate}}</h5>
    <ng-template tabHeading>
      <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.7 18H7.3V8.22222H12.7V18ZM14.5 18V8.22222H19V17.1111C19 17.3469 18.9052 17.573 18.7364 17.7397C18.5676 17.9064 18.3387 18 18.1 18H14.5ZM5.5 18H1.9C1.66131 18 1.43239 17.9064 1.2636 17.7397C1.09482 17.573 1 17.3469 1 17.1111V8.22222H5.5V18ZM19 6.44444H1V2.88889C1 2.65314 1.09482 2.42705 1.2636 2.26035C1.43239 2.09365 1.66131 2 1.9 2H18.1C18.3387 2 18.5676 2.09365 18.7364 2.26035C18.9052 2.42705 19 2.65314 19 2.88889V6.44444Z"/>
      </svg>
    </ng-template>

    <div class="row">
      <div class="col-md-12">
        <p class="sgaBaseTabs_title_sm">
          {{'MAJOR_STEAM_GENERATION_OUTPUTS_AND_CONDENSATE_RETURN_SAVINGS' | translate}}
          <i class="fa fa-info-circle"></i>
        </p>
      </div>
      <div class="col-md-12">
        <table class="customTable">
          <ng-template #majorSteamOutputs let-quantity="quantity" let-value="value" let-unit="unit" let-name="name">
            <td>{{name | translate}}</td>
            <td *ngIf="current[quantity]; else emptyCol">{{current[quantity] | number: '0.0-2'}} {{unit}}</td>
            <td *ngIf="current[value]; else emptyCol">{{current[value] | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="potential[quantity]; else emptyCol">{{potential[quantity] | number: '0.0-2'}} {{unit}}</td>
            <td *ngIf="potential[value]; else emptyCol">{{potential[value] | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current[value] && potential[value]; else emptyCol">{{current[value] - potential[value] | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
            <td *ngIf="current[value] && potential[value]; else emptyCol">{{savingPercent(current[value], potential[value]) | number: '0.0-2'}}%</td>
          </ng-template>
          <thead>
            <tr>
              <th rowspan="2">{{'COST_OF_STEAM_GENERATED' | translate}}</th>
              <th colspan="2">{{'BENCHMARK_CURRENT_SITUATION' | translate}}</th>
              <th colspan="2">{{'POTENTIAL' | translate}}</th>
              <th colspan="2">{{'SAVINGS' | translate}}</th>
            </tr>
            <tr>
              <th class="text-center">{{'QUANTITY' | translate}}</th>
              <th class="text-center">{{'VALUE' | translate}}</th>

              <th class="text-center">{{'QUANTITY' | translate}}</th>
              <th class="text-center">{{'VALUE' | translate}}</th>

              <th class="text-center">{{'SAVING' | translate}}</th>
              <th class="text-center">%</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <ng-container [ngTemplateOutlet]="majorSteamOutputs"
                            [ngTemplateOutletContext]="{name: 'FUEL_QUANTITY', quantity: 'fuelConsumptionPerYear',value: 'costOfFuelPerYear',unit: units[selectedUnits?.fuelUnitSelected]}"></ng-container>
            </tr>
            <tr>
              <ng-container [ngTemplateOutlet]="majorSteamOutputs"
                            [ngTemplateOutletContext]="{name: 'FUEL_ENERGY', quantity: 'qfuel',value: null,unit: units[selectedUnits?.energyUnitSelected]}"></ng-container>
            </tr>
            <tr>
              <ng-container [ngTemplateOutlet]="majorSteamOutputs"
                            [ngTemplateOutletContext]="{name: 'BOILER_HOUSE_WATER_AND_CHEMICALS', quantity: 'boilerHouseWaterFlowTotal',value: 'waterAndChemicalsCostTotalPerYear',unit: units[selectedUnits?.volumeUnitSelected]}"></ng-container>
            </tr>
            <tr>
              <ng-container [ngTemplateOutlet]="majorSteamOutputs"
                            [ngTemplateOutletContext]="{name: 'CO2_EMISSIONS', quantity: 'tonnesOfCO2',value: 'costOfCO2PerYear',unit: units[selectedUnits?.emissionUnitSelected]}"></ng-container>
            </tr>
            <tr>
              <ng-container [ngTemplateOutlet]="majorSteamOutputs"
                            [ngTemplateOutletContext]="{name: 'STEAM_GENERATION_EFFLUENT', quantity: 'boilerHouseTotalVolumeOfWaterEffluent',value: 'costOfBoilerHouseEffluent',unit: units[selectedUnits?.volumeUnitSelected]}"></ng-container>
            </tr>
            <tr class="filled">
              <ng-container [ngTemplateOutlet]="majorSteamOutputs"
                            [ngTemplateOutletContext]="{name: 'TOTAL_STEAM_GENERATED', quantity: 'mBoiler',value: 'totalCostOfSteamPerYear',unit: units[selectedUnits?.massFlowUnitSelected]}"></ng-container>
            </tr>
            <tr>
              <td>{{'TOTAL_COST_OF_STEAM_FSLASH_UNIT_MASS' | translate}}</td>
              <td>–</td>
              <td *ngIf="current.totalCostOfSteamPerTonne; else emptyCol">{{current.totalCostOfSteamPerTonne | number: '0.0-2'}} {{currency}}/{{units[current.totalCostOfSteamPerTonneUnit]}}</td>
              <td>-</td>
              <td *ngIf="potential.totalCostOfSteamPerTonne; else emptyCol">{{potential.totalCostOfSteamPerTonne | number: '0.0-2'}} {{currency}}/{{units[potential.totalCostOfSteamPerTonneUnit]}}</td>
              <td>–</td>
              <td>–</td>
            </tr>
            <tr>
              <td>{{'TOTAL_COST_OF_STEAM_FSLASH_UNIT_ENERGY' | translate}}</td>
              <td>–</td>
              <td *ngIf="current.totalCostOfSteamPerkWhOfFuel; else emptyCol">{{current.totalCostOfSteamPerkWhOfFuel | number: '0.0-2'}} {{currency}}/{{units[selectedUnits?.energyUnitSelected]}}</td>
              <td>–</td>
              <td *ngIf="potential.totalCostOfSteamPerkWhOfFuel; else emptyCol">{{potential.totalCostOfSteamPerkWhOfFuel | number: '0.0-2'}} {{currency}}/{{units[selectedUnits?.energyUnitSelected]}}</td>
              <td>–</td>
              <td>–</td>
            </tr>
            <tr class="filled">
              <td>{{'OVERALL_STEAM_GENERATION_EFFICIENCY' | translate}}</td>
              <td *ngIf="current.energyToGenerateUnitofSteam; else emptyCol">{{current.energyToGenerateUnitofSteam | number: '0.0-2'}} {{units[specificEnergyUnitId]}}</td>
              <td>–</td>
              <td *ngIf="potential.energyToGenerateUnitofSteam; else emptyCol">{{potential.energyToGenerateUnitofSteam | number: '0.0-2'}} {{units[specificEnergyUnitId]}}</td>
              <td>-</td>
              <td *ngIf="current.energyToGenerateUnitofSteam && potential.energyToGenerateUnitofSteam; else emptyCol">{{(current.energyToGenerateUnitofSteam - potential.energyToGenerateUnitofSteam) | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
              <td *ngIf="current.energyToGenerateUnitofSteam && potential.energyToGenerateUnitofSteam; else emptyCol">{{savingPercent(current.totalCostOfSteamPerTonne, potential.totalCostOfSteamPerTonne) | number: '0.0-2'}}%</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="4"></td>
              <td>{{'TOTAL_SAVINGS' | translate}}</td>
              <td>
                {{((current.costOfFuelPerYear || 0 - potential.costOfFuelPerYear || 0) +
              (current.waterAndChemicalsCostTotalPerYear || 0 - potential.waterAndChemicalsCostTotalPerYear || 0) +
              (current.costOfBoilerHouseEffluent || 0 - potential.costOfBoilerHouseEffluent || 0) +
              (current.costOfCO2PerYear || 0 - potential.costOfCO2PerYear || 0) +
              (current.mCondy || 0 - potential.mCondy || 0) * current.costOfEffm3) | number: '0.0-2'}} {{currency}}/{{'YR' | translate}}</td>
              <td>{{savingPercent(
                (current.costOfFuelPerYear || 0) + (current.waterAndChemicalsCostTotalPerYear || 0) + (current.costOfBoilerHouseEffluent || 0) + (current.costOfCO2PerYear || 0) + (current.mCondy || 0),
                (potential.costOfFuelPerYear || 0) + (potential.waterAndChemicalsCostTotalPerYear || 0) + (potential.costOfBoilerHouseEffluent || 0) + (potential.costOfCO2PerYear || 0) + (potential.mCondy || 0)
              ) | number: '0.0-2'}}%</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </tab>
  <tab>
    <h5 class="sgaBaseTabs_title_md">{{'PROPOSED_SETUP' | translate}}</h5>
    <ng-template tabHeading>
      <svg width="20" height="20" viewBox="6 5 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M25 19.5556V23.1111C25 23.3469 24.9052 23.573 24.7364 23.7397C24.5676 23.9064 24.3387 24 24.1 24H7.9C7.66131 24 7.43239 23.9064 7.2636 23.7397C7.09482 23.573 7 23.3469 7 23.1111V19.5556H25ZM24.1 8C24.3387 8 24.5676 8.09365 24.7364 8.26035C24.9052 8.42705 25 8.65314 25 8.88889V17.7778H7V8.88889C7 8.65314 7.09482 8.42705 7.2636 8.26035C7.43239 8.09365 7.66131 8 7.9 8H24.1Z"/>
      </svg>
    </ng-template>

    <p class="sgaBaseTabs_title_sm">
      {{'BREAKDOWN_OF_BOILER_HOUSE_ESTIMATED_COSTS_AND_SAVINGS' | translate}}
      <i class="fa fa-info-circle"></i>
    </p>

    <ng-template #infoTableColumns let-key="key" let-unit="unit" let-isCosts="isCosts" let-isPerYear="isPerYear">
      <td *ngIf="current[key]; else emptyCol">
        {{current[key] | number: '0.0-2'}}
        <ng-container *ngIf="isCosts">{{currency}}</ng-container>
        <ng-container *ngIf="isCosts && unit">/</ng-container>
        <ng-container *ngIf="unit">{{unit}}</ng-container>
        <ng-container *ngIf="isPerYear && (isCosts || unit)">/</ng-container>
        <ng-container *ngIf="isPerYear">{{'YR' | translate}}</ng-container>
      </td>
      <td *ngIf="potential[key]; else emptyCol">
        {{potential[key] | number: '0.0-2'}}
        <ng-container *ngIf="isCosts">{{currency}}</ng-container>
        <ng-container *ngIf="isCosts && unit">/</ng-container>
        <ng-container *ngIf="unit">{{unit}}</ng-container>
        <ng-container *ngIf="isPerYear && (isCosts || unit)">/</ng-container>
        <ng-container *ngIf="isPerYear">{{'YR' | translate}}</ng-container>
      </td>
      <td *ngIf="current[key] && potential[key]; else emptyCol">
        {{(current[key] - potential[key]) | number: '0.0-2'}}
        <ng-container *ngIf="isCosts">{{currency}}</ng-container>
        <ng-container *ngIf="isCosts && unit">/</ng-container>
        <ng-container *ngIf="unit">{{unit}}</ng-container>
        <ng-container *ngIf="isPerYear && (isCosts || unit)">/</ng-container>
        <ng-container *ngIf="isPerYear">{{'YR' | translate}}</ng-container>
      </td>
    </ng-template>

    <table class="sgaFinalProposal_info orange mb">
      <caption>
        <span>{{'TOTAL_STEAM_GENERATION_COSTS' | translate}}</span>
        <i class="fa fa-info-circle"></i>
      </caption>

      <thead>
      <tr>
        <th></th>
        <th>{{'EXISTING_RETURNS' | translate}}</th>
        <th>{{'POTENTIAL_RETURNS' | translate}}</th>
        <th>{{'SAVINGS' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{'MASS_FLOW_FSLASH_YR' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'mBoiler', unit: units[selectedUnits?.massFlowUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      <tr>
        <td>{{'MASS_FLOW_FSLASH_HR' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'steamGeneratedkgPerHour', unit: units[selectedUnits?.smallMassFlowUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      <tr>
        <td>{{'COST_FSLASH_UNIT_MASS' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'totalCostOfSteamPerTonne', isCosts: true, unit: units[current.totalCostOfSteamPerTonneUnit]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      <tr>
        <td>{{'COST_FSLASH_UNIT_ENERGY' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'totalCostOfSteamPerkWhOfFuel', isCosts: true, unit: units[selectedUnits?.energyUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      <tr>
        <td>{{'ENERGY_FSLASH_UNIT_MASS' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'energyToGenerateUnitofSteam', unit: units[specificEnergyUnitId]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      <tr class="text-bold">
        <td>{{'COST_FSLASH_YR' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'totalCostOfSteamPerYear', isPerYear: true, isCosts: true}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      </tbody>
    </table>
    <table class="sgaFinalProposal_info mb">
      <caption>
        <span>{{'BREAKDOWN_OF_BOILER_HOUSE_ESTIMATED_COSTS_AND_SAVINGS' | translate}}</span>
        <i class="fa fa-info-circle"></i>
      </caption>
      <ng-container>
        <thead>
        <tr>
          <th>{{'Fuel' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'QUANTITY' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'fuelConsumptionPerYear', isPerYear: true, unit: units[selectedUnits?.fuelUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{'COST_FSLASH_UNIT_FUEL' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'costOfFuelPerUnit', isCosts: true, unit: units[selectedUnits?.fuelUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{'ENERGY' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'qfuel', isPerYear: true, unit: units[selectedUnits?.energyUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{'COST_FSLASH_UNIT_ENERGY' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'costOfFuelPerkWh', isCosts: true, unit: units[selectedUnits?.energyUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_OF_FUEL_PER_YEAR' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'costOfFuelPerYear', isCosts: true, isPerYear: true}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'CO2_EMISSIONS' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'MASS_EMITTED' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'tonnesOfCO2', isCosts: false, isPerYear: true, unit: units[selectedUnits?.emissionUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{'COST_FSLASH_UNIT_MASS' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'costOfCO2PerTonne', isCosts: true, isPerYear: false, unit: units[selectedUnits?.emissionUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr class="text-bold">
          <td>{{"COST_OF_CO2_EMISSIONS_FSLASH_YEAR"}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'costOfCO2PerYear', isCosts: true, isPerYear: true, unit: null}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'WATER' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'QUANTITY' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'boilerHouseWaterFlowTotal', isCosts: false, isPerYear: true, unit: units[selectedUnits?.volumeUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{'COST_OF_WATER_UNIT_VOLUME' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'waterCostPerUnit', isCosts: true, isPerYear: false, unit: units[selectedUnits?.volumeUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_OF_BOILER_WATER_YEAR' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'boilerHouseWaterCost', isCosts: true, isPerYear: true, unit: null}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'WATER_TREATMENT' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'COST_OF_CHEMICALS_FSLASH_UNIT_OF_WATER' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'costChemM3', isCosts: true, isPerYear: false, unit: units[selectedUnits?.volumeUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr class="text-bold">
          <td>{{'CHEMICALS_PER_YR' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'chemCostTotalPerYear', isCosts: true, isPerYear: true, unit: null}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'EFFLUENT' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'QUANTITY' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'boilerHouseTotalVolumeOfWaterEffluent', isCosts: false, isPerYear: true, unit: units[selectedUnits?.volumeUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{'COST_FSLASH_UNIT' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'costOfEffm3', isCosts: true, isPerYear: false, unit: units[selectedUnits?.volumeUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_OF_EFFLUENT_FSLASH_YEAR' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'costOfBoilerHouseEffluent', isCosts: true, isPerYear: true, unit: null}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        </tbody>
      </ng-container>
    </table>
    <table class="sgaFinalProposal_info pink mb">
      <caption>
        <span>{{'OPPORTUNITIES_FOR_BOILER_HOUSE_SAVINGS' | translate}}</span>
        <i class="fa fa-info-circle"></i>
      </caption>
      <ng-container>
        <thead>
        <tr>
          <th>{{'STACK_AND_RADIATION_LOSSES' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'PERCENT_OF_LOST_FUEL_ENERGY' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'boilerEfficiency', isCosts: false, isPerYear: false, unit: '%'}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{'FUEL_ENERGY' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'radiationLosses', isCosts: false, isPerYear: true, unit: units[selectedUnits?.energyUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_OF_FUEL_PER_YEAR' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'costOfRadiationLosses', isCosts: true, isPerYear: true, unit: null}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'TOTAL_COST_OF_BLOWDOWN' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{'PERCENT_BLOWDOWN' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'percentTdsBlowdown', isCosts: false, isPerYear: false, unit: '%'}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{'EFFLUENT' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'volTdsAndBdv', isCosts: false, isPerYear: true, unit: units[selectedUnits?.volumeUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{'REPLACEMENT_WATER_FSLASH_CHEMICALS' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'volTdsAndBdv', isCosts: false, isPerYear: true, unit: units[selectedUnits?.volumeUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{'FUEL_ENERGY' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'energyInTdsBlowdown', isCosts: false, isPerYear: true, unit: units[selectedUnits?.energyUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr>
          <td>{{"CO2_EMISSION" | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'tonnesOfCO2fromTds', isCosts: false, isPerYear: true, unit: units[selectedUnits?.emissionUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_FSLASH_YR' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'totCostTdsBlowdown', isCosts: true, isPerYear: true, unit: null}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'EFFLUENT_FROM_WATER_TREATMENT' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <ng-container [ngTemplateOutletContext]="{key: 'waterTreatmentEffluent', isCosts: false, isPerYear: true, unit: units[selectedUnits?.volumeUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        <tr class="text-bold">
          <td>{{'COST_FSLASH_YR' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'waterTreatmentCostEffluent', isCosts: true, isPerYear: true, unit: null}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        </tbody>
      </ng-container>
      <ng-container>
        <thead>
        <tr>
          <th>{{'02_SCAVENGING_CHEMICALS' | translate}}</th>
          <th>{{'EXISTING_RETURNS' | translate}}</th>
          <th>{{'POTENTIAL_RETURNS' | translate}}</th>
          <th>{{'SAVINGS' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-bold">
          <td>{{'COST_FSLASH_YR' | translate}}</td>
          <ng-container [ngTemplateOutletContext]="{key: 'mdsi', isCosts: false, isPerYear: true, unit: units[current.mdsiUnit]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
        </tr>
        </tbody>
      </ng-container>
    </table>
    <table class="sgaFinalProposal_info green">
      <caption>
        <span>{{'CONDENSATE_RETURN_PER_SAVINGS' | translate}}</span>
        <i class="fa fa-info-circle"></i>
      </caption>
      <thead>
      <tr>
        <th>{{'TOTAL_SAVINGS_FROM_CONDENSATE_RETURNED' | translate}}</th>
        <th>{{'EXISTING_RETURNS' | translate}}</th>
        <th>{{'POTENTIAL_RETURNS' | translate}}</th>
        <th>{{'SAVINGS' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{'PERCENT_RETURNED' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'condensateReturnedPercentage', isCosts: false, isPerYear: true, unit: units[current.mCondyWaterUnit]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      <tr>
        <td>{{'WATER_AND_CHEMICALS_SAVED' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'mCondyWater', isCosts: false, isPerYear: true, unit: units[selectedUnits?.volumeUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      <tr>
        <td>{{'EFFLUENT_REDUCED' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'mCondyWater', isCosts: false, isPerYear: true, unit: units[selectedUnits?.volumeUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      <tr>
        <td>{{'FUEL_SAVED' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'condyFuelAmount', isCosts: false, isPerYear: true, unit: units[selectedUnits?.emissionUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      <tr>
        <td>{{'CO2_EMISSION_REDUCED' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'mCondyCO2', isCosts: false, isPerYear: true, unit: units[selectedUnits?.emissionUnitSelected]}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      <tr class="text-bold">
        <td>{{'TOTAL_VALUE_SAVED' | translate}}</td>
        <ng-container [ngTemplateOutletContext]="{key: 'totalCostSavedCondensateReturn', isCosts: true, isPerYear: true, unit: null}" [ngTemplateOutlet]="infoTableColumns"></ng-container>
      </tr>
      </tbody>
    </table>
  </tab>
  <tab>
    <h5 class="sgaBaseTabs_title_md">{{'FINAL_PROPOSAL' | translate}}</h5>
    <ng-template tabHeading>
      <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M13.3332 17.5L9.36484 10.225L12.4998 5L19.1665 17.5H13.3332ZM6.6665 8.33333L11.6665 17.5H1.6665L6.6665 8.33333ZM4.58317 6.66667C4.03064 6.66667 3.50073 6.44717 3.11003 6.05647C2.71933 5.66577 2.49984 5.13587 2.49984 4.58333C2.49984 4.0308 2.71933 3.5009 3.11003 3.11019C3.50073 2.71949 4.03064 2.5 4.58317 2.5C5.1357 2.5 5.66561 2.71949 6.05631 3.11019C6.44701 3.5009 6.6665 4.0308 6.6665 4.58333C6.6665 5.13587 6.44701 5.66577 6.05631 6.05647C5.66561 6.44717 5.1357 6.66667 4.58317 6.66667Z"/>
      </svg>
    </ng-template>

    <ng-template #finalTableColumns let-key="key" let-unit="unit" let-isCosts="isCosts" let-isPerYear="isPerYear">
      <td *ngIf="current[key]; else emptyCol">{{current[key] | number: '0.0-2'}}</td>
      <td *ngIf="potential[key]; else emptyCol" align="right">{{potential[key] | number: '0.0-2'}}</td>
      <td align="left">
        <ng-container *ngIf="isCosts">{{currency}}</ng-container>
        <ng-container *ngIf="isCosts && unit">/</ng-container>
        <ng-container *ngIf="unit">{{unit}}</ng-container>
        <ng-container *ngIf="isPerYear && (isCosts || unit)">/</ng-container>
        <ng-container *ngIf="isPerYear">{{'YR' | translate}}</ng-container>
      </td>
    </ng-template>

    <div class="row mb">
      <div class="col-md-6">
        <table class="sgaFinalProposal_info pink">
          <caption>
            <span>{{'STACK_AND_RADIATION_LOSSES' | translate}}</span>
            <i class="fa fa-info-circle"></i>
          </caption>
          <thead>
          <tr>
            <th>{{'POSITION_NAME' | translate}}</th>
            <th>{{'CURRENT' | translate}}</th>
            <th>{{'POTENTIAL' | translate}}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th>{{'HEAT_LOSSES' | translate}}</th>
            <ng-container [ngTemplateOutletContext]="{key: 'boilerEfficiency', unit: '%'}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr>
            <td>{{'FUEL_ENERGY' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'radiationLosses', unit: units[selectedUnits?.energyUnitSelected], isPerYear: true, isCosts: false}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr class="text-bold">
            <td>{{'COST_FSLASH_YR' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'costOfRadiationLosses', unit: null, isPerYear: true, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6">
        <table class="sgaFinalProposal_info pink">
          <caption>
            <span>{{'CO2_EMISSIONS' | translate}}</span>
            <i class="fa fa-info-circle"></i>
          </caption>
          <thead>
          <tr>
           <th>{{'POSITION_NAME' | translate}}</th>
           <th>{{'CURRENT' | translate}}</th>
           <th>{{'POTENTIAL' | translate}}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{'COST_FSLASH_UNIT_MASS' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'costOfCO2PerTonne', unit: units[selectedUnits?.emissionUnitSelected], isPerYear: false, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr>
            <td>{{'MASS_EMITTED' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'totalCostOfSteamPerTonne', unit: units[selectedUnits?.emissionUnitSelected], isPerYear: true, isCosts: false}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr class="text-bold">
            <td>{{'COST_FSLASH_YR' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'costOfCO2PerYear', unit: null, isPerYear: true, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row mb">
      <div class="col-md-5">
        <table class="sgaFinalProposal_info mb">
          <caption>
            <span>{{'FUEL_CONSUMPTION' | translate}}</span>
            <i class="fa fa-info-circle"></i>
          </caption>
          <thead>
          <tr>
            <th>{{'POSITION_NAME' | translate}}</th>
            <th>{{'CURRENT' | translate}}</th>
            <th>{{'POTENTIAL' | translate}}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{'COST_FSLASH_UNIT' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'costOfFuelPerUnit', unit: units[selectedUnits?.fuelUnitSelected], isPerYear: false, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr>
            <td>{{'QUANTITY' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'fuelConsumptionPerYear', unit: units[selectedUnits?.fuelUnitSelected], isPerYear: true, isCosts: false}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr class="text-bold">
            <td>{{'COST_OF_FUEL_PER_YEAR' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'costOfFuelPerYear', unit: null, isPerYear: true, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          </tbody>
        </table>
        <table class="sgaFinalProposal_info">
          <caption>
            <span>{{'WATER_CONSUMPTION_AND_WATER_TREATMENT_CHEMICALS' | translate}}</span>
            <i class="fa fa-info-circle"></i>
          </caption>
          <thead>
          <tr>
            <th>{{'POSITION_NAME' | translate}}</th>
            <th>{{'CURRENT' | translate}}</th>
            <th>{{'POTENTIAL' | translate}}</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{'COST_OF_WATER_UNIT_VOLUME' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'waterCostPerUnit', unit: units[selectedUnits?.volumeUnitSelected], isPerYear: false, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr>
            <td>{{'QUANTITY' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'boilerHouseWaterFlowTotal', unit: units[selectedUnits?.volumeUnitSelected], isPerYear: true, isCosts: false}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr>
            <td>{{'COST_OF_BOILER_WATER_YEAR' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'boilerHouseWaterCost', unit: null, isPerYear: true, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr>
            <td>{{'COST_OF_CHEMICALS_FSLASH_UNIT' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'costChemM3', unit: units[selectedUnits?.volumeUnitSelected], isPerYear: false, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr>
            <td>{{'COST_OF_CHEMICALS_FSLASH_YR' | translate}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'chemCostTotalPerYear', unit: null, isPerYear: true, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          <tr class="text-bold">
            <td>{{'COST_OF_CHEMICALS_FSLASH_YEAR'}}</td>
            <ng-container [ngTemplateOutletContext]="{key: 'waterAndChemicalsCostTotalPerYear', unit: null, isPerYear: true, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-lg-4 col-md-2 col-sm-4 col-md-offset-0 col-sm-offset-4 mb hide-xs">
            <div class="flex justify-content-between mb">
              <i class="sga-arrow pink arrow-up"></i>
              <i class="sga-arrow pink arrow-up"></i>
            </div>
            <div class="flex justify-content-between mb">
              <i class="sga-arrow"></i>
              <i class="sga-arrow orange"></i>
            </div>
            <img class="img-responsive staticScheme mb"
                 src="/assets/img/steam_generation/benchmark_statistic_scheme.png"
                 alt="benchmark_statistic_scheme">
            <div class="flex justify-content-between mb">
              <i class="sga-arrow"></i>
              <i class="sga-arrow arrow-left green"></i>
            </div>
            <i class="sga-arrow pink arrow-down"></i>
          </div>
          <div class="col-lg-8 col-md-10 col-sm-12 mb">
            <table class="sgaFinalProposal_info orange mb">
              <caption>
                <span>{{'STEAM_CONSUMPTION' | translate}}</span>
                <i class="fa fa-info-circle"></i>
              </caption>
              <thead>
              <tr>
                <th>{{'POSITION_NAME' | translate}}</th>
                <th>{{'CURRENT' | translate}}</th>
                <th>{{'POTENTIAL' | translate}}</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>{{'COST_FSLASH_UNIT_MASS' | translate}}</td>
                <ng-container [ngTemplateOutletContext]="{key: 'totalCostOfSteamPerTonne', unit: 'tonne', isPerYear: false, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
              </tr>
              <tr>
                <td>{{'MASS_FLOW_FSLASH_YR' | translate}}</td>
                <ng-container [ngTemplateOutletContext]="{key: 'mBoiler', unit: units[selectedUnits?.massFlowUnitSelected], isPerYear: false, isCosts: false}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
              </tr>
              <tr>
                <td>{{'MASS_FLOW' | translate}}</td>
                <ng-container [ngTemplateOutletContext]="{key: 'steamGeneratedkgPerHour', unit: units[selectedUnits?.smallMassFlowUnitSelected], isPerYear: false, isCosts: false}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
              </tr>
              <tr class="text-bold">
                <td>{{'COST_FSLASH_YR' | translate}}</td>
                <ng-container [ngTemplateOutletContext]="{key: 'totalCostOfSteamPerYear', unit: null, isPerYear: true, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
              </tr>
              </tbody>
            </table>
            <table class="sgaFinalProposal_info green">
              <caption>
                <span>{{'CONDENSATE_RETURNED' | translate}}</span>
                <i class="fa fa-info-circle"></i>
              </caption>
              <thead>
              <tr>
                <th>{{'POSITION_NAME' | translate}}</th>
                <th>{{'CURRENT' | translate}}</th>
                <th>{{'POTENTIAL' | translate}}</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{'PERCENT_RETURNED' | translate}}</td>
                  <ng-container [ngTemplateOutletContext]="{key: 'сondensateReturnedPercentage', unit: '%', isPerYear: false, isCosts: false}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-sm-12">
            <table class="sgaFinalProposal_info pink">
              <caption>
                <span>{{'STEAM_GENERATION_EFFLUENT' | translate}}</span>
                <i class="fa fa-info-circle"></i>
              </caption>
              <thead>
              <tr>
                <th>{{'POSITION_NAME' | translate}}</th>
                <th>{{'CURRENT' | translate}}</th>
                <th>{{'POTENTIAL' | translate}}</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{'COST_FSLASH_UNIT' | translate}}</td>
                  <ng-container [ngTemplateOutletContext]="{key: 'CostOfEffm3', unit: units[selectedUnits?.volumeUnitSelected], isPerYear: false, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
                </tr>
                <tr>
                  <td>{{'QUANTITY' | translate}}</td>
                  <ng-container [ngTemplateOutletContext]="{key: 'BoilerHouseTotalVolumeOfWaterEffluent', unit: units[selectedUnits?.volumeUnitSelected], isPerYear: true, isCosts: false}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
                </tr>
                <tr class="text-bold">
                  <td>{{'COST_FSLASH_YR' | translate}}</td>
                  <ng-container [ngTemplateOutletContext]="{key: 'CostOfBoilerHouseEffluent', unit: null, isPerYear: true, isCosts: true}" [ngTemplateOutlet]="finalTableColumns"></ng-container>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab>
    <h5 class="sgaBaseTabs_title_md">{{'FINAL_PROPOSAL' | translate}}</h5>
    <ng-template tabHeading><i class="fa fa-leaf"></i></ng-template>

    <div class="row">
      <div class="col-md-12 mb">
        <table class="customTable mb">
          <caption><p class="sgaBaseTabs_title_sm">{{'SUMMARY_OF_COST_FSLESH_SAVINGS' | translate}}<i class="fa fa-info-circle"></i></p></caption>
          <thead>
          <tr>
            <th>{{"PARAMETER" | translate}}</th>
            <th class="text-center">{{"CURRENT_SITUATION" | translate}}</th>
            <th class="text-center">{{"PROPOSED_SITUATION" | translate}}</th>
            <th class="text-center">{{"POTENTIAL_SAVINGS" | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{'HOURS_OF_OPERATION' | translate}}</td>
            <td *ngIf="current?.thPerY; else emptyCol">{{current?.thPerY | number: '0.0-0'}} {{'HRS_FSLASH_YEAR' | translate}}</td>
            <td *ngIf="potential?.thPerY; else emptyCol">{{potential?.thPerY | number: '0.0-0'}} {{'HRS_FSLASH_YEAR' | translate}}</td>
            <td>–</td>
          </tr>
          <tr>
            <td>{{'STEAM_GENERATED' | translate}}</td>
            <td *ngIf="current.mBoiler; else emptyCol">{{current.mBoiler | number: '0.0-2'}} {{units[selectedUnits?.massFlowUnitSelected]}}</td>
            <td *ngIf="potential.mBoiler; else emptyCol">{{potential.mBoiler | number: '0.0-2'}} {{units[selectedUnits?.massFlowUnitSelected]}}</td>
            <td>–</td>
          </tr>
          <tr>
            <td>{{'FUEL' | translate}}</td>
            <td>{{fuelTypeList[current?.fuelId] | translate}}</td>
            <td>{{fuelTypeList[potential?.fuelId] | translate}}</td>
            <td>–</td>
          </tr>
          <tr>
            <td>{{'COST_OF_STEAM_FSLASH_YEAR' | translate}}</td>
            <td *ngIf="current.totalCostOfSteamPerYear; else emptyCol">{{currency}}{{current.totalCostOfSteamPerYear | number: '0.0-2'}} /{{'YR' | translate}}</td>
            <td *ngIf="potential.totalCostOfSteamPerYear; else emptyCol">{{currency}}{{potential.totalCostOfSteamPerYear | number: '0.0-2'}} /{{'YR' | translate}}</td>
            <td *ngIf="current.totalCostOfSteamPerYear && potential.totalCostOfSteamPerYear; else emptyCol">{{currency}}{{(current.totalCostOfSteamPerYear - potential.totalCostOfSteamPerYear) | number: '0.0-2'}} /{{'YR' | translate}}</td>
          </tr>
          <tr>
            <td>{{'COST_OF_STEAM_FSLASH_TONNE' | translate}}</td>
            <td *ngIf="current.totalCostOfSteamPerTonne; else emptyCol">{{currency}}{{current.totalCostOfSteamPerTonne | number: '0.0-2'}} /{{units[current.totalCostOfSteamPerTonneUnit]}}</td>
            <td *ngIf="potential.totalCostOfSteamPerTonne; else emptyCol">{{currency}}{{potential.totalCostOfSteamPerTonne | number: '0.0-2'}} /{{units[potential.totalCostOfSteamPerTonneUnit]}}</td>
            <td *ngIf="current.totalCostOfSteamPerTonne && potential.totalCostOfSteamPerTonne; else emptyCol">{{currency}}{{(current.totalCostOfSteamPerTonne - potential.totalCostOfSteamPerTonne) | number: '0.0-2'}} /{{units[potential.totalCostOfSteamPerTonneUnit]}}</td>
          </tr>
          <tr>
            <td>{{'COST_OF_STEAM_FSLASH_KWH' | translate}}</td>
            <td *ngIf="current.totalCostOfSteamPerkWhOfFuel; else emptyCol">{{currency}}{{current.totalCostOfSteamPerkWhOfFuel | number: '0.0-3'}} /{{'UNIT_KWH' | translate}}</td>
            <td *ngIf="potential.totalCostOfSteamPerkWhOfFuel; else emptyCol">{{currency}}{{potential.totalCostOfSteamPerkWhOfFuel | number: '0.0-3'}} /{{'UNIT_KWH' | translate}}</td>
            <td *ngIf="current.totalCostOfSteamPerkWhOfFuel && potential.totalCostOfSteamPerkWhOfFuel; else emptyCol">{{currency}}{{(current.totalCostOfSteamPerkWhOfFuel - potential.totalCostOfSteamPerkWhOfFuel) | number: '0.0-3'}} /{{'UNIT_KWH' | translate}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12 mb">
        <table class="customTable mb">
          <caption><p class="sgaBaseTabs_title_sm">{{'ENVIROMENTAL_IMPACT' | translate}}<i class="fa fa-info-circle"></i></p></caption>
          <thead>
          <tr>
            <th rowspan="2">{{'PARAMETER' | translate}}</th>
            <th class="text-center" colspan="2">{{'CURRENT' | translate}}</th>
            <th class="text-center" colspan="2">{{'POTENTIAL' | translate}}</th>
            <th class="text-center">{{'ANNUAL_SAVINGS' | translate}}</th>
          </tr>
          <tr>
            <th class="text-center">{{'PER_TONNE_STEAM' | translate}}</th>
            <th class="text-center">{{'PER_YEAR' | translate}}</th>
            <th class="text-center">{{'PER_TONNE_STEAM' | translate}}</th>
            <th class="text-center">{{'PER_YEAR' | translate}}</th>
            <th class="text-center">{{'PER_YEAR' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{'FUEL_CONSUMED' | translate}}</td>
            <td *ngIf="current?.qfuel && current?.mBoiler; else emptyCol">{{(current.qfuel * 0.0036) / current.mBoiler | number: '0.0-2'}} Gj/tonne</td>
            <td *ngIf="current?.qfuel; else emptyCol">{{current.qfuel * 0.0036 | number: '0.0-2'}} Gj/{{'YR' | translate}}</td>
            <td *ngIf="potential?.qfuel && potential?.mBoiler; else emptyCol">{{(potential.qfuel * 0.0036) / potential.mBoiler | number: '0.0-2'}} Gj/tonne</td>
            <td *ngIf="potential?.qfuel; else emptyCol">{{potential.qfuel * 0.0036 | number: '0.0-2'}} Gj/{{'YR' | translate}}</td>
            <td *ngIf="current?.qfuel && potential?.qfuel">{{(current.qfuel * 0.0036) - (potential.qfuel * 0.0036) | number: '0.0-2'}} Gj/{{'YR' | translate}}</td>
          </tr>
          <tr>
            <td>{{'CO2_EMITTED' | translate}}</td>
            <td *ngIf="current?.tonnesOfCO2 && current?.mBoiler; else emptyCol">{{(current.tonnesOfCO2 / current.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/tonne</td>
            <td *ngIf="current?.tonnesOfCO2; else emptyCol">{{current.tonnesOfCO2 | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/{{'YR' | translate}}</td>
            <td *ngIf="potential?.tonnesOfCO2 && potential?.mBoiler; else emptyCol">{{(potential.tonnesOfCO2 / potential.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/tonne</td>
            <td *ngIf="potential?.tonnesOfCO2; else emptyCol">{{potential.tonnesOfCO2 | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/{{'YR' | translate}}</td>
            <td *ngIf="current?.tonnesOfCO2; else emptyCol">{{(current.tonnesOfCO2 - potential?.tonnesOfCO2 || 0) | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/{{'YR' | translate}}</td>
          </tr>
          <tr>
            <td>{{'WATER_CONSUMED' | translate}}</td>
            <td *ngIf="current?.boilerHouseWaterFlowTotal && current.mBoiler; else emptyCol">{{(current.boilerHouseWaterFlowTotal / current.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/tonne</td>
            <td *ngIf="current?.boilerHouseWaterFlowTotal; else emptyCol">{{current.boilerHouseWaterFlowTotal | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}</td>
            <td *ngIf="potential?.boilerHouseWaterFlowTotal && potential?.mBoiler; else emptyCol">{{(potential.boilerHouseWaterFlowTotal / potential.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/tonne</td>
            <td *ngIf="potential?.boilerHouseWaterFlowTotal; else emptyCol">{{potential.boilerHouseWaterFlowTotal | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}</td>
            <td *ngIf="current?.boilerHouseWaterFlowTotal; else emptyCol">{{(current.boilerHouseWaterFlowTotal - potential.boilerHouseWaterFlowTotal || 0) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}</td>
          </tr>
          <tr>
            <td>{{'EFFLUENT_CONSUMED' | translate}}</td>
            <td *ngIf="current?.boilerHouseTotalVolumeOfWaterEffluent && current.mBoiler; else emptyCol">{{(current.boilerHouseTotalVolumeOfWaterEffluent / current.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/tonne</td>
            <td *ngIf="current?.boilerHouseTotalVolumeOfWaterEffluent; else emptyCol">{{current.boilerHouseTotalVolumeOfWaterEffluent | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}</td>
            <td *ngIf="potential?.boilerHouseTotalVolumeOfWaterEffluent && potential?.mBoiler; else emptyCol">{{(potential.boilerHouseTotalVolumeOfWaterEffluent / potential.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/tonne</td>
            <td *ngIf="potential?.boilerHouseTotalVolumeOfWaterEffluent; else emptyCol">{{potential.boilerHouseTotalVolumeOfWaterEffluent | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}</td>
            <td *ngIf="current?.boilerHouseTotalVolumeOfWaterEffluent; else emptyCol">{{(current.boilerHouseTotalVolumeOfWaterEffluent - potential.boilerHouseTotalVolumeOfWaterEffluent || 0) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12">
        <table class="customTable">
          <thead>
          <tr>
            <th>{{'ANNUAL_SAVINGS' | translate}}</th>
            <th class="text-center">{{'VALUE' | translate}}</th>
            <th>{{'EQUIVALENT_SAVINGS' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="green text-uppercase"><i class="sga-thermal-energy"></i>{{'THERMAL_ENERGY' | translate}}</td>
            <td *ngIf="current?.qfuel && potential?.qfuel">{{(current.qfuel * 0.0036) - (potential.qfuel * 0.0036) | number: '0.0-2'}} Gj/{{'YR' | translate}}</td>
            <td class="text-left">
              <img class="thumb-img" src="/assets/img/steam_generation/energy_saving/co2-emissions.png" alt="co2 emissions">
              {{current?.qfuel ? (current.qfuel - (potential?.qfuel || 0) | number: '0.0-2') : 0}} {{units[selectedUnits?.energyUnitSelected]}}
            </td>
          </tr>
          <tr>
            <td class="orange text-uppercase"><i class="sga-co2-emissions"></i>{{'CO2_EMISSIONS' | translate}}</td>
            <td *ngIf="current?.tonnesOfCO2; else emptyCol">{{(current.tonnesOfCO2 - potential?.tonnesOfCO2 || 0) | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/{{'YR' | translate}}</td>
            <td class="text-left">
              <img class="thumb-img" src="/assets/img/steam_generation/energy_saving/thermal-energy.png" alt="Thermal energy">
              {{current?.tonnesOfCO2 ? ((current.tonnesOfCO2 - potential.tonnesOfCO2 || 0) * 45.46 | number: '0.0-0') : 0}} {{'TREES' | translate}}
            </td>
          </tr>
          <tr>
            <td class="steel text-uppercase"><i class="sga-water-consumption"></i>{{'WATER_CONSUMPTION' | translate}}</td>
            <td *ngIf="current?.boilerHouseWaterFlowTotal; else emptyCol">{{(current.boilerHouseWaterFlowTotal - potential.boilerHouseWaterFlowTotal || 0) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}</td>
            <td class="text-left">
              <img class="thumb-img" src="/assets/img/steam_generation/energy_saving/water-consumption.png" alt="water consumption">
              {{(current.boilerHouseWaterFlowTotal - potential.boilerHouseWaterFlowTotal || 0) / 2500 | number: '0.0-2'}} {{'OLYMPIC_POOLS' | translate}}
            </td>
          </tr>
          <tr>
            <td class="blue text-uppercase"><i class="sga-water-effluent"></i>{{'WATER_EFFLUENT' | translate}}</td>
            <td *ngIf="current?.boilerHouseTotalVolumeOfWaterEffluent; else emptyCol">
              {{(current.boilerHouseTotalVolumeOfWaterEffluent - potential.boilerHouseTotalVolumeOfWaterEffluent || 0) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}
            </td>
            <td class="text-left">
              <img class="thumb-img" src="/assets/img/steam_generation/energy_saving/water-effluent.png" alt="water effluent">
              {{(current.boilerHouseTotalVolumeOfWaterEffluent - potential.boilerHouseTotalVolumeOfWaterEffluent || 0) / 2500 | number: '0.0-2'}} {{'OLYMPIC_POOLS' | translate}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </tab>
</tabset>

<ng-template #noData><h1>{{'LOADING' | translate}}</h1></ng-template>
