<spirax-panel title="Proposed setup" [disableToggle]="true">
  <ng-container body>
    <div class="sgaProposedSetup" *ngIf="units else noUnits">
      <spirax-panel [expanded]="!verticalChartData || !horizontalChartData"
                    [invalid]="form?.get('proposedSetup').invalid"
                    [title]="'SETUP_PARAMETERS' | translate"
                    titleTooltip="Some tooltip"
                    id="SetupParametersPanel"
                    background="#EDF2F4">
        <form body class="setupParameters" [formGroup]="form" (ngSubmit)="onSubmit()">
          <ng-container formGroupName="proposedSetup">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4"><h5>{{'CURRENT_SITUATION' | translate}}</h5></div>
              <div class="col-md-4"><h5>{{'PROPOSED_SITUATION' | translate}}</h5></div>
            </div>
            <div class="row">
              <div class="col-md-4"><p>{{'PERCENT_CONDENSATE_RETURNED' | translate}}</p></div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="benchmarkCondensateReturnedPercentage"
                       [value]="form.get('proposedSetup.benchmarkCondensateReturnedPercentage').value | decimalPlace : 2"
                       [unitsStr]="['%']"
                       [sga-decimal-places]="2"
                       readonly
                       disabled
                       spirax-input/>
              </div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="proposalCondensateReturnedPercentage"
                       [value]="form.get('proposedSetup.proposalCondensateReturnedPercentage').value | decimalPlace : 2"
                       [unitsStr]="['%']"
                       [sga-decimal-places]="2"
                       spirax-input/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><p>{{'CONDENSATE_RETURNED' | translate}}</p></div>

              <div class="col-md-4">
                <input type="number"
                       formControlName="benchmarkCondensateReturn"
                       [value]="form.get('proposedSetup.benchmarkCondensateReturn').value | decimalPlace : 2"
                       [unitsStr]="[units[data?.proposedSetup?.condensateReturnUnit] || '-']"
                       [sga-decimal-places]="2"
                       readonly
                       disabled
                       spirax-input/>
              </div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="proposalCondensateReturned"
                       [value]="form.get('proposedSetup.proposalCondensateReturned').value | decimalPlace : 2"
                       [unitsStr]="[units[data?.proposedSetup?.condensateReturnUnit] || '-']"
                       [sga-decimal-places]="2"
                       [disabled]="isCondensateReturnDisable"
                       spirax-input/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><p>{{'TEMPERATURE_OF_CONDENSATE_RETURN' | translate}}</p></div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="benchmarkCondensateTemperature"
                       [value]="form.get('proposedSetup.benchmarkCondensateTemperature').value | decimalPlace : 2"
                       [unitsStr]="[units[data?.proposedSetup?.condensateTemperatureUnit] || '-']"
                       [sga-decimal-places]="2"
                       readonly
                       disabled
                       spirax-input/>
              </div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="proposalCondensateTemperature"
                       [value]="form.get('proposedSetup.proposalCondensateTemperature').value | decimalPlace : 2"
                       [unitsStr]="[units[data?.proposedSetup?.condensateTemperatureUnit] || '-']"
                       [sga-decimal-places]="2"
                       spirax-input/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><p>{{'WATER_REJECTION_RATE' | translate}}</p></div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="benchmarkWaterRejectionRate"
                       [value]="form.get('proposedSetup.benchmarkWaterRejectionRate').value | decimalPlace : 2"
                       [unitsStr]="['%']"
                       [sga-decimal-places]="2"
                       spirax-input disabled/>
              </div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="proposalWaterRejectionRate"
                       [value]="form.get('proposedSetup.proposalWaterRejectionRate').value | decimalPlace : 2"
                       [unitsStr]="['%']"
                       [sga-decimal-places]="2"
                       spirax-input/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><p>{{'BOILER_EFFICIENCY' | translate}}</p></div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="benchmarkBoilerEfficiency"
                       [value]="form.get('proposedSetup.benchmarkBoilerEfficiency').value | decimalPlace : 2"
                       [unitsStr]="['%']"
                       [sga-decimal-places]="2"
                       spirax-input disabled/>
              </div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="proposalBoilerEfficiency"
                       [value]="form.get('proposedSetup.proposalBoilerEfficiency').value | decimalPlace : 2"
                       [unitsStr]="['%']"
                       [sga-decimal-places]="2"
                       spirax-input/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><p>{{'ECONOMISER_REQUIRED' | translate}}</p></div>
              <div class="col-md-8">
                <spirax-toggle [disabled]="isEconomizerPresent"
                               (valueChange)="economizerChange($event)"
                               name="economiserRequired"
                               formControlName="economiserRequired"></spirax-toggle>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><p>{{'TEMPERATURE_OF_FEEDTANK' | translate}}</p></div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="benchmarkTemperatureOfFeedtank"
                       [value]="form.get('proposedSetup.benchmarkTemperatureOfFeedtank').value | decimalPlace : 2"
                       [unitsStr]="[units[data?.proposedSetup?.temperatureOfFeedtankUnit] || '-']"
                       [sga-decimal-places]="2"
                       spirax-input disabled/>
              </div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="proposalTemperatureOfFeedtank"
                       [value]="form.get('proposedSetup.proposalTemperatureOfFeedtank').value | decimalPlace : 2"
                       [unitsStr]="[units[data?.proposedSetup?.temperatureOfFeedtankUnit] || '-']"
                       [sga-decimal-places]="2"
                       spirax-input/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4"><p>{{'DSI_PRESSURE' | translate}}</p></div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="benchmarkDsiPressure"
                       [value]="form.get('proposedSetup.benchmarkDsiPressure').value | decimalPlace : 2"
                       [unitsStr]="[units[data?.proposedSetup?.dsiPressureUnit] || '-']"
                       [sga-decimal-places]="2"
                       spirax-input disabled/>
              </div>
              <div class="col-md-4">
                <input type="number"
                       formControlName="proposalDsiPressure"
                       [value]="form.get('proposedSetup.proposalDsiPressure').value | decimalPlace : 2"
                       [unitsStr]="[units[data?.proposedSetup?.dsiPressureUnit] || '-']"
                       [sga-decimal-places]="2"
                       spirax-input/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <button type="submit" [disabled]="form.invalid">{{'GENERATE_PROPOSAL' | translate}}</button>
              </div>
            </div>
          </ng-container>
        </form>
      </spirax-panel>

      <spirax-panel [expanded]="!!verticalChartData && !!horizontalChartData"
                 [disableToggle]="!verticalChartData || !horizontalChartData"
                 title="Proposed results"
                 id="SetupParametersResultsPanel">
        <ng-container body>
          <p class="sgaProposedSetup_title">{{'POTENTIAL_BOILER_HOUSE_SAVINGS_BY_PROJECT' | translate}}</p>
          <p class="sgaProposedSetup_subtitle mb-24">Saving {{currency}}’000s / {{'YR' | translate}}</p>
          <app-chart-bar className="sgaProposedSetup_chart"
                         *ngIf="!!verticalChartData"
                         [data]="verticalChartData"
                         [labels]="verticalChartLabels"></app-chart-bar>
          <hr>
          <div class="row">
            <div class="col-md-7">
              <h5 class="sgaProposedSetup_title">
                <span>Cost of Steam Generation</span>
                <i class="fa fa-info-circle"></i>
              </h5>
              <app-chart-bar type="horizontalBar"
                             *ngIf="!!horizontalChartData"
                             [legend]="false"
                             [data]="horizontalChartData"
                             [labels]="['POTENTIAL', 'CURRENT']"></app-chart-bar>
              <p>{{'STEAM_GENERATION_SAVINGS' | translate}}: <span class="text-bold">{{currency}}{{totalSaving?.steamGenerationSavings || 0 | number: '0.0-2'}}</span></p>
              <p>{{'SAVINGS_INCLUDING_CONDENSATE_EFFLUENT' | translate}}: <span class="text-bold">{{currency}}{{totalSaving?.savingsIncludingCondensateEffluent || 0 | number: '0.0-2'}}</span> </p>
            </div>
            <form class="col-md-5" [formGroup]="form">
              <h5 class="sgaProposedSetup_title mb-24">
                <span>{{'ADD_FEATURES' | translate}}</span>
                <i class="fa fa-info-circle"></i>
              </h5>
              <ul class="sgaProposedSetup_list" formGroupName="features">
                <li>
                  <label>
                    <input type="checkbox"
                           formControlName="boilerEfficiencyImprovements"
                           (change)="changeFeature($event)"
                           [disableControl]="data?.proposedSetup?.benchmarkBoilerEfficiency === data?.proposedSetup?.proposalBoilerEfficiency"
                           [value]="true">
                    <span>{{'BOILER_EFFICIENCY_IMPROVEMENTS' | translate}}</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox"
                           formControlName="increaseCondensateReturn"
                           (change)="changeFeature($event)"
                           [disableControl]="data?.proposedSetup?.benchmarkCondensateReturnedPercentage === data?.proposedSetup?.proposalCondensateReturnedPercentage"
                           [value]="true">
                    <span>{{'INCREASE_CONDENSATE_RETURN' | translate}}</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox"
                           formControlName="addWaterTreatmentPlant"
                           (change)="changeFeature($event)"
                           [disableControl]="isTdsControlPresent.isWaterTreatmentPlant"
                           [class.v-hide]="isTdsControlPresent.isWaterTreatmentPlant"
                           [value]="true">
                    <span>{{'ADD_WATER_TREATMENT_PLANT_RO' | translate}}</span>
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox"
                           formControlName="addAutoTdsControls"
                           [disableControl]="isTdsControlPresent.isAutoTds"
                           [class.v-hide]="isTdsControlPresent.isAutoTds"
                           (change)="changeFeature($event)"
                           [setValue]="false"
                           [value]="true">
                    <span>{{'ADD_AUTO_TDS_CONTROLS' | translate}}</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox"
                           formControlName="addAutoTdsAndFlashRecovery"
                           [disableControl]="isTdsControlPresent.isFlashVessel"
                           [class.v-hide]="isTdsControlPresent.isFlashVessel"
                           (change)="changeFeature($event)"
                           [setValue]="false"
                           [value]="true">
                    <span>{{'ADD_AUTO_TDS_AND_FLASH_RECOVERY' | translate}}</span>
                  </label>
                </li>
                <li>
                  <label>
                    <input type="checkbox"
                           formControlName="addAutoTdsAndFlashRecoveryPlusHearExchanger"
                           [disableControl]="isTdsControlPresent.isHeatExchanger"
                           [class.v-hide]="isTdsControlPresent.isHeatExchanger"
                           (change)="changeFeature($event)"
                           [setValue]="false"
                           [value]="true">
                    <span>{{'ADD_AUTO_TDS_FLASH_RECOVERY_HEAT_EXCHANGER' | translate}}</span>
                  </label>
                </li>

                <li>
                  <label>
                    <input type="checkbox"
                           formControlName="addDirectSteamInjectionToFeedtank"
                           (change)="changeFeature($event)"
                           [disableControl]="data?.proposedSetup?.benchmarkDsiPressure !== 0 || data?.proposedSetup?.proposalDsiPressure === 0"
                           [value]="true">
                    <span>{{'DIRECT_STEAM_INJECTION_TO_FEEDTANK' | translate}}</span>
                  </label>
                </li>
              </ul>
            </form>
          </div>
        </ng-container>
      </spirax-panel>
    </div>

    <ng-template #noUnits><h1>{{'LOADING' | translate}}</h1></ng-template>
  </ng-container>
</spirax-panel>
