<sga-panel [isCollapsed]="false"
           id="UtilityParameters"
           title="Utility parameters"
           titleSize="24px">
  <form body class="container-fluid" [formGroup]="formGroup">
    <div class="row mb-5">
      <div class="col-md-5">
        <form-input [formControlName]="fields.hoursOfOperation.formControlName"
                    [label]="fields.hoursOfOperation.label"
                    [unit-names]="fields.hoursOfOperation.controlNames"
                    [unit-types]="fields.hoursOfOperation.unitTypes"
                    [unit-translations]="fields.hoursOfOperation.translations"
                    [unit-controls]="fields.hoursOfOperation.controlNames"
                    [required]="fields.hoursOfOperation.required"
                    [filled]="fields.hoursOfOperation.filled"
                    [module-group-id]="moduleGroupId"></form-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <sga-panel id="FuelPanel"
                   [title]="'FUEL' | translate"
                   [titleTooltip]="('ALLOWS_YOU_TO_INPUT_FUEL_TYPE_AND_COSTS_HELP' | translate) + ('IF_A_STANDARD_FUEL_IS_USED_THE_CALORIFIC_VALUE_AND_CO2_EMISSIONS_FSLASH_UNIT_OF_FUEL_WILL_BE_AUTOMATICALLY_POPULATED_FROM_LOO_HELP' | translate)"
                   background="#EDF2F4">
          <div body>
            <fuel-type-field [module-group-id]="moduleGroupId"
                             (preferenceChange)="changeFuelTypeHandle($event)"></fuel-type-field>

            <form-input [formControlName]="fields.fuelEnergyPerUnit.formControlName"
                        [label]="fields.fuelEnergyPerUnit.label"
                        [unit-names]="setFuelType('fuelEnergyPerUnit')"
                        [unit-types]="fields.fuelEnergyPerUnit.unitTypes"
                        [unit-translations]="fields.fuelEnergyPerUnit?.translations"
                        [unit-controls]="fields.fuelEnergyPerUnit?.controlNames"
                        [required]="fields.fuelEnergyPerUnit.required"
                        [filled]="fields.fuelEnergyPerUnit.filled"
                        [module-group-id]="moduleGroupId"
                        (inputChange)="inputChangeHandle($event)"> </form-input>

            <form-input [formControlName]="fields.fuelCarbonContent.formControlName"
                        [label]="fields.fuelCarbonContent.label"
                        [unit-names]="setFuelType('fuelCarbonContent')"
                        [unit-types]="fields.fuelCarbonContent.unitTypes"
                        [unit-translations]="fields.fuelCarbonContent.translations"
                        [unit-controls]="fields.fuelCarbonContent.controlNames"
                        [module-group-id]="moduleGroupId"
                        [filled]="fields.fuelCarbonContent.filled"
                        [required]="fields.fuelCarbonContent.required"
                        (inputChange)="inputChangeHandle($event)"></form-input>

            <form-input [formControlName]="fields.costOfFuelPerUnit.formControlName"
                        [label]="fields.costOfFuelPerUnit.label"
                        [unit-names]="setFuelType('costOfFuelPerUnit')"
                        [unit-types]="fields.costOfFuelPerUnit?.unitTypes"
                        [unit-translations]="fields.costOfFuelPerUnit?.translations"
                        [unit-controls]="fields.costOfFuelPerUnit?.controlNames"
                        [module-group-id]="moduleGroupId"
                        [filled]="fields.costOfFuelPerUnit.filled"
                        [required]="fields.costOfFuelPerUnit.required"></form-input>

            <form-toggle [formControlName]="fields.fuelQtyPerYearIsKnown.formControlName"
                         [label]="fields.fuelQtyPerYearIsKnown.label">
              <ng-container yes>
                <form-input [formControlName]="fields.costOfFuelPerYear.formControlName"
                            [label]="fields.costOfFuelPerYear.label"
                            [unit-names]="fields.costOfFuelPerYear?.unitNames"
                            [unit-types]="fields.costOfFuelPerYear?.unitTypes"
                            [unit-controls]="fields.costOfFuelPerYear?.controlNames"
                            [unit-translations]="fields.costOfFuelPerYear?.translations"
                            [module-group-id]="moduleGroupId"
                            [required]="fields.costOfFuelPerYear.required"
                            [filled]="fields.costOfFuelPerYear.filled"
                            (changeRadio)="setFormValue('costOfFuelPerYear', formGroup.get('fuelConsumptionPerYear').value * 10);clearValues(['fuelConsumptionPerYear'])"
                            group="fuelQtyPerYearIsKnownGroup"
                            unit="/y"></form-input>

                <form-input [formControlName]="fields.fuelConsumptionPerYear.formControlName"
                            [label]="fields.fuelConsumptionPerYear.label"
                            [unit-names]="setFuelType('fuelConsumptionPerYear', 0)"
                            [unit-types]="fields.fuelConsumptionPerYear.unitTypes"
                            [unit-translations]="fields.fuelConsumptionPerYear.translations"
                            [unit-controls]="fields.fuelConsumptionPerYear.controlNames"
                            [required]="fields.fuelConsumptionPerYear.required"
                            [filled]="fields.fuelConsumptionPerYear.filled"
                            [module-group-id]="moduleGroupId"
                            (changeRadio)="setFormValue('fuelConsumptionPerYear', formGroup.get('costOfFuelPerYear').value / 10);clearValues(['costOfFuelPerYear'])"
                            group="fuelQtyPerYearIsKnownGroup"
                            unit="/yr"></form-input>
              </ng-container>
            </form-toggle>
          </div>
        </sga-panel>

        <sga-panel id="CO2EmissionPanel"
                   title="CO2 Emission"
                   titleTooltip="Tooltip"
                   background="#EDF2F4">
          <div body>
            <form-toggle name="CO2Emission" label="ARE_CO2_OR_CARBON_EMISSIONS_TAXED">
              <ng-container yes>
                <form-input [formControlName]="fields.carbonTaxLevyCostPerUnit.formControlName"
                            [label]="fields.carbonTaxLevyCostPerUnit.label"
                            [unit-names]="fields.carbonTaxLevyCostPerUnit.unitNames"
                            [unit-types]="fields.carbonTaxLevyCostPerUnit.unitTypes"
                            [unit-translations]="fields.carbonTaxLevyCostPerUnit.translations"
                            [unit-controls]="fields.carbonTaxLevyCostPerUnit.controlNames"
                            [module-group-id]="moduleGroupId"
                            [required]="fields.carbonTaxLevyCostPerUnit.required"
                            (changeRadio)="clearValues(['costOfCo2PerUnitMass'])"
                            group="emissions-taxed"></form-input>

                <form-input [formControlName]="fields.costOfCo2PerUnitMass.formControlName"
                            [label]="fields.costOfCo2PerUnitMass.label"
                            [unit-names]="fields.costOfCo2PerUnitMass.unitNames"
                            [unit-types]="fields.costOfCo2PerUnitMass.unitTypes"
                            [unit-translations]="fields.costOfCo2PerUnitMass.translations"
                            [unit-controls]="fields.costOfCo2PerUnitMass.controlNames"
                            [module-group-id]="moduleGroupId"
                            [required]="fields.costOfCo2PerUnitMass.required"
                            (changeRadio)="clearValues(['carbonTaxLevyCostUnit'])"
                            group="emissions-taxed"></form-input>
              </ng-container>
            </form-toggle>
          </div>
        </sga-panel>
      </div>

      <div class="col-md-6">
        <sga-panel id="WaterPanel" title="Water" titleTooltip="Tooltip" background="#EDF2F4">
          <div body>
            <form-input [formControlName]="fields.costOfWaterPerUnit.formControlName"
                        [label]="fields.costOfWaterPerUnit.label"
                        [unit-names]="fields.costOfWaterPerUnit.unitNames"
                        [unit-types]="fields.costOfWaterPerUnit.unitTypes"
                        [unit-translations]="fields.costOfWaterPerUnit.translations"
                        [unit-controls]="fields.costOfWaterPerUnit.controlNames"
                        [required]="fields.costOfWaterPerUnit.required"
                        [filled]="fields.costOfWaterPerUnit.filled"></form-input>

            <form-toggle [formControlName]="fields.boilerHouseWaterQtyPerYearIsKnown.formControlName"
                         [label]="fields.boilerHouseWaterQtyPerYearIsKnown.label">
              <ng-container yes>
                <form-input label="COST_OF_WATER_PER_YEAR"
                            unit="???/y"
                            group="isWaterEnteringBoilerHouseMeasured"
                            (changeRadio)="clearValues(['waterConsumptionPerYear'])"
                            required></form-input>

                <form-input label="WATER_CONSUMPTION_HOUR"
                            unit="???/h"
                            group="isWaterEnteringBoilerHouseMeasured"
                            (changeRadio)="clearValues(['waterConsumptionPerYear'])"
                            required></form-input>

                <form-input [formControlName]="fields.waterConsumptionPerYear.formControlName"
                            [label]="fields.waterConsumptionPerYear.label"
                            [unit-names]="fields.waterConsumptionPerYear.unitNames"
                            [unit-types]="fields.waterConsumptionPerYear.unitTypes"
                            [unit-translations]="fields.waterConsumptionPerYear.translations"
                            [unit-controls]="fields.waterConsumptionPerYear.controlNames"
                            [required]="fields.waterConsumptionPerYear.required"
                            [filled]="fields.waterConsumptionPerYear.filled"
                            (changeRadio)="clearValues([])"
                            group="isWaterEnteringBoilerHouseMeasured"
                            unit="/y"></form-input>
              </ng-container>
            </form-toggle>
          </div>
        </sga-panel>

        <sga-panel id="waterTreatmentChemicalsPanel" title="Water treatment chemicals" titleTooltip="Tooltip" background="#EDF2F4">
          <div body>
            <form-toggle [formControlName]="fields.boilerWaterTreatmentChemicalCostsIsKnown.formControlName"
                         [label]="fields.boilerWaterTreatmentChemicalCostsIsKnown.label">
              <ng-container yes>
                <form-input [formControlName]="fields.totalChemicalCostPerYear.formControlName"
                            [label]="fields.totalChemicalCostPerYear.label"
                            [unit-names]="fields.totalChemicalCostPerYear.unitNames"
                            [unit-types]="fields.totalChemicalCostPerYear.unitTypes"
                            [unit-translations]="fields.totalChemicalCostPerYear.translations"
                            [unit-controls]="fields.totalChemicalCostPerYear.controlNames"
                            [required]="fields.totalChemicalCostPerYear.required"
                            [filled]="fields.totalChemicalCostPerYear.filled"
                            unit="/y"></form-input>
                <form-input [formControlName]="fields.o2ScavengingChemicalsCostSavings.formControlName"
                            [label]="fields.o2ScavengingChemicalsCostSavings.label"
                            [unit-names]="fields.o2ScavengingChemicalsCostSavings.unitNames"
                            [unit-types]="fields.o2ScavengingChemicalsCostSavings.unitTypes"
                            [unit-translations]="fields.o2ScavengingChemicalsCostSavings.translations"
                            [unit-controls]="fields.o2ScavengingChemicalsCostSavings.controlNames"
                            [required]="fields.o2ScavengingChemicalsCostSavings.required"
                            [filled]="fields.o2ScavengingChemicalsCostSavings.filled"
                            unit="/y"></form-input>
              </ng-container>
            </form-toggle>
          </div>
        </sga-panel>

        <sga-panel id="waterEffluentPanel" title="Water effluent" titleTooltip="Tooltip" background="#EDF2F4">
          <div body>
            <form-input [formControlName]="fields.costOfEffluentPerUnit.formControlName"
                        [label]="fields.costOfEffluentPerUnit.label"
                        [unit-names]="fields.costOfEffluentPerUnit.unitNames"
                        [unit-types]="fields.costOfEffluentPerUnit.unitTypes"
                        [unit-translations]="fields.costOfEffluentPerUnit.translations"
                        [unit-controls]="fields.costOfEffluentPerUnit.controlNames"
                        [required]="fields.costOfEffluentPerUnit.required"
                        [filled]="fields.costOfEffluentPerUnit.filled"></form-input>
          </div>
        </sga-panel>
      </div>
    </div>
  </form>
</sga-panel>

<sga-panel [isCollapsed]="true"
           [showSeparator]="false"
           [title]="'BOILER_HOUSE_PARAMETERS' | translate"
           id="BoilerHouseParameters"
           titleSize="24px">
  <form body class="container-fluid" [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-12">
        <tabset type="pills" class="sgaTabs">
          <tab [heading]="'BOILER' | translate" customClass="sgaTab">
            <sga-panel id="boilerParametersPanel"
                       [title]="'BOILER_PARAMETERS' | translate"
                       background="#EDF2F4">
              <div body class="row">
                <div class="col-md-6 border-r-md">
                  <form-toggle [formControlName]="fields.isSuperheatedSteam.formControlName"
                               [label]="fields.isSuperheatedSteam.label"></form-toggle>

                  <form-toggle [formControlName]="fields.isSteamFlowMeasured.formControlName"
                               [label]="fields.isSteamFlowMeasured.label">
                    <ng-container yes>
                      <form-input [formControlName]="fields.boilerSteamGeneratedPerHour.formControlName"
                                  [label]="fields.boilerSteamGeneratedPerHour.label"
                                  [unit-names]="fields.boilerSteamGeneratedPerHour.unitNames"
                                  [unit-types]="fields.boilerSteamGeneratedPerHour.unitTypes"
                                  [unit-translations]="fields.boilerSteamGeneratedPerHour.translations"
                                  [unit-controls]="fields.boilerSteamGeneratedPerHour.controlNames"
                                  [required]="fields.boilerSteamGeneratedPerHour.required"
                                  [filled]="fields.boilerSteamGeneratedPerHour.filled"
                                  (changeRadio)="clearValues(['boilerSteamGeneratedPerYear'])"
                                  group="boilerSteamGeneratedTime"></form-input>

                      <form-input [formControlName]="fields.boilerSteamGeneratedPerYear.formControlName"
                                  [label]="fields.boilerSteamGeneratedPerYear.label"
                                  [unit-names]="fields.boilerSteamGeneratedPerYear.unitNames"
                                  [unit-types]="fields.boilerSteamGeneratedPerYear.unitTypes"
                                  [unit-translations]="fields.boilerSteamGeneratedPerYear.translations"
                                  [unit-controls]="fields.boilerSteamGeneratedPerYear.controlNames"
                                  [required]="fields.boilerSteamGeneratedPerYear.required"
                                  [filled]="fields.boilerSteamGeneratedPerYear.filled"
                                  (changeRadio)="clearValues(['boilerSteamGeneratedPerHour'])"
                                  group="boilerSteamGeneratedTime"></form-input>
                    </ng-container>
                  </form-toggle>
                </div>
                <div class="col-md-6">
                  <form-input [formControlName]="fields.boilerSteamTemperature.formControlName"
                              [label]="fields.boilerSteamTemperature.label"
                              [unit-names]="fields.boilerSteamTemperature.unitNames"
                              [unit-types]="fields.boilerSteamTemperature.unitTypes"
                              [unit-translations]="fields.boilerSteamTemperature.translations"
                              [unit-controls]="fields.boilerSteamTemperature.controlNames"
                              [required]="fields.boilerSteamTemperature.required"
                              [disabled]="!formGroup.controls[fields.isSuperheatedSteam.formControlName].value"
                              [filled]="fields.boilerSteamTemperature.filled"></form-input>

                  <form-input [formControlName]="fields.boilerSteamPressure.formControlName"
                              [label]="fields.boilerSteamPressure.label"
                              [unit-names]="fields.boilerSteamPressure.unitNames"
                              [unit-types]="fields.boilerSteamPressure.unitTypes"
                              [unit-translations]="fields.boilerSteamPressure.translations"
                              [unit-controls]="fields.boilerSteamPressure.controlNames"
                              [required]="fields.boilerSteamPressure.required"
                              [filled]="fields.boilerSteamPressure.filled"></form-input>

                  <form-toggle formControlName="isEconomizerPresent" label="IS_ECONOMISER_PRESENT"></form-toggle>

                  <form-input [formControlName]="fields.boilerEfficiency.formControlName"
                              [label]="fields.boilerEfficiency.label"
                              [unit-names]="fields.boilerEfficiency.unitNames"
                              [unit-types]="fields.boilerEfficiency.unitTypes"
                              [unit-translations]="fields.boilerEfficiency.translations"
                              [unit-controls]="fields.boilerEfficiency.controlNames"
                              [required]="fields.boilerEfficiency.required"
                              [filled]="fields.boilerEfficiency.filled"
                              unit="%"></form-input>
                </div>
              </div>
            </sga-panel>
          </tab>
          <tab [heading]="'TDS_BLOWDOWN' | translate" customClass="sgaTab">
            <sga-panel id="blowdownEquipmentPanel"
                       [title]="'BLOWDOWN_EQUIPMENT' | translate"
                       background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4 border-r-md">
                  <form-toggle [formControlName]="fields.isBlowdownVesselPresent.formControlName"
                               [label]="fields.isBlowdownVesselPresent.label"></form-toggle>

                  <form-toggle [formControlName]="fields.isCoolingWaterUsed.formControlName"
                               [label]="fields.isCoolingWaterUsed.label"></form-toggle>
                </div>
                <div class="col-md-4 border-r-md">
                  <form-toggle [formControlName]="fields.isAutoTdsControlPResent.formControlName"
                               [label]="fields.isAutoTdsControlPResent.label"></form-toggle>

                  <form-toggle [formControlName]="fields.isFlashVesselPresent.formControlName"
                               [label]="fields.isFlashVesselPresent.label"></form-toggle>
                </div>
                <div class="col-md-4">
                  <form-toggle [formControlName]="fields.isHeatExchangerPresent.formControlName"
                               [label]="fields.isHeatExchangerPresent.label">
                    <form-input yes
                                [formControlName]="fields.waterTemperatureLeavingHeatExchanger.formControlName"
                                [label]="fields.waterTemperatureLeavingHeatExchanger.label"
                                [unit-names]="fields.waterTemperatureLeavingHeatExchanger.unitNames"
                                [unit-types]="fields.waterTemperatureLeavingHeatExchanger.unitTypes"
                                [unit-translations]="fields.waterTemperatureLeavingHeatExchanger.translations"
                                [unit-controls]="fields.waterTemperatureLeavingHeatExchanger.controlNames"
                                [required]="fields.waterTemperatureLeavingHeatExchanger.required"
                                [filled]="fields.waterTemperatureLeavingHeatExchanger.filled"></form-input>
                  </form-toggle>
                </div>
              </div>
            </sga-panel>

            <sga-panel id="tdsBlowdownParametersPanel"
                       [title]="'TDS_BLOWDOWN_PARAMETERS' | translate"
                       background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4 border-r-md">
                  <form-input [formControlName]="fields.tdsOfFeedwaterInFeedtank.formControlName"
                              [label]="fields.tdsOfFeedwaterInFeedtank.label"
                              [unit-names]="fields.tdsOfFeedwaterInFeedtank.unitNames"
                              [unit-types]="fields.tdsOfFeedwaterInFeedtank.unitTypes"
                              [unit-translations]="fields.tdsOfFeedwaterInFeedtank.translations"
                              [unit-controls]="fields.tdsOfFeedwaterInFeedtank.controlNames"
                              [required]="fields.tdsOfFeedwaterInFeedtank.required"
                              [filled]="fields.tdsOfFeedwaterInFeedtank.filled"></form-input>
                </div>
                <div class="col-md-4 border-r-md">
                  <form-input [formControlName]="fields.boilerAverageTds.formControlName"
                              [label]="fields.boilerAverageTds.label"
                              [unit-names]="fields.boilerAverageTds.unitNames"
                              [unit-types]="fields.boilerAverageTds.unitTypes"
                              [unit-translations]="fields.boilerAverageTds.translations"
                              [unit-controls]="fields.boilerAverageTds.controlNames"
                              [required]="fields.boilerAverageTds.required"
                              [filled]="fields.boilerAverageTds.filled"></form-input>
                </div>
                <div class="col-md-4">
                  <form-input [formControlName]="fields.boilerMaxTds.formControlName"
                              [label]="fields.boilerMaxTds.label"
                              [unit-names]="fields.boilerMaxTds.unitNames"
                              [unit-types]="fields.boilerMaxTds.unitTypes"
                              [unit-translations]="fields.boilerMaxTds.translations"
                              [unit-controls]="fields.boilerMaxTds.controlNames"
                              [required]="fields.boilerMaxTds.required"
                              [filled]="fields.boilerMaxTds.filled"></form-input>
                </div>
              </div>
            </sga-panel>
          </tab>
          <tab [heading]="'WATER_TREATMENT' | translate" customClass="sgaTab">
            <sga-panel id="makeUpWaterPanel" [title]="'MAKE_UP_WATER' | translate" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-6 border-r-md">
                  <form-toggle name="isMakeUpWaterMonitored"
                               label="IS_MAKE_UP_WATER_MONITORED">
                    <form-input yes
                                [formControlName]="fields.temperatureOfMakeupWater.formControlName"
                                [label]="fields.temperatureOfMakeupWater.label"
                                [unit-names]="fields.temperatureOfMakeupWater.unitNames"
                                [unit-types]="fields.temperatureOfMakeupWater.unitTypes"
                                [unit-translations]="fields.temperatureOfMakeupWater.translations"
                                [unit-controls]="fields.temperatureOfMakeupWater.controlNames"
                                [required]="fields.temperatureOfMakeupWater.required"
                                [filled]="fields.temperatureOfMakeupWater.filled"></form-input>
                  </form-toggle>
                </div>
                <div class="col-md-6">
                  <form-input [formControlName]="fields.makeupWaterAmount.formControlName"
                              [label]="fields.makeupWaterAmount.label"
                              [unit-names]="fields.makeupWaterAmount.unitNames"
                              [unit-types]="fields.makeupWaterAmount.unitTypes"
                              [unit-translations]="fields.makeupWaterAmount.translations"
                              [unit-controls]="fields.makeupWaterAmount.controlNames"
                              [required]="fields.makeupWaterAmount.required"
                              [filled]="fields.makeupWaterAmount.filled"
                              (changeRadio)="clearValues(['makeupWaterAmount'])"
                              unit="/h"
                              group="makeupWaterAmount"></form-input>
                  <form-input [formControlName]="fields.makeupWaterAmount.formControlName"
                              [label]="'MAKE_UP_WATER_PER_YEAR'"
                              [unit-names]="fields.makeupWaterAmount.unitNames"
                              [unit-types]="fields.makeupWaterAmount.unitTypes"
                              [unit-translations]="fields.makeupWaterAmount.translations"
                              [unit-controls]="fields.makeupWaterAmount.controlNames"
                              [required]="fields.makeupWaterAmount.required"
                              [filled]="fields.makeupWaterAmount.filled"
                              (changeRadio)="clearValues(['makeupWaterAmount'])"
                              unit="/y"
                              group="makeupWaterAmount"></form-input>
                </div>
              </div>
            </sga-panel>

            <sga-panel id="waterTreatmentParametersPanel"
                       [title]="'WATER_TREATMENT_PARAMETERS' | translate"
                       background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4">
                  <form-list formControlName="waterTreatmentMethod"
                             enumeration-name="WaterTreatmentMethodList_BoilerHouseInput"
                             label="WATER_TREATMENT_METHOD"></form-list>
                </div>
                <div class="col-md-4">
                  <form-input [formControlName]="fields.percentageWaterRejection.formControlName"
                              [label]="fields.percentageWaterRejection.label"
                              [unit-names]="fields.percentageWaterRejection.unitNames"
                              [unit-types]="fields.percentageWaterRejection.unitTypes"
                              [unit-translations]="fields.percentageWaterRejection.translations"
                              [unit-controls]="fields.percentageWaterRejection.controlNames"
                              [required]="fields.percentageWaterRejection.required"
                              [filled]="fields.percentageWaterRejection.filled"
                              unit="%"></form-input>
                </div>
                <div class="col-md-4">
                  <form-input [formControlName]="fields.tdsOfMakeupWater.formControlName"
                              [label]="fields.tdsOfMakeupWater.label"
                              [unit-names]="fields.tdsOfMakeupWater.unitNames"
                              [unit-types]="fields.tdsOfMakeupWater.unitTypes"
                              [unit-translations]="fields.tdsOfMakeupWater.translations"
                              [unit-controls]="fields.tdsOfMakeupWater.controlNames"
                              [required]="fields.tdsOfMakeupWater.required"
                              [filled]="fields.tdsOfMakeupWater.filled"></form-input>
                </div>
              </div>
            </sga-panel>
          </tab>
          <tab [heading]="'FEEDWATER_AND_CONDENSATE' | translate" customClass="sgaTab">
            <sga-panel id="deaeratorTypePanel" [title]="'DEAERATOR_TYPE' | translate" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4">
                  <form-radio (valueChange)="clearValues(['pressurisedDeaerator'], false)"
                              [inputValue]="true"
                              [formControlName]="fields.atmosphericDeaerator.formControlName"
                              [label]="fields.atmosphericDeaerator.label"
                              name="deaeratorType">
                    <img src="/assets/img/steam_generation/deaerator_type_1.png" alt="deaerator_type_1">
                  </form-radio>
                </div>
                <div class="col-md-4">
                  <form-radio (valueChange)="clearValues( ['atmosphericDeaerator'], false)"
                              [inputValue]="true"
                              [formControlName]="fields.pressurisedDeaerator.formControlName"
                              [label]="fields.pressurisedDeaerator.label"
                              name="deaeratorType">
                    <img src="/assets/img/steam_generation/boiler-scheme/images/PressurisedDAImgCrop.png"
                         alt="deaerator_type_1">
                  </form-radio>
                </div>
              </div>
            </sga-panel>

            <sga-panel id="boilerFeedwaterPanel" [title]="'BOILER_FEEDWATER' | translate" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4 border-r-md">
                  <form-toggle [formControlName]="fields.isFeedWaterMeasured.formControlName"
                               [label]="fields.isFeedWaterMeasured.label">
                    <ng-container yes>
                      <form-input [formControlName]="fields.boilerFeedwaterConsumption.formControlName"
                                  [label]="fields.boilerFeedwaterConsumption.label"
                                  [unit-names]="fields.boilerFeedwaterConsumption.unitNames"
                                  [unit-types]="fields.boilerFeedwaterConsumption.unitTypes"
                                  [unit-translations]="fields.boilerFeedwaterConsumption.translations"
                                  [unit-controls]="fields.boilerFeedwaterConsumption.controlNames"
                                  [required]="fields.boilerFeedwaterConsumption.required"
                                  [filled]="fields.boilerFeedwaterConsumption.filled"
                                  (changeRadio)="clearValues(['boilerFeedwaterConsumption'])"
                                  unit="/h"
                                  group="boilerFeedwaterConsumptionGroup"></form-input>

                      <form-input [formControlName]="fields.boilerFeedwaterConsumption.formControlName"
                                  [label]="'CONSUMPTION_PER_YEAR'"
                                  [unit-names]="fields.boilerFeedwaterConsumption.unitNames"
                                  [unit-types]="fields.boilerFeedwaterConsumption.unitTypes"
                                  [unit-translations]="fields.boilerFeedwaterConsumption.translations"
                                  [unit-controls]="fields.boilerFeedwaterConsumption.controlNames"
                                  [required]="fields.boilerFeedwaterConsumption.required"
                                  [filled]="fields.boilerFeedwaterConsumption.filled"
                                  (changeRadio)="clearValues(['boilerFeedwaterConsumption'])"
                                  unit="/y"
                                  group="boilerFeedwaterConsumptionGroup"></form-input>
                    </ng-container>
                  </form-toggle>
                </div>
                <div class="col-md-4 border-r-md">
                  <form-input [formControlName]="fields.temperatureOfFeedtank.formControlName"
                              [label]="fields.temperatureOfFeedtank.label"
                              [unit-names]="fields.temperatureOfFeedtank.unitNames"
                              [unit-types]="fields.temperatureOfFeedtank.unitTypes"
                              [unit-translations]="fields.temperatureOfFeedtank.translations"
                              [unit-controls]="fields.temperatureOfFeedtank.controlNames"
                              [required]="fields.temperatureOfFeedtank.required"
                              [filled]="fields.temperatureOfFeedtank.filled"></form-input>

                  <form-input [formControlName]="fields.tdsOfFeedwaterInFeedtank.formControlName"
                              [label]="fields.tdsOfFeedwaterInFeedtank.label"
                              [unit-names]="fields.tdsOfFeedwaterInFeedtank.unitNames"
                              [unit-types]="fields.tdsOfFeedwaterInFeedtank.unitTypes"
                              [unit-translations]="fields.tdsOfFeedwaterInFeedtank.translations"
                              [unit-controls]="fields.tdsOfFeedwaterInFeedtank.controlNames"
                              [required]="fields.tdsOfFeedwaterInFeedtank.required"
                              [filled]="fields.tdsOfFeedwaterInFeedtank.filled"></form-input>

                  <form-toggle [formControlName]="fields.areChemicalsAddedDirectlyToFeedtank.formControlName"
                               [label]="fields.areChemicalsAddedDirectlyToFeedtank.label"></form-toggle>
                </div>
                <div class="col-md-4">
                  <form-toggle [formControlName]="fields.isDsiPresent.formControlName"
                               [label]="fields.isDsiPresent.label">
                    <form-input yes
                                [formControlName]="fields.pressureOfSteamSupplyingDsi.formControlName"
                                [label]="fields.pressureOfSteamSupplyingDsi.label"
                                [unit-names]="fields.pressureOfSteamSupplyingDsi.unitNames"
                                [unit-types]="fields.pressureOfSteamSupplyingDsi.unitTypes"
                                [unit-translations]="fields.pressureOfSteamSupplyingDsi.translations"
                                [unit-controls]="fields.pressureOfSteamSupplyingDsi.controlNames"
                                [required]="fields.pressureOfSteamSupplyingDsi.required"
                                [filled]="fields.pressureOfSteamSupplyingDsi.filled"></form-input>
                  </form-toggle>
                </div>
              </div>
            </sga-panel>

            <sga-panel id="condensateReturnPanel" [title]="'CONDENSATE_RETURN' | translate" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-6 border-r-md">
                  <form-toggle [formControlName]="fields.isCondensateReturnKnown.formControlName"
                               [label]="fields.isCondensateReturnKnown.label">
                    <ng-container yes>
                      <form-input [formControlName]="fields.percentageOfCondensateReturn.formControlName"
                                  [label]="fields.percentageOfCondensateReturn.label"
                                  [unit-names]="fields.percentageOfCondensateReturn.unitNames"
                                  [unit-types]="fields.percentageOfCondensateReturn.unitTypes"
                                  [unit-translations]="fields.percentageOfCondensateReturn.translations"
                                  [unit-controls]="fields.percentageOfCondensateReturn.controlNames"
                                  [required]="fields.percentageOfCondensateReturn.required"
                                  [filled]="fields.percentageOfCondensateReturn.filled"
                                  unit="%"
                                  group="isCondensateReturnKnown"></form-input>

                      <form-input [formControlName]="fields.volumeOfCondensateReturn.formControlName"
                                  [label]="fields.volumeOfCondensateReturn.label"
                                  [unit-names]="fields.volumeOfCondensateReturn.unitNames"
                                  [unit-types]="fields.volumeOfCondensateReturn.unitTypes"
                                  [unit-translations]="fields.volumeOfCondensateReturn.translations"
                                  [unit-controls]="fields.volumeOfCondensateReturn.controlNames"
                                  [required]="fields.volumeOfCondensateReturn.required"
                                  [filled]="fields.volumeOfCondensateReturn.filled"
                                  unit="/y"
                                  group="isCondensateReturnKnown"></form-input>
                    </ng-container>
                  </form-toggle>
                </div>
                <div class="col-md-6">
                  <form-input [formControlName]="fields.temperatureOfCondensateReturn.formControlName"
                              [label]="fields.temperatureOfCondensateReturn.label"
                              [unit-names]="fields.temperatureOfCondensateReturn.unitNames"
                              [unit-types]="fields.temperatureOfCondensateReturn.unitTypes"
                              [unit-translations]="fields.temperatureOfCondensateReturn.translations"
                              [unit-controls]="fields.temperatureOfCondensateReturn.controlNames"
                              [required]="fields.temperatureOfCondensateReturn.required"
                              [filled]="fields.temperatureOfCondensateReturn.filled"></form-input>

                  <form-input [formControlName]="fields.tdsOfCondensateReturn.formControlName"
                              [label]="fields.tdsOfCondensateReturn.label"
                              [unit-names]="fields.tdsOfCondensateReturn.unitNames"
                              [unit-types]="fields.tdsOfCondensateReturn.unitTypes"
                              [unit-translations]="fields.tdsOfCondensateReturn.translations"
                              [unit-controls]="fields.tdsOfCondensateReturn.controlNames"
                              [required]="fields.tdsOfCondensateReturn.required"
                              [filled]="fields.tdsOfCondensateReturn.filled"></form-input>
                </div>
              </div>
            </sga-panel>
          </tab>
        </tabset>
      </div>

      <div class="col-md-2"></div>
      <div class="col-md-8">
        <app-boiler-scheme></app-boiler-scheme>
      </div>
    </div>
  </form>
</sga-panel>
