<sga-panel id="UtilityParameters" title="Utility parameters" titleSize="24px">
  <form body class="container-fluid" [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="row mb-5">
      <div class="col-md-5">
        <form-input label="HOURS_OF_OPERATION" formControlName="hoursOfOperation" required></form-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <sga-panel id="FuelPanel"
                   [title]="'FUEL' | translate"
                   [titleTooltip]="('ALLOWS_YOU_TO_INPUT_FUEL_TYPE_AND_COSTS_HELP' | translate) + ('IF_A_STANDARD_FUEL_IS_USED_THE_CALORIFIC_VALUE_AND_CO2_EMISSIONS_FSLASH_UNIT_OF_FUEL_WILL_BE_AUTOMATICALLY_POPULATED_FROM_LOO_HELP' | translate)"
                   background="#EDF2F4">
          <div body>
            <app-form-field formControlName="inputFuelId"
                            name="inputFuelId"
                            type="select"
                            [error]="translateErrors('inputFuelId')"
                            [options]="[{value: 1, text: 'Natural Gas'}, {value: 2, text: 'some 2'}, {value: 3, text: 'some 3'}]"
                            [label]="'FUEL_TYPE' | translate"></app-form-field>

            <form-input formControlName="fuelEnergyPerUnit"
                        preference-name="EnergyUnits"
                        preference-unitType="BoilerHouseElectricalFuelUnits"
                        masterTextKey="ENERGY"
                        label="FUEL_CALORIFIC_VALUE"
                        [unit]="'/' + fuelEnergyUnit?.preference?.unitName"
                        required></form-input>
            <h1>{{fuelEnergyUnit?.preference | json}}</h1>


            <form-input formControlName="fuelCarbonContent"
                        label="CO2_EMISSIONS_PER_UNIT_FUEL"
                        unit="kg/kWh"
                        required filled></form-input>
            <form-input formControlName="costOfFuelPerUnit"
                        preference-name="GaseousFuelUnits"
                        preference-unitType="BoilerHouseGasFuelUnits"
                        masterTextKey="GASEOUS_FUEL"
                        label="COST_OF_FUEL_PER_UNIT"
                        unitBefore="£/"
                        required filled></form-input>

            <app-form-field formControlName="isSteamFlowMeasured" type="yesNo" [label]="'IS_FUEL_CONSUMPTION_MEASURED' | translate">
              <ng-container yes>
                <app-form-field formControlName="costOfFuelPerYear"
                                name="fuelConsumptionPerYear"
                                type="radioInput"
                                group="costOfFuelYear"
                                unit="£/y"
                                [label]="'COST_OF_FUEL_PER_YEAR' | translate"
                                [error]="translateErrors('costOfFuelPerYear')"
                                required></app-form-field>
                <app-form-field formControlName="fuelConsumptionPerYear"
                                name="fuelConsumptionPerYear"
                                type="radioInput"
                                group="costOfFuelYear"
                                unit="m3/y"
                                [label]="'FUEL_CONSUMPTION_PER_YEAR' | translate"
                                [error]="translateErrors('fuelConsumptionPerYear')"
                                required></app-form-field>
              </ng-container>
            </app-form-field>
          </div>
        </sga-panel>

        <sga-panel id="CO2EmissionPanel" title="CO2 Emission" titleTooltip="Tooltip" background="#EDF2F4">
          <div body>
            <app-form-field name="ARE_CO2_OR_CARBON_EMISSIONS_TAXED"
                            type="yesNo"
                            [label]="'ARE_CO2_OR_CARBON_EMISSIONS_TAXED' | translate">
              <ng-container yes>
                <app-form-field formControlName="carbonTaxLevyCostPerUnit"
                                type="radioInput"
                                unit="???"
                                group="areCO2OrCarbonEmissionsTaxed"
                                [label]="'CARBON_TAX_LEVY_COST_PER_UNIT' | translate"
                                [error]="translateErrors('carbonTaxLevyCostPerUnit')"
                                required></app-form-field>
                <app-form-field formControlName="carbonTaxLevyCostUnit"
                                type="radioInput"
                                unit="???"
                                group="areCO2OrCarbonEmissionsTaxed"
                                [label]="'COST_OF_CO2_PER_UNIT_MAX' | translate"
                                [error]="translateErrors('carbonTaxLevyCostUnit')"
                                required></app-form-field>
              </ng-container>
            </app-form-field>
          </div>
        </sga-panel>
      </div>

      <div class="col-md-6">
        <sga-panel id="WaterPanel" title="Water" titleTooltip="Tooltip" background="#EDF2F4">
          <div body>
            <app-form-field formControlName="costOfWaterPerUnit"
                            name="costOfWaterPerUnit"
                            unit="£/m3"
                            [label]="'COST_OF_WATER_FSLASH_UNIT' | translate"
                            [error]="translateErrors('costOfWaterPerUnit')"
                            required></app-form-field>
            <app-form-field formControlName="isFeedWaterMeasured"
                            name="isFeedWaterMeasured"
                            [label]="'IS_WATER_ENTERING_THE_BOILER_HOUSE_MEASURED' | translate"
                            type="yesNo">
              <ng-container yes>
                <app-form-field formControlName="costOfWaterUnit"
                                name="costOfWaterUnit"
                                [label]="'COST_OF_WATER_PER_YEAR' | translate"
                                unit="£/y"
                                type="radioInput"
                                group="isWaterEnteringBoilerHouseMeasured"
                                [required]="true"></app-form-field>
                <app-form-field formControlName="waterConsumptionPerYearUnit"
                                name="waterConsumptionPerYearUnit"
                                label="Water Consumption / hour"
                                unit="m3/h"
                                type="radioInput"
                                group="isWaterEnteringBoilerHouseMeasured"
                                [required]="true"></app-form-field>
                <app-form-field formControlName="waterConsumptionPerYear"
                                name="waterConsumptionPerYear"
                                label="Water Consumption / year"
                                unit="m3/y"
                                type="radioInput"
                                group="isWaterEnteringBoilerHouseMeasured"
                                required></app-form-field>
              </ng-container>
            </app-form-field>
          </div>
        </sga-panel>

        <sga-panel id="waterTreatmentChemicalsPanel" title="Water treatment chemicals" titleTooltip="Tooltip" background="#EDF2F4">
          <div body>
            <app-form-field type="yesNo"
                            name="areChemicalCostKnown"
                            label="Are chemical cost known?">
              <ng-container yes>
                <app-form-field type="number"
                                label="Total chemical costs / year"
                                [required]="true"
                                unit="£/y"></app-form-field>
                <app-form-field type="number"
                                label="O2 scavenging chemical costs / year"
                                [required]="true"
                                unit="£/y"></app-form-field>
              </ng-container>
            </app-form-field>
          </div>
        </sga-panel>

        <sga-panel id="waterEffluentPanel" title="Water effluent" titleTooltip="Tooltip" background="#EDF2F4">
          <div body>
            <app-form-field type="number"
                            label="Cost of effluent / unit"
                            [required]="true"
                            unit="£/m3"></app-form-field>
          </div>
        </sga-panel>
      </div>
    </div>
  </form>
</sga-panel>

<sga-panel [isCollapsed]="true" [showSeparator]="false" id="BoilerHouseParameters" title="Boiler house parameters" titleSize="24px">
  <form body class="container-fluid" [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-12">
        <tabset type="pills" class="sgaTabs">
          <tab heading="Boiler" customClass="sgaTab">
            <sga-panel id="boilerParametersPanel" title="Boiler parameters" background="#EDF2F4">
              <div body class="row">
                <div class="col-md-6 border-r-md">
                  <app-form-field type="yesNo"
                                  formControlName="isSuperheatedSteam"
                                  name="isSuperheatedSteam"
                                  [label]="'IS_SUPERHEATED_STEAM' | translate"></app-form-field>
                  <app-form-field type="yesNo" name="isSteamFlowMeasured" label="Is steam flow measured?">
                    <ng-container yes>
                      <app-form-field type="radioInput"
                                      [required]="true"
                                      group="isSteamFlowMeasured"
                                      name="steamGenerationHour"
                                      unit="kg/h"
                                      label="Steam generation / hour"></app-form-field>
                      <app-form-field type="radioInput"
                                      [required]="true"
                                      group="isSteamFlowMeasured"
                                      name="steamGenerationYear"
                                      unit="tonnes/y"
                                      label="Steam generation / year"></app-form-field>
                    </ng-container>
                  </app-form-field>
                </div>
                <div class="col-md-6">
                  <app-form-field name="steamTemperature" unit="°C" label="Steam Temperature"></app-form-field>
                  <app-form-field [required]="true"
                                  name="steamPressure"
                                  unit="bar gauge"
                                  label="Steam Pressure"></app-form-field>
                  <app-form-field type="yesNo" name="isEconomiserPresent" label="Is Economiser Present?"></app-form-field>
                  <app-form-field [filled]="true"
                                  [required]="true"
                                  type="number"
                                  name="boilerEfficiency"
                                  label="Boiler Efficiency"
                                  unit="%"></app-form-field>
                </div>
              </div>
            </sga-panel>
          </tab>
          <tab heading="TDS BLOWDOwn" customClass="sgaTab">
            <sga-panel id="blowdownEquipmentPanel" title="Blowdown equipment" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4 border-r-md">
                  <app-form-field type="yesNo"
                                  name="isBlowdownVesselPresent"
                                  label="is blowdown vessel present?"></app-form-field>
                  <app-form-field type="yesNo"
                                  name="isCoolingWaterUsed"
                                  label="is cooling water used?"></app-form-field>
                </div>
                <div class="col-md-4 border-r-md">
                  <app-form-field type="yesNo"
                                  name="isAutoTdsPresent"
                                  label="Is auto tds present?"></app-form-field>
                  <app-form-field type="yesNo"
                                  name="isFlashVesselPresent"
                                  label="Is flash vessel present?"></app-form-field>
                </div>
                <div class="col-md-4">
                  <app-form-field type="yesNo"
                                  name="isHeatExchangerPresent"
                                  label="Is heat exchanger present?"></app-form-field>
                  <app-form-field [filled]="true"
                                  name="waterTemperatureLeavingHeatExchange"
                                  unit="°C"
                                  label="water temperature leaving heat exchange"></app-form-field>
                </div>
              </div>
            </sga-panel>
            <sga-panel id="tdsBlowdownParametersPanel" title="tds Blowdown parameters" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4 border-r-md">
                  <app-form-field [required]="true"
                                  name="tDSOfFeedwater"
                                  unit="ppm"
                                  label="TDS of feedwater"></app-form-field>
                </div>
                <div class="col-md-4 border-r-md">
                  <app-form-field [required]="true"
                                  name="averageBoilerTds"
                                  unit="ppm"
                                  label="Average boiler tds"></app-form-field>
                </div>
                <div class="col-md-4">
                  <app-form-field [required]="true"
                                  name="maximumAllowableBoilerTDS"
                                  unit="ppm"
                                  label="maximum allowable boiler TDS"></app-form-field>
                </div>
              </div>
            </sga-panel>
          </tab>
          <tab heading="Water Treatment" customClass="sgaTab">
            <sga-panel id="makeUpWaterPanel" title="Make-up water" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-6 border-r-md">
                  <app-form-field type="yesNo"
                                  name="isMakeUpWaterMonitored"
                                  label="Is make-up water monitored?">
                    <ng-container yes>
                      <app-form-field [required]="true"
                                      name="temperatureOfMakeUpWater"
                                      unit="°C"
                                      label="Temperature of make-up water"></app-form-field>
                    </ng-container>
                  </app-form-field>
                </div>
                <div class="col-md-6">
                  <app-form-field [required]="true"
                                  type="radioInput"
                                  group="makeUpWater"
                                  name="makeUpWaterHour"
                                  unit="m3/h"
                                  label="make-up water/hour"></app-form-field>
                  <app-form-field [required]="true"
                                  type="radioInput"
                                  group="makeUpWater"
                                  name="makeUpWaterYear"
                                  unit="m3/h"
                                  label="make-up water/year"></app-form-field>
                </div>
              </div>
            </sga-panel>
            <sga-panel id="waterTreatmentParametersPanel" title="water treatment parameters" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4">
                  <app-form-field name="waterTreatmentMethod"
                                  type="select"
                                  [options]="['Base Exchange', '2', '3']"
                                  label="water treatment method"></app-form-field>
                </div>
                <div class="col-md-4">
                  <app-form-field [required]="true"
                                  unit="%"
                                  label="Percentage water rejection"
                                  name="percentageWaterRejection"></app-form-field>
                </div>
                <div class="col-md-4">
                  <app-form-field [required]="true"
                                  unit="ppm"
                                  label="tds of makeup water"
                                  name="tdsOfMakeupWater"></app-form-field>
                </div>
              </div>
            </sga-panel>
          </tab>
          <tab heading="Feedwater & Condensate" customClass="sgaTab">
            <sga-panel id="deaeratorTypePanel" title="Deaerator type" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4">
                  <app-form-field type="radio"
                                  [(model)]="deaeratorType"
                                  value="autmosphericDeaerator"
                                  id="autmosphericDeaeratorId"
                                  name="deaeratorType"
                                  label="Autmospheric Deaerator">
                    <img before
                         class="checkImage"
                         src="/assets/img/steam_generation/deaerator_type_1.png"
                         alt="deaerator_type_1">
                  </app-form-field>
                </div>
                <div class="col-md-4">
                  <app-form-field type="radio"
                                  [(model)]="deaeratorType"
                                  value="pressurlsedDeaerator"
                                  id="pressurlsedDeaeratorId"
                                  name="deaeratorType"
                                  label="Pressurlsed Deaerator">
                    <img before
                         class="checkImage"
                         src="/assets/img/steam_generation/boiler-scheme/images/PressurisedDAImgCrop.png"
                         alt="deaerator_type_1">
                  </app-form-field>
                </div>
              </div>
            </sga-panel>
            <sga-panel id="boilerFeedwaterPanel" title="Boiler feedwater" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4 border-r-md">
                  <app-form-field type="yesNo" name="isFeedwaterFlowrateMeasured" label="Is feedwater flowrate measured?">
                    <ng-container yes>
                      <app-form-field [required]="true"
                                      type="radioInput"
                                      group="isFeedwaterFlowrateMeasured"
                                      name="consumptionHr"
                                      label="Consumption/hr"
                                      unit="m3/h"></app-form-field>
                      <app-form-field [required]="true"
                                      type="radioInput"
                                      group="isFeedwaterFlowrateMeasured"
                                      name="consumptionHr"
                                      label="Consumption/year"
                                      unit="m3/y"></app-form-field>
                    </ng-container>
                  </app-form-field>
                </div>
                <div class="col-md-4 border-r-md">
                  <app-form-field [required]="true"
                                  name="temperatureOfFeedtank"
                                  unit="°C"
                                  label="temperature of feedtank"></app-form-field>
                  <app-form-field [required]="true"
                                  name="TDSOfFeedwaterInFeedtank"
                                  unit="ppm"
                                  label="TDS of feedwater in feedtank"></app-form-field>
                  <app-form-field type="yesNo"
                                  name="areChemicalsAddedDirectlyToTheFeedtank"
                                  label="Are chemicals added directly to the feedtank?"></app-form-field>
                </div>
                <div class="col-md-4">
                  <app-form-field type="yesNo" name="isDsiPresent" label="Is dsi present">
                    <ng-container yes>
                      <app-form-field [required]="true"
                                      name="pressureOfSteamSupplyingDSI"
                                      unit="barg"
                                      label="Pressure of steam supplying DSI"></app-form-field>
                    </ng-container>
                  </app-form-field>
                </div>
              </div>
            </sga-panel>
            <sga-panel id="condensateReturnPanel" title="CONDENSATE RETURN" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-6 border-r-md">
                  <app-form-field type="yesNo" name="isCondensateReturnKnown" label="is condensate return known?">
                    <ng-container yes>
                      <app-form-field type="radioInput"
                                      [required]="true"
                                      group="isCondensateReturnKnown"
                                      name="percentageOfCondensateReturned"
                                      unit="%"
                                      label="Percentage of condensate returned"></app-form-field>
                      <app-form-field type="radioInput"
                                      [required]="true"
                                      group="isCondensateReturnKnown"
                                      name="volumeOfCondensateReturned"
                                      unit="m3/y"
                                      label="Volume of condensate returned"></app-form-field>
                    </ng-container>
                  </app-form-field>
                </div>
                <div class="col-md-6">
                  <app-form-field [required]="true"
                                  name="temperatureOfCondensateReturned"
                                  unit="°C"
                                  label="temperature of CONDENSATE RETURNED"></app-form-field>
                  <app-form-field [required]="true"
                                  name="tdsOfCondensateReturned"
                                  unit="ppm"
                                  label="TDS of CONDENSATE RETURNED"></app-form-field>
                </div>
              </div>
            </sga-panel>
          </tab>
        </tabset>
      </div>

      <div class="col-md-2"></div>
      <div class="col-md-8">
        <app-boiler-scheme [feedWater]="deaeratorType === 'autmosphericDeaerator' ? 'main' : 'main_PRESSURE'"></app-boiler-scheme>
      </div>
    </div>
  </form>
</sga-panel>
