<sga-panel id="UtilityParameters" title="Utility parameters" titleSize="24px">
  <form body class="container-fluid" [formGroup]="formGroup">
    <div class="row mb-5">
      <div class="col-md-5">
        <form-input [formControlName]="fields.hoursOfOperation.formControlName"
                    [label]="fields.hoursOfOperation.label"
                    [required]="fields.hoursOfOperation.required"></form-input>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <sga-panel id="FuelPanel"
                   [title]="'FUEL' | translate"
                   [titleTooltip]="('ALLOWS_YOU_TO_INPUT_FUEL_TYPE_AND_COSTS_HELP' | translate) + ('IF_A_STANDARD_FUEL_IS_USED_THE_CALORIFIC_VALUE_AND_CO2_EMISSIONS_FSLASH_UNIT_OF_FUEL_WILL_BE_AUTOMATICALLY_POPULATED_FROM_LOO_HELP' | translate)"
                   background="#EDF2F4">
          <div body>
            <fuel-type-field [module-group-id]="moduleGroupId" [(preference)]="fuelType"></fuel-type-field>

            <form-input [formControlName]="fields.fuelEnergyPerUnit.formControlName"
                        [label]="fields.fuelEnergyPerUnit.label"
                        [unit-names]="setFuelType('fuelEnergyPerUnit')"
                        [unit-translations]="fields.fuelEnergyPerUnit?.translations"
                        [unit-controls]="fields.fuelEnergyPerUnit?.controlNames"
                        [module-group-id]="moduleGroupId"
                        [required]="fields.fuelEnergyPerUnit.required"></form-input>

            <form-input [formControlName]="fields.fuelCarbonContent.formControlName"
                        [label]="fields.fuelCarbonContent.label"
                        [unit-names]="setFuelType('fuelCarbonContent')"
                        [unit-types]="fields.fuelCarbonContent.unitTypes"
                        [unit-translations]="fields.fuelCarbonContent.translations"
                        [unit-controls]="fields.fuelCarbonContent.controlNames"
                        [module-group-id]="moduleGroupId"
                        [required]="fields.fuelCarbonContent.required"></form-input>

            <form-input [formControlName]="fields.costOfFuelPerUnit.formControlName"
                        [label]="fields.costOfFuelPerUnit.label"
                        [unit-names]="setFuelType('costOfFuelPerUnit')"
                        [unit-types]="fields.costOfFuelPerUnit?.unitTypes"
                        [unit-translations]="fields.costOfFuelPerUnit?.translations"
                        [unit-controls]="fields.costOfFuelPerUnit?.controlNames"
                        [module-group-id]="moduleGroupId"
                        [required]="fields.costOfFuelPerUnit.required"></form-input>

            <form-toggle formControlName="fuelQtyPerYearIsKnown"
                         label="IS_FUEL_CONSUMPTION_MEASURED">
              <ng-container yes>
                <form-input [formControlName]="fields.costOfFuelPerYear.formControlName"
                            [label]="fields.costOfFuelPerYear.label"
                            [unit-names]="fields.costOfFuelPerYear?.unitNames"
                            [unit-types]="fields.costOfFuelPerYear?.unitTypes"
                            [unit-controls]="fields.costOfFuelPerYear?.controlNames"
                            [unit-translations]="fields.costOfFuelPerYear?.translations"
                            [disabled]="!costOfFuelPerYearActive?.checked"
                            [required]="fields.costOfFuelPerYear.required"
                            unit="/y">
                  <input (change)="clearValues(['fuelConsumptionPerYear'])"
                         value="costOfFuelPerYear"
                         #costOfFuelPerYearActive
                         radio
                         name="activeConsumptionInput"
                         type="radio">
                </form-input>

                <form-input [formControlName]="fields.fuelConsumptionPerYear.formControlName"
                            [label]="fields.fuelConsumptionPerYear.label"
                            [unit-names]="setFuelType('fuelConsumptionPerYear', 0)"
                            [disabled]="!fuelConsumptionPerYearActive?.checked"
                            [required]="fields.fuelConsumptionPerYear.required"
                            unit="/yr">
                  <input (change)="clearValues(['costOfFuelPerYear'])"
                         value="fuelConsumptionPerYear"
                         #fuelConsumptionPerYearActive
                         radio
                         name="activeConsumptionInput"
                         type="radio">
                </form-input>
              </ng-container>
            </form-toggle>
          </div>
        </sga-panel>

        <sga-panel id="CO2EmissionPanel"
                   title="CO2 Emission"
                   titleTooltip="Tooltip"
                   background="#EDF2F4">
          <div body>
            <form-toggle name="CO2Emission" label="ARE_CO2_OR_CARBON_EMISSIONS_TAXED">
              <ng-container yes>
                <form-input [formControlName]="fields.carbonTaxLevyCostPerUnit.formControlName"
                            [label]="fields.carbonTaxLevyCostPerUnit.label"
                            [unit-names]="fields.carbonTaxLevyCostPerUnit.unitNames"
                            [unit-types]="fields.carbonTaxLevyCostPerUnit.unitTypes"
                            [unit-translations]="fields.carbonTaxLevyCostPerUnit.translations"
                            [unit-controls]="fields.carbonTaxLevyCostPerUnit.controlNames"
                            [required]="fields.carbonTaxLevyCostPerUnit.required"
                            (changeRadio)="clearValues(['costOfCo2PerUnitMass'])"
                            group="emissions-taxed"></form-input>
                <form-input [formControlName]="fields.costOfCo2PerUnitMass.formControlName"
                            [label]="fields.costOfCo2PerUnitMass.label"
                            [unit-names]="fields.costOfCo2PerUnitMass.unitNames"
                            [unit-types]="fields.costOfCo2PerUnitMass.unitTypes"
                            [unit-translations]="fields.costOfCo2PerUnitMass.translations"
                            [unit-controls]="fields.costOfCo2PerUnitMass.controlNames"
                            [required]="fields.costOfCo2PerUnitMass.required"
                            (changeRadio)="clearValues(['carbonTaxLevyCostUnit'])"
                            group="emissions-taxed"></form-input>
              </ng-container>
            </form-toggle>
          </div>
        </sga-panel>
      </div>

      <div class="col-md-6">
        <sga-panel id="WaterPanel" title="Water" titleTooltip="Tooltip" background="#EDF2F4">
          <div body>
            <form-input formControlName="costOfWaterPerUnit"
                        label="COST_OF_WATER_FSLASH_UNIT"
                        unit="£/m3"
                        required></form-input>

            <form-toggle formControlName="boilerHouseWaterQtyPerYearIsKnown"
                         label="IS_WATER_ENTERING_THE_BOILER_HOUSE_MEASURED">
              <ng-container yes>
                <form-input label="COST_OF_WATER_PER_YEAR"
                            unit="£/y"
                            group="isWaterEnteringBoilerHouseMeasured"
                            (changeRadio)="clearValues(['waterConsumptionPerYearUnit', 'waterConsumptionPerYear'])"
                            required></form-input>

                <form-input label="WATER_CONSUMPTION_HOUR"
                            unit="m3/h"
                            group="isWaterEnteringBoilerHouseMeasured"
                            (changeRadio)="clearValues(['waterConsumptionPerYear', 'costOfWaterUnit'])"
                            required></form-input>

                <form-input formControlName="waterConsumptionPerYear"
                            label="WATER_CONSUMPTION_YEAR"
                            unit="m3/y"
                            group="isWaterEnteringBoilerHouseMeasured"
                            (changeRadio)="clearValues(['costOfWaterUnit', 'waterConsumptionPerYearUnit'])"
                            required></form-input>
              </ng-container>
            </form-toggle>
          </div>
        </sga-panel>

        <sga-panel id="waterTreatmentChemicalsPanel" title="Water treatment chemicals" titleTooltip="Tooltip" background="#EDF2F4">
          <div body>
            <form-toggle formControlName="boilerWaterTreatmentChemicalCostsIsKnown"
                         label="ARE_CHEMICAL_COST_KNOWN">
              <ng-container yes>
                <form-input formControlName="totalChemicalCostPerYear"
                            label="TOTAL_CHEMICAL_COSTS_PER_YEAR"
                            unit="£/y"
                            required></form-input>
                <form-input formControlName="o2ScavengingChemicalsCostSavings"
                            label="O2_SCAVENGING_CHEMICALS_COST_SAVINGS"
                            unit="£/y"></form-input>
              </ng-container>
            </form-toggle>
          </div>
        </sga-panel>

        <sga-panel id="waterEffluentPanel" title="Water effluent" titleTooltip="Tooltip" background="#EDF2F4">
          <div body>
            <form-input formControlName="costOfEffluentPerUnit"
                        label="COST_OF_EFFLUENT_FSLASH_UNIT"
                        unit="£/m3"
                        required></form-input>
          </div>
        </sga-panel>
      </div>
    </div>
  </form>
</sga-panel>

<sga-panel [isCollapsed]="true"
           [showSeparator]="false"
           [title]="'BOILER_HOUSE_PARAMETERS' | translate"
           id="BoilerHouseParameters"
           titleSize="24px">
  <form body class="container-fluid" [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-12">
        <tabset type="pills" class="sgaTabs">
          <tab [heading]="'BOILER' | translate" customClass="sgaTab">
            <sga-panel id="boilerParametersPanel"
                       [title]="'BOILER_PARAMETERS' | translate"
                       background="#EDF2F4">
              <div body class="row">
                <div class="col-md-6 border-r-md">
                  <form-toggle formControlName="isSuperheatedSteam" label="IS_SUPERHEATED_STEAM"></form-toggle>
                  <form-toggle formControlName="isSteamFlowMeasured" label="IS_STEAM_FLOW_MEASURED"></form-toggle>

                  <form-input formControlName="boilerSteamGeneratedPerYear"
                              label="STEAM_GENERATION_PER_HOUR"
                              unit="kg/h"
                              [disabled]="formGroup.controls['boilerSteamGeneratedPerYearUnit'].value !== 1"
                              required>
                    <input radio
                           [value]="1"
                           (change)="clearValues(['boilerSteamGeneratedPerYear'])"
                           type="radio"
                           formControlName="boilerSteamGeneratedPerYearUnit">
                  </form-input>
                  <form-input formControlName="boilerSteamGeneratedPerYear"
                              label="STEAM_GENERATION_PER_YEAR"
                              unit="tonnes/y"
                              [disabled]="formGroup.controls['boilerSteamGeneratedPerYearUnit'].value !== 2"
                              required>
                    <input radio
                           [value]="2"
                           (change)="clearValues(['boilerSteamGeneratedPerYear'])"
                           type="radio"
                           formControlName="boilerSteamGeneratedPerYearUnit">
                  </form-input>
                </div>
                <div class="col-md-6">
                  <form-input formControlName="boilerSteamTemperature"
                              unit="°C"
                              label="STEAM_TEMPERATURE"></form-input>

                  <form-input formControlName="boilerSteamPressure"
                              unit="bar gauge"
                              label="STEAM_PRESSURE"
                              required></form-input>

                  <form-toggle formControlName="isEconomizerPresent" label="IS_ECONOMISER_PRESENT"></form-toggle>

                  <form-input formControlName="boilerEfficiency"
                              label="BOILER_EFFICIENCY"
                              unit="%"
                              required filled></form-input>
                </div>
              </div>
            </sga-panel>
          </tab>
          <tab [heading]="'TDS_BLOWDOWN' | translate" customClass="sgaTab">
            <sga-panel id="blowdownEquipmentPanel"
                       [title]="'BLOWDOWN_EQUIPMENT' | translate"
                       background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4 border-r-md">
                  <form-toggle formControlName="isBlowdownVesselPresent"
                               label="IS_BLOWDOWN_VESSEL_PRESENT"></form-toggle>

                  <form-toggle formControlName="isCoolingWaterUsed"
                               label="IS_COOLING_WATER_USED"></form-toggle>
                </div>
                <div class="col-md-4 border-r-md">
                  <form-toggle formControlName="isAutoTdsControlPResent"
                               label="IS_AUTO_TDS_PRESENT"></form-toggle>
                  <form-toggle formControlName="isFlashVesselPresent"
                               label="IS_FLASH_VESSEL_PRESENT"></form-toggle>
                </div>
                <div class="col-md-4">
                  <form-toggle formControlName="isHeatExchangerPresent"
                               label="IS_HEAT_EXCHANGER_PRESENT"></form-toggle>
                  <form-input formControlName="waterTemperatureLeavingHeatExchanger"
                              label="WATER_TEMPERATURE_LEAVING_HEAT_EXCHANGER"
                              unit="°C"
                              filled></form-input>
                </div>
              </div>
            </sga-panel>

            <sga-panel id="tdsBlowdownParametersPanel"
                       [title]="'TDS_BLOWDOWN_PARAMETERS' | translate"
                       background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4 border-r-md">
                  <form-input formControlName="tdsOfFeedwaterInFeedtank"
                              label="TDS_OF_FEEDWATER_IN_FEEDTANK"
                              unit="ppm"
                              required></form-input>
                </div>
                <div class="col-md-4 border-r-md">
                  <form-input formControlName="boilerAverageTds"
                              label="AVERAGE_BOILER_TDS"
                              unit="ppm"
                              required></form-input>
                </div>
                <div class="col-md-4">
                  <form-input formControlName="boilerMaxTds"
                              label="MAXIMUM_ALLOWABLE_BOILER_TDS"
                              unit="ppm"
                              required></form-input>
                </div>
              </div>
            </sga-panel>
          </tab>
          <tab [heading]="'WATER_TREATMENT' | translate" customClass="sgaTab">
            <sga-panel id="makeUpWaterPanel" [title]="'MAKE_UP_WATER' | translate" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-6 border-r-md">
                  <form-toggle name="isMakeUpWaterMonitored"
                               label="IS_MAKE_UP_WATER_MONITORED">
                    <form-input yes formControlName="temperatureOfMakeupWater"
                                label="TEMPERATURE_OF_MAKE_UP_WATER"
                                unit="°C"></form-input>
                  </form-toggle>
                </div>
                <div class="col-md-6">
                  <form-input label="MAKE_UP_WATER_PER_HOUR" unit="m3/h" group="makeUpWater" required></form-input>
                  <form-input label="MAKE_UP_WATER_PER_YEAR" unit="m3/y" group="makeUpWater" required></form-input>
                </div>
              </div>
            </sga-panel>

            <sga-panel id="waterTreatmentParametersPanel"
                       [title]="'WATER_TREATMENT_PARAMETERS' | translate"
                       background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4">
                  <form-list formControlName="waterTreatmentMethod"
                             enumeration-name="WaterTreatmentMethodList_BoilerHouseInput"
                             label="WATER_TREATMENT_METHOD"></form-list>
                </div>
                <div class="col-md-4">
                  <form-input formControlName="percentageWaterRejection"
                              label="PERCENTAGE_WATER_REJECTION"
                              unit="%"
                              required></form-input>
                </div>
                <div class="col-md-4">
                  <form-input formControlName="tdsOfMakeupWater"
                              label="TDS_OF_MAKEUP_WATER"
                              unit="ppm"
                              required></form-input>
                </div>
              </div>
            </sga-panel>
          </tab>
          <tab [heading]="'FEEDWATER_AND_CONDENSATE' | translate" customClass="sgaTab">
            <sga-panel id="deaeratorTypePanel" [title]="'DEAERATOR_TYPE' | translate" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4">
                  <form-radio (valueChange)="clearValues(['pressurisedDeaerator'], false)"
                              [inputValue]="true"
                              formControlName="atmosphericDeaerator"
                              label="AUTMOSPHERIC_DEAERATOR"
                              name="deaeratorType">
                    <img src="/assets/img/steam_generation/deaerator_type_1.png" alt="deaerator_type_1">
                  </form-radio>
                </div>
                <div class="col-md-4">
                  <form-radio (valueChange)="clearValues( ['atmosphericDeaerator'], false)"
                              [inputValue]="true"
                              formControlName="pressurisedDeaerator"
                              label="PRESSURLSED_DEAERATOR"
                              name="deaeratorType">
                    <img src="/assets/img/steam_generation/boiler-scheme/images/PressurisedDAImgCrop.png"
                         alt="deaerator_type_1">
                  </form-radio>
                </div>
              </div>
            </sga-panel>

            <sga-panel id="boilerFeedwaterPanel" [title]="'BOILER_FEEDWATER' | translate" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-4 border-r-md">
                  <form-toggle formControlName="isFeedWaterMeasured" label="IS_FEEDWATER_FLOWRATE_MEASURED">
                    <ng-container yes>
                      <form-input formControlName="boilerFeedwaterConsumption"
                                  label="CONSUMPTION_PER_HR"
                                  unit="m3/h"
                                  group="isFeedwaterFlowrateMeasured"
                                  (changeRadio)="clearValues(['boilerFeedwaterConsumption'])"
                                  required></form-input>

                      <form-input formControlName="boilerFeedwaterConsumption"
                                  label="CONSUMPTION_PER_YEAR"
                                  unit="m3/y"
                                  group="isFeedwaterFlowrateMeasured"
                                  (changeRadio)="clearValues(['boilerFeedwaterConsumption'])"
                                  required></form-input>
                    </ng-container>
                  </form-toggle>
                </div>
                <div class="col-md-4 border-r-md">
                  <form-input formControlName="temperatureOfFeedtank"
                              label="TEMPERATURE_OF_FEEDTANK"
                              unit="°C"
                              required></form-input>
                  <form-input formControlName="tdsOfFeedwaterInFeedtank"
                              label="TDS_OF_FEEDWATER_IN_FEEDTANK"
                              unit="ppm"
                              required></form-input>
                  <form-toggle formControlName="areChemicalsAddedDirectlyToFeedtank"
                               label="ARE_CHEMICALS_ADDED_DIRECTLY_TO_FEEDTANK"></form-toggle>
                </div>
                <div class="col-md-4">
                  <form-toggle formControlName="isDsiPresent"
                               label="IS_DSI_PRESENT">
                    <form-input yes
                                formControlName="pressureOfSteamSupplyingDsi"
                                unit="barg"
                                label="PRESSURE_OF_STEAM_SUPPLYING_DSI"
                                required></form-input>
                  </form-toggle>
                </div>
              </div>
            </sga-panel>

            <sga-panel id="condensateReturnPanel" [title]="'CONDENSATE_RETURN' | translate" background="#EDF2F4">
              <div class="row" body>
                <div class="col-md-6 border-r-md">
                  <form-toggle formControlName="isCondensateReturnKnown"
                               label="IS_CONDENSATE_RETURN_KNOWN">
                    <ng-container yes>
                      <form-input formControlName="percentageOfCondensateReturn"
                                  label="PERCENTAGE_OF_CONDENSATE_RETURN"
                                  unit="%"
                                  group="isCondensateReturnKnown"
                                  required></form-input>
                      <form-input formControlName="volumeOfCondensateReturn"
                                  label="VOLUME_OF_CONDENSATE_RETURN"
                                  unit="m3/y"
                                  group="isCondensateReturnKnown"
                                  required></form-input>
                    </ng-container>
                  </form-toggle>
                </div>
                <div class="col-md-6">
                  <form-input formControlName="temperatureOfCondensateReturn"
                              label="TEMPERATURE_OF_CONDENSATE_RETURN"
                              unit="°C"
                              required></form-input>
                  <form-input formControlName="tdsOfCondensateReturn"
                              label="TDS_OF_CONDENSATE_RETURN"
                              unit="ppm"
                              required></form-input>
                </div>
              </div>
            </sga-panel>
          </tab>
        </tabset>
      </div>

      <div class="col-md-2"></div>
      <div class="col-md-8">
        <app-boiler-scheme></app-boiler-scheme>
      </div>
    </div>
  </form>
</sga-panel>
