<div class="sga-wrapper" [ngClass]="{'requestLoader': requestLoading$ | async}">
  <div class="sgaBaseTabs_heading">
    <h4 class="sgaBaseTabs_heading__title">
      <span>{{'IMPROVING_STEAM_GENERATION_EFFICIENCY' | translate}}</span>

      <ng-container *ngIf="sizingModuleResults?.benchmark; else testCalc">
        <button class="sgaBaseTabs_nextBtn" *ngIf="nextTab && !nextTab.disabled" (click)="nextTabHandle(tabsRef)">
          {{nextTab?.heading || 'Next'}} <i class="fa fa-arrow-right"></i>
        </button>
      </ng-container>

      <ng-template #testCalc>
        <button class="sgaBaseTabs_nextBtn" (click)="testCalculation()">
          Calculate <i class="fa fa-arrow-right"></i>
        </button>
      </ng-template>
    </h4>
    <p class="sgaBaseTabs_heading__subtitle">
      {{project?.name || ('UNTITLED_PROJECT' | translate)}} - {{job?.name || ('UNTITLED_JOB' | translate)}}
    </p>
  </div>

  <tabset class="sgaBaseTabs" #tabsRef>
    <tab heading="Input parameters" (select)="setActiveTab($event)">
      <app-sga-input-parameters [moduleGroupId]="moduleGroupId"
                                [formGroup]="sizingModuleForm"
                                (changeFuelType)="calculateCalorificValue($event)"
                                (calculateEfficiency)="calculateBoilerEfficiency($event)"
                                (calculateWaterTreatment)="calculateWaterTreatment($event)"></app-sga-input-parameters>
    </tab>
    <tab [heading]="'BENCHMARK' | translate" [disabled]="!sizingModuleResults?.benchmark" (select)="setActiveTab($event)">
      <app-sga-benchmark [formGroup]="sizingModuleForm"
                         [data]="sizingModuleResults?.benchmark"
                         [units]="units$ | async"
                         [currency]="currency$ | async"
                         [chartData]="benchmarkChartData"></app-sga-benchmark>
    </tab>
    <tab [heading]="'PROPOSED_SETUP' | translate"
         [disabled]="!sizingModuleResults?.proposedSetup || !sizingModuleResults?.features"
         (select)="setActiveTab($event)">
      <app-sga-proposed-setup [data]="sizingModuleResults"
                              [currency]="currency$ | async"
                              [totalSaving]="proposalSetupTotal"
                              [verticalChart]="proposalVerticalChart"
                              [horizontalChart]="proposalSetupHorizontalChart"
                              [isEconomizerPresent]="sizingModuleForm.get('benchmarkInputs.isEconomizerPresent')?.value"
                              (generateProposed)="calculateProposedSetup($event)"
                              (resetFinalProposal)="finalProposalHorizontalChart = proposalVerticalChart = null"
                              [units]="units$ | async"></app-sga-proposed-setup>

      <button class="sgaBaseTabs_nextBtn"
              *ngIf="!!finalProposalHorizontalChart && !!proposalVerticalChart"
              (click)="setActiveTab(3)">{{'FINAL_PROPOSAL' | translate}} <i class="fa fa-arrow-right"></i></button>
    </tab>
    <tab [heading]="'FINAL_PROPOSAL' | translate"
         [disabled]="!finalProposalHorizontalChart || !proposalVerticalChart"
         (select)="setActiveTab($event)">
      <app-sga-final-proposal [currency]="currency$ | async"
                              [units]="units$ | async"
                              [verticalChart]="proposalVerticalChart"
                              [horizontalChart]="finalProposalHorizontalChart"></app-sga-final-proposal>
    </tab>
  </tabset>

</div>
