<div class="sga-wrapper" [ngClass]="{'requestLoader': requestLoading$ | async}">
  <div class="sgaBaseTabs_heading">
    <h4 class="sgaBaseTabs_heading__title">
      <span>{{'IMPROVING_STEAM_GENERATION_EFFICIENCY' | translate}}</span>

      <ng-container *ngIf="benchmarkData">
        <button class="sgaBaseTabs_heading__next" *ngIf="nextTab && !nextTab.disabled" (click)="nextTabHandle(tabsRef)">
          {{nextTab?.heading || 'Next'}} <i class="fa fa-arrow-right"></i>
        </button>
      </ng-container>
    </h4>
    <p class="sgaBaseTabs_heading__subtitle">
      {{('UNTITLED_PROJECT' | translate)+' - '+('UNTITLED_JOB' | translate)}}
    </p>
  </div>

  <tabset class="sgaBaseTabs" #tabsRef>
    <tab heading="Input parameters" (select)="setActiveTab($event)">
      <app-sga-input-parameters [moduleGroupId]="moduleGroupId"
                                (changeFuelType)="calculateCalorificValue($event)"
                                (calculateEfficiency)="calculateBoilerEfficiency($event)"
                                (calculateWaterTreatment)="calculateWaterTreatment($event)"></app-sga-input-parameters>
    </tab>
    <tab [heading]="'BENCHMARK' | translate" [disabled]="!benchmarkData" (select)="setActiveTab($event)">
      <app-sga-benchmark [formGroup]="sizingModuleForm"
                         [data]="benchmarkData"
                         [units]="units$ | async"
                         [currency]="currency"
                         [chartData]="benchmarkChartData"></app-sga-benchmark>
    </tab>
    <tab [heading]="'PROPOSED_SETUP' | translate" [disabled]="!proposedSetupData" (select)="setActiveTab($event)">
      <app-sga-proposed-setup [data]="proposedSetupData"
                              [currency]="currency"
                              [results]="proposedSetupResults"
                              (generateProposed)="calculateProposedSetup($event)"
                              (nextTabHandle)="setActiveTab(3)"
                              [inputData]="sizingModuleForm.get('benchmarkInputs').value"
                              [units]="units$ | async"></app-sga-proposed-setup>
    </tab>
    <tab [heading]="'FINAL_PROPOSAL' | translate" [disabled]="!proposedSetupResults" (select)="setActiveTab($event)">
      <app-sga-final-proposal [data]="proposedSetupResults"></app-sga-final-proposal>
    </tab>
  </tabset>

</div>
