<sga-panel title="Proposed setup" [disableToggle]="true">
  <ng-container body>
    <div class="sgaProposedSetup">
      <sga-panel title="Setup parameters" titleTooltip="Some tooltip" id="SetupParametersPanel" background="#EDF2F4">
        <form body class="setupParameters" [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><h5>{{'CURRENT_SITUATION' | translate}}</h5></div>
            <div class="col-md-4"><h5>{{'PROPOSED_SITUATION' | translate}}</h5></div>
          </div>
          <div class="row">
            <div class="col-md-4"><p>{{'PERCENT_CONDENSATE_RETURNED' | translate}}</p></div>
            <div class="col-md-4"><form-input formControlName="PERCENT_CONDENSATE_RETURNED_l" unit="%" filled></form-input></div>
            <div class="col-md-4"><form-input formControlName="PERCENT_CONDENSATE_RETURNED_r" unit="%" required></form-input></div>
          </div>
          <div class="row">
            <div class="col-md-4"><p>{{'CONDENSATE_RETURNED' | translate}}</p></div>
            <div class="col-md-4"><form-input formControlName="CONDENSATE_RETURNED_l" unit="m3" filled></form-input></div>
            <div class="col-md-4"><form-input formControlName="CONDENSATE_RETURNED_r" unit="m3" required></form-input></div>
          </div>
          <div class="row">
            <div class="col-md-4"><p>{{'TEMPERATURE_OF_CONDENSATE_RETURN' | translate}}</p></div>
            <div class="col-md-4"><form-input formControlName="TEMPERATURE_OF_CONDENSATE_RETURN_l" unit="°C" filled></form-input></div>
            <div class="col-md-4"><form-input formControlName="TEMPERATURE_OF_CONDENSATE_RETURN_r" unit="°C" required></form-input></div>
          </div>
          <div class="row">
            <div class="col-md-4"><p>{{'WATER_REJECTION_RATE' | translate}}</p></div>
            <div class="col-md-4"><form-input formControlName="WATER_REJECTION_RATE_l" unit="%" filled></form-input></div>
            <div class="col-md-4"><form-input formControlName="WATER_REJECTION_RATE_r" unit="%" required></form-input></div>
          </div>
          <div class="row">
            <div class="col-md-4"><p>{{'BOILER_EFFICIENCY' | translate}}</p></div>
            <div class="col-md-4"><form-input formControlName="BOILER_EFFICIENCY_l" unit="%" filled></form-input></div>
            <div class="col-md-4"><form-input formControlName="BOILER_EFFICIENCY_r" unit="%" required></form-input></div>
          </div>
          <div class="row">
            <div class="col-md-4"><p>{{'ECONOMISER_REQUIRED' | translate}}</p></div>
            <div class="col-md-8">
              <form-toggle name="economiserRequired" formControlName="ECONOMISER_REQUIRED"></form-toggle>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4"><p>{{'TEMPERATURE_OF_FEEDTANK' | translate}}</p></div>
            <div class="col-md-4"><form-input formControlName="TEMPERATURE_OF_FEEDTANK_l" unit="°C" filled></form-input></div>
            <div class="col-md-4"><form-input formControlName="TEMPERATURE_OF_FEEDTANK_r" unit="°C" required></form-input></div>
          </div>
          <div class="row">
            <div class="col-md-4"><p>{{'TEMPERATURE_OF_FEEDTANK' | translate}}</p></div>
            <div class="col-md-4"><form-input formControlName="TEMPERATURE_OF_FEEDTANK_2_l" unit="bar gauge" filled></form-input></div>
            <div class="col-md-4"><form-input formControlName="TEMPERATURE_OF_FEEDTANK_2_r" unit="bar gauge" required></form-input></div>
          </div>
        </form>
      </sga-panel>

      <p class="sgaProposedSetup_title">{{'POTENTIAL_BOILER_HOUSE_SAVINGS_BY_PROJECT' | translate}}</p>
      <p class="sgaProposedSetup_subtitle mb-24">Saving £’000s / yr</p>
      <app-chart-bar className="sgaProposedSetup_chart" [data]="chartData" [labels]="chartLabels"></app-chart-bar>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h5 class="sgaProposedSetup_title">
            <span>Cost of Steam Generation</span>
            <i class="fa fa-info-circle"></i>
          </h5>
          <app-chart-bar type="horizontalBar"
                         [options]="costSteamGenerationChartOptions"
                         [legend]="false"
                         [data]="costSteamGenerationChart"
                         [labels]="costSteamGenerationChartLabels"></app-chart-bar>
          <p>Steam Generation Savings: <span class="text-bold">£7,691</span></p>
          <p>Savings Including Condensate Effluent: <span class="text-bold">£7,691</span> </p>
        </div>
        <div class="col-md-6">
          <h5 class="sgaProposedSetup_title mb-24">
            <span>Add Features</span>
            <i class="fa fa-info-circle"></i>
          </h5>
          <ul class="sgaProposedSetup_list">
            <li>
              <label>
                <input type="checkbox">
                Boiler efficiency improvements
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox">
                Increase condensate return
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox">
                Add water treatment plant (RO)
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox">
                Add Auto TDS controls
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox">
                Add Auto TDS and flash recovery
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox">
                Add Auto TDS, flash recovery + heat Excanger
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox">
                Add direct steam injection to feedtank
              </label>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</sga-panel>
