<div class="customField">
  <label class="customField_label" *ngIf="!!label && type !== 'radioInput'">{{label}}</label>

  <div class="customField_input" [ngClass]="{'noBg': type === 'yesNo' ||  type === 'radioInput'}">

    <ng-container [ngSwitch]="type">
      <select
        class="form-control"
        title="Some title"
        [ngClass]="{className: className, statusLine: statusLine}"
        [name]="name"
        *ngSwitchCase="'select'"
        [(ngModel)]="model"
        (ngModelChange)="modelChange.emit(model)"
      >
        <option *ngIf="!!placeholder" selected disabled>{{placeholder}}</option>
        <option *ngFor="let option of sortArrayByIndex(options)"
                [value]="option.value"
                [title]="option.title">
          {{option.text}}
        </option>
      </select>

      <div *ngSwitchCase="'yesNo'"
           class="customField_checkboxes"
           [ngClass]="{className: className, statusLine: statusLine}">
        <label class="customField_checkboxes__wrap">
          <input type="radio"
                 [value]="true"
                 [name]="name"
                 [(ngModel)]="model"
                 (ngModelChange)="modelChange.emit(model)" />
          <span>YES</span>
        </label>
        <label class="customField_checkboxes__wrap">
          <input type="radio"
                 [value]="false"
                 [name]="name"
                 [(ngModel)]="model"
                 (ngModelChange)="modelChange.emit(model)" />
          <span>No</span>
        </label>
      </div>

      <div *ngSwitchCase="'radioInput'" class="customField_checkboxes" [ngClass]="{ className: className }">
        <div class="col-12 form-group" *ngFor="let item of radioInputData">
          <label class="customField_label marginLeft" *ngIf="!!item.label || !!label">
            {{item.label || label}}
          </label>

          <div class="customField_checkboxes__wrap m0">
            <input type="radio"
                   [name]="name"
                   [(ngModel)]="radioInputModel"
                   [value]="item.name" />
            <input [type]="item.type || radioInputType"
                   [(ngModel)]="model"
                   (ngModelChange)="modelChange.emit(model)"
                   [ngClass]="{statusLine: item.statusLine !== undefined ? item.statusLine : statusLine}"
                   [disabled]="item.disabled !== undefined ? item.disabled : disabled !== undefined ? disabled : !radioInputModel || radioInputModel !== item.name" />
            <div class="customField_input__unit canDisabled" *ngIf="!!item.unit || !!unit">
              {{item.unit || unit}}
            </div>
          </div>

        </div>
      </div>

      <input
        [type]="type"
        [ngClass]="{className: className, statusLine: statusLine}"
        [(ngModel)]="model"
        (ngModelChange)="modelChange.emit(model)"
        [required]="required"
        [name]="name"
        [placeholder]="placeholder || ''"
        *ngSwitchDefault
      >
    </ng-container>

    <div class="customField_input__unit" *ngIf="!!unit && type !== 'radioInput'">{{unit}}</div>
  </div>
</div>
