<div class="form-group formField {{type}} {{classList}}">
  <label class="formField_label" *ngIf="!!label">{{label}}{{required && ' *'}}</label>
  <div class="formField_wrap"
       [ngClass]="{focus: isFocused, error: !!error, disabled: disabled || (type === 'radioInput' && !checked), checkField: type === 'yesNo' || type === 'radioInput'}">
    <ng-container [ngSwitch]="type">
      <select *ngSwitchCase="'select'"
              class="form-control"
              [ngClass]="{required: required, filled: filled, error: !!error}"
              [ngModel]="value"
              (ngModelChange)="updateValue($event)"
              (blur)="onTouched()"
              (focusin)="isFocused = true"
              (focusout)="isFocused = false"
              [disabled]="disabled"
              [required]="required"
              [name]="name">
        <option selected disabled *ngIf="!!placeholder">{{placeholder}}</option>
        <option *ngFor="let option of options"
                [value]="option.value || option"
                [title]="option.title">
          {{option.text || option}}
        </option>
      </select>
      <ng-container *ngSwitchCase="'yesNo'">
        <label>
          <input type="radio"
                 [value]="true"
                 [name]="name"
                 [ngModel]="value"
                 (ngModelChange)="updateValue($event)"
                 (blur)="onTouched()"
                 [disabled]="disabled"
                 [required]="required">
          <span>YES</span>
        </label>
        <label>
          <input type="radio"
                 [value]="false"
                 [name]="name"
                 [ngModel]="value"
                 (ngModelChange)="updateValue($event)"
                 (blur)="onTouched()"
                 [disabled]="disabled"
                 [required]="required">
          <span>No</span>
        </label>
      </ng-container>
      <ng-container *ngSwitchCase="'radioInput'">
        <input class="radioInput_check"
               #radioCheckRef
               [type]="multiple ? 'checkbox' : 'radio'"
               (change)="changeRadioInputHandle($event.target)"
               [name]="group"
               [disabled]="disabled"
               [required]="required">
        <input class="form-control"
               autocomplete="off"
               [ngClass]="{required: required, filled: filled, error: !!error}"
               [ngModel]="value"
               (ngModelChange)="updateValue($event)"
               (blur)="onTouched()"
               (focusin)="isFocused = true"
               (focusout)="isFocused = false"
               [disabled]="!radioCheckRef.checked"
               [required]="required"
               [placeholder]="placeholder || ''"
               type="number"
               [name]="name">
      </ng-container>
      <input *ngSwitchDefault
             ref="baseInputRef"
             class="form-control"
             autocomplete="off"
             [ngClass]="{required: required, filled: filled, error: !!error}"
             [ngModel]="value"
             (ngModelChange)="updateValue($event)"
             (blur)="onTouched()"
             (focusin)="isFocused = true"
             (focusout)="isFocused = false"
             [disabled]="disabled"
             [required]="required"
             [placeholder]="placeholder || ''"
             [type]="type"
             [name]="name">
    </ng-container>

    <span class="unit" *ngIf="!!unit">{{unit}}</span>
  </div>
  <span [ngClass]="{formField_error: !!error}" *ngIf="!!error || !!message">{{error || message}}</span>
</div>

<ng-container *ngIf="type === 'yesNo'">
  <ng-content *ngIf="value" select="[yes]"></ng-content>
  <ng-content *ngIf="!value" select="[no]"></ng-content>
</ng-container>
