<div class="panel ssPanel" [ngStyle]="{ background: background }">
  <div class="panel-heading">
    <ng-template *ngIf="!!headingRef" [ngTemplateOutlet]="headingRef"></ng-template>
    <div *ngIf="!headingRef">
      <h4 class="panel-title" *ngIf="!!title" [ngStyle]="{fontSize: titleSize }">
        <span>{{title}}</span>
        <i class="fa fa-info-circle ssPanel_tooltip" [tooltip]="titleTooltip" placement="right" *ngIf="!!titleTooltip"></i>
      </h4>
      <p class="ssPanel_subtitle" *ngIf="!!subtitle">{{subtitle}}</p>
    </div>
    <button class="ssPanel_toggle"
            type="button"
            *ngIf="!disableToggle"
            [attr.aria-controls]="id"
            [attr.aria-expanded]="!isCollapsed"
            (click)="isCollapsed = !isCollapsed">
      {{isCollapsed ? '+' : '−'}}
    </button>
  </div>

  <div class="collapse" [id]="id" [collapse]="isCollapsed">
    <div class="panel-body">
      <hr *ngIf="showSeparator">
      <ng-content select="[body]"></ng-content>
    </div>
  </div>
</div>
