$border-color: #8B93B7;
$active-border-color: #002D72;

.steps {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  counter-reset: step;
  position: relative;
  padding: 0;
  margin: 0;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    height: 2px;
    width: 100%;
    background-color: $border-color;
    z-index: 0;
  }

  &>li {
    background-color: #fff;
    z-index: 1;
    list-style-type: none;
    border: 1px solid $border-color;
    border-radius: 30px;
    padding: 10px;
    margin: 0;
    width: 200px;
    max-width: 200px;
    white-space: nowrap;
    font-size: 16px;
    font-style: normal;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    &:before {
      content: counter(step);
      counter-increment: step;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0;
      text-align: center;
      border: 1px solid $border-color;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 12px;
    }

    &.active {
      border-color: $active-border-color;
      color: $active-border-color;
      &:before {
        color: #FFFFFF;
        background-color: $active-border-color;
      }
    }
  }
}
