<label class="ssInput_label" *ngIf="!!label">{{label}}</label>
<div class="ssInput" [ngClass]="{ statusLine: statusLine }">
  <input
    [type]="type"
    [ngClass]="className"
    [(ngModel)]="inputValue"
    (change)="onChangeEvent($event)"
    (keydown)="onKeydownEvent($event)"
    (keypress)="onKeypressEvent($event)"
    (keyup)="onKeyupEvent($event)"
    (focus)="onFocusEvent($event)"
    (focusout)="onFocusOutEvent($event)"
    [required]="required"
  >

  <div class="ssInput_unit" *ngIf="!!unit">{{unit}}</div>
</div>
