<div class="sga-wrapper">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">Improving Steam Generation Efficiency</h4>
    </div>
    <div class="panel-body">
      <sga-steps></sga-steps>
    </div>
  </div>

  <div>
    <sga-panel title="Utility parameters">
      <div body>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <ss-input [statusLine]="true" label="Hours of Operation"></ss-input>
            </div>
          </div>
        </div>
        <ss-button (click)="testClickEvent($event)">Some button</ss-button>
      </div>
    </sga-panel>
  </div>
</div>
