<div class="sga-wrapper">
  <div class="sgaBaseTabs_heading">
    <h4 class="sgaBaseTabs_heading__title">
      <span>{{'IMPROVING_STEAM_GENERATION_EFFICIENCY' | translate}}</span>
    </h4>
    <p class="sgaBaseTabs_heading__subtitle">
      {{('UNTITLED_PROJECT' | translate)+' - '+('UNTITLED_JOB' | translate)}}
    </p>
  </div>
  <tabset class="sgaBaseTabs">
    <tab heading="Input parameters">
      <app-sga-input-parameters></app-sga-input-parameters>
    </tab>
    <tab heading="Benchmark"><h1>2</h1></tab>
    <tab heading="Proposed Setup"><h1>3</h1></tab>
    <tab heading="Final Proposal"><h1>4</h1></tab>
  </tabset>
</div>
