<ng-template #emptyCol><td>-</td></ng-template> <!-- If column value is empty shows it  -->

<div class="row">
  <div class="col-md-12 tableMargin">
    <table class="customTable">
      <caption><p class="sgaBaseTabs_title_sm">{{'SUMMARY_OF_COST_FSLESH_SAVINGS' | translate}}</p></caption>
      <thead>
      <tr>
        <th>{{"PARAMETER" | translate}}</th>
        <th class="text-center">{{"CURRENT_SITUATION" | translate}}</th>
        <th class="text-center">{{"PROPOSED_SITUATION" | translate}}</th>
        <th class="text-center">{{"POTENTIAL_SAVINGS" | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{'HOURS_OF_OPERATION' | translate}}</td>
        <td *ngIf="current?.thPerY; else emptyCol">{{current?.thPerY | number: '0.0-0'}} {{'HRS_FSLASH_YEAR' | translate}}</td>
        <td *ngIf="potential?.thPerY; else emptyCol">{{potential?.thPerY | number: '0.0-0'}} {{'HRS_FSLASH_YEAR' | translate}}</td>
        <td>–</td>
      </tr>
      <tr>
        <td>{{'STEAM_GENERATED' | translate}}</td>
        <td *ngIf="current?.mBoiler; else emptyCol">{{current.mBoiler | number: '0.0-2'}} {{units[selectedUnits?.massFlowUnitSelected]}}</td>
        <td *ngIf="potential?.mBoiler; else emptyCol">{{potential.mBoiler | number: '0.0-2'}} {{units[selectedUnits?.massFlowUnitSelected]}}</td>
        <td>–</td>
      </tr>
      <tr>
        <td>{{'FUEL' | translate}}</td>
        <td>{{fuelTypeList[originalCurrent?.fuelId] ? (fuelTypeList[originalCurrent?.fuelId] | translate) : '-'}}</td>
        <td>{{fuelTypeList[originalCurrent?.fuelId] ? (fuelTypeList[originalCurrent?.fuelId] | translate) : '-'}}</td>
        <td>–</td>
      </tr>
      <tr>
        <td>{{'COST_OF_STEAM_FSLASH_YEAR' | translate}}</td>
        <td *ngIf="current?.totalCostOfSteamPerYear; else emptyCol">{{currency}}{{current.totalCostOfSteamPerYear | number: '0.0-2'}} /{{'YR' | translate}}</td>
        <td *ngIf="potential?.totalCostOfSteamPerYear; else emptyCol">{{currency}}{{potential.totalCostOfSteamPerYear | number: '0.0-2'}} /{{'YR' | translate}}</td>
        <td *ngIf="current?.totalCostOfSteamPerYear && potential.totalCostOfSteamPerYear; else emptyCol">{{currency}}{{(current.totalCostOfSteamPerYear - potential.totalCostOfSteamPerYear) | number: '0.0-2'}} /{{'YR' | translate}}</td>
      </tr>
      <tr>
        <td>{{'TOTAL_COST_OF_STEAM_FSLASH_UNIT_MASS' | translate}}</td>
        <td *ngIf="current?.totalCostOfSteamPerTonne; else emptyCol">{{currency}}{{current.totalCostOfSteamPerTonne | number: '0.0-2'}} /{{massFlowUnit}}</td>
        <td *ngIf="potential?.totalCostOfSteamPerTonne; else emptyCol">{{currency}}{{potential.totalCostOfSteamPerTonne | number: '0.0-2'}} /{{massFlowUnit}}</td>
        <td *ngIf="current?.totalCostOfSteamPerTonne && potential.totalCostOfSteamPerTonne; else emptyCol">{{currency}}{{(current.totalCostOfSteamPerTonne - potential.totalCostOfSteamPerTonne) | number: '0.0-2'}} /{{massFlowUnit}}</td>
      </tr>
      <tr>
        <td>{{'TOTAL_COST_OF_STEAM_FSLASH_UNIT_ENERGY' | translate}}</td>
        <td *ngIf="current?.totalCostOfSteamPerkWhOfFuel; else emptyCol">{{currency}}{{current.totalCostOfSteamPerkWhOfFuel | number: '0.0-3'}} /{{units[selectedUnits?.energyUnitSelected]}}</td>
        <td *ngIf="potential?.totalCostOfSteamPerkWhOfFuel; else emptyCol">{{currency}}{{potential.totalCostOfSteamPerkWhOfFuel | number: '0.0-3'}} /{{units[selectedUnits?.energyUnitSelected]}}</td>
        <td *ngIf="current?.totalCostOfSteamPerkWhOfFuel && potential.totalCostOfSteamPerkWhOfFuel; else emptyCol">{{currency}}{{(current.totalCostOfSteamPerkWhOfFuel - potential.totalCostOfSteamPerkWhOfFuel) | number: '0.0-3'}} /{{units[selectedUnits?.energyUnitSelected]}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12 tableMargin">
    <table class="customTable">
      <caption><p class="sgaBaseTabs_title_sm">{{'ENVIROMENTAL_IMPACT' | translate}}</p></caption>
      <thead>
      <tr>
        <th rowspan="2">{{'PARAMETER' | translate}}</th>
        <th class="text-center" colspan="2">{{'CURRENT' | translate}}</th>
        <th class="text-center" colspan="2">{{'POTENTIAL' | translate}}</th>
        <th class="text-center">{{'ANNUAL_SAVINGS' | translate}}</th>
      </tr>
      <tr>
        <th class="text-center">PER {{massFlowUnit}} {{'STEAM' | translate}}</th>
        <th class="text-center">{{'PER_YEAR' | translate}}</th>
        <th class="text-center">PER {{massFlowUnit}} {{'STEAM' | translate}}</th>
        <th class="text-center">{{'PER_YEAR' | translate}}</th>
        <th class="text-center">{{'PER_YEAR' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>{{'FUEL_CONSUMED' | translate}}</td>
        <td *ngIf="fuelEnergyData?.current && current?.mBoiler; else emptyCol">
          <div>{{fuelEnergyData?.current / current?.mBoiler | number: '0.0-2'}} {{fuelEnergyData?.unit}}/{{massFlowUnit}}</div>
        </td>
        <td *ngIf="fuelEnergyData?.current; else emptyCol">
          {{fuelEnergyData?.current | number: '0.0-2'}} {{fuelEnergyData?.unit}}/{{'YR' | translate}}
        </td>
        <td *ngIf="fuelEnergyData?.potential && potential?.mBoiler; else emptyCol">
          {{fuelEnergyData?.potential / potential.mBoiler | number: '0.0-2'}} {{fuelEnergyData?.unit}}/{{massFlowUnit}}
        </td>
        <td *ngIf="fuelEnergyData?.potential; else emptyCol">
          {{fuelEnergyData?.potential | number: '0.0-2'}} {{fuelEnergyData?.unit}}/{{'YR' | translate}}
        </td>
        <td *ngIf="fuelEnergyData?.current && fuelEnergyData?.potential">
          {{fuelEnergyData?.current - fuelEnergyData?.potential | number: '0.0-2'}} {{fuelEnergyData?.unit}}/{{'YR' | translate}}
        </td>
      </tr>
      <tr>
        <td>{{'CO2_EMITTED' | translate}}</td>
        <td *ngIf="current?.tonnesOfCO2 && current?.mBoiler; else emptyCol">
          {{(current.tonnesOfCO2 / current.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/{{massFlowUnit}}
        </td>
        <td *ngIf="current?.tonnesOfCO2; else emptyCol">
          {{current.tonnesOfCO2 | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/{{'YR' | translate}}
        </td>
        <td *ngIf="potential?.tonnesOfCO2 && potential?.mBoiler; else emptyCol">
          {{(potential.tonnesOfCO2 / potential.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/{{massFlowUnit}}
        </td>
        <td *ngIf="potential?.tonnesOfCO2; else emptyCol">
          {{potential.tonnesOfCO2 | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/{{'YR' | translate}}
        </td>
        <td *ngIf="current?.tonnesOfCO2; else emptyCol">
          {{(current.tonnesOfCO2 - potential?.tonnesOfCO2 || 0) | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/{{'YR' | translate}}
        </td>
      </tr>
      <tr>
        <td>{{'WATER_CONSUMED' | translate}}</td>
        <td *ngIf="current?.boilerHouseWaterFlowTotal && current.mBoiler; else emptyCol">
          {{(current.boilerHouseWaterFlowTotal / current.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{massFlowUnit}}
        </td>
        <td *ngIf="current?.boilerHouseWaterFlowTotal; else emptyCol">
          {{current.boilerHouseWaterFlowTotal | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}
        </td>
        <td *ngIf="potential?.boilerHouseWaterFlowTotal && potential?.mBoiler; else emptyCol">
          {{(potential.boilerHouseWaterFlowTotal / potential.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{massFlowUnit}}
        </td>
        <td *ngIf="potential?.boilerHouseWaterFlowTotal; else emptyCol">
          {{potential.boilerHouseWaterFlowTotal | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}
        </td>
        <td *ngIf="current?.boilerHouseWaterFlowTotal; else emptyCol">
          {{(current.boilerHouseWaterFlowTotal - potential.boilerHouseWaterFlowTotal || 0) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}
        </td>
      </tr>
      <tr>
        <td>{{'EFFLUENT_CONSUMED' | translate}}</td>
        <td *ngIf="current?.boilerHouseTotalVolumeOfWaterEffluent && current.mBoiler; else emptyCol">
          {{(current.boilerHouseTotalVolumeOfWaterEffluent / current.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{massFlowUnit}}
        </td>
        <td *ngIf="current?.boilerHouseTotalVolumeOfWaterEffluent; else emptyCol">
          {{current.boilerHouseTotalVolumeOfWaterEffluent | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}
        </td>
        <td *ngIf="potential?.boilerHouseTotalVolumeOfWaterEffluent && potential?.mBoiler; else emptyCol">
          {{(potential.boilerHouseTotalVolumeOfWaterEffluent / potential.mBoiler) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{massFlowUnit}}
        </td>
        <td *ngIf="potential?.boilerHouseTotalVolumeOfWaterEffluent; else emptyCol">
          {{potential.boilerHouseTotalVolumeOfWaterEffluent | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}
        </td>
        <td *ngIf="current?.boilerHouseTotalVolumeOfWaterEffluent; else emptyCol">
          {{(current.boilerHouseTotalVolumeOfWaterEffluent - potential.boilerHouseTotalVolumeOfWaterEffluent || 0) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-12">
    <table class="customTable">
      <thead>
      <tr>
        <th>{{'ANNUAL_SAVINGS' | translate}}</th>
        <th class="text-center">{{'VALUE' | translate}}</th>
        <th>{{'EQUIVALENT_SAVINGS' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="green text-uppercase"><i class="sga-thermal-energy"></i>{{'THERMAL_ENERGY' | translate}}</td>
        <td *ngIf="fuelEnergyData?.current && fuelEnergyData?.potential; else emptyCol">
          {{(fuelEnergyData?.current - fuelEnergyData?.potential) | number: '0.0-2'}} {{fuelEnergyData?.unit}}/{{'YR' | translate}}
        </td>
        <td class="text-left">
          <img class="thumb-img" src="/assets/img/steam_generation/energy_saving/co2-emissions.png" alt="co2 emissions">
          {{current?.qfuel ? (current.qfuel - (potential?.qfuel || 0) | number: '0.0-2') : 0}} {{units[selectedUnits?.energyUnitSelected]}}
        </td>
      </tr>
      <tr>
        <td class="orange text-uppercase"><i class="sga-co2-emissions"></i>{{'CO2_EMISSIONS' | translate}}</td>
        <td *ngIf="current?.tonnesOfCO2; else emptyCol">
          {{(current.tonnesOfCO2 - potential?.tonnesOfCO2 || 0) | number: '0.0-2'}} {{units[selectedUnits?.emissionUnitSelected]}}/{{'YR' | translate}}
        </td>
        <td class="text-left">
          <img class="thumb-img" src="/assets/img/steam_generation/energy_saving/thermal-energy.png" alt="Thermal energy">
          {{originalCurrent?.tonnesOfCO2 ? ((originalCurrent.tonnesOfCO2 - originalPotential.tonnesOfCO2 || 0) * 45.46 | number: '0.0-0') : 0}} {{'TREES' | translate}}
        </td>
      </tr>
      <tr>
        <td class="steel text-uppercase"><i class="sga-water-consumption"></i>{{'WATER_CONSUMPTION' | translate}}</td>
        <td *ngIf="current?.boilerHouseWaterFlowTotal; else emptyCol">
          {{(current?.boilerHouseWaterFlowTotal - (potential?.boilerHouseWaterFlowTotal || 0)) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}
        </td>
        <td class="text-left">
          <img class="thumb-img" src="/assets/img/steam_generation/energy_saving/water-consumption.png" alt="water consumption">
          {{(originalCurrent?.boilerHouseWaterFlowTotal - (originalPotential?.boilerHouseWaterFlowTotal || 0)) / 2500 | number: '0.0-2'}} {{'OLYMPIC_POOLS' | translate}}
        </td>
      </tr>
      <tr>
        <td class="blue text-uppercase"><i class="sga-water-effluent"></i>{{'WATER_EFFLUENT' | translate}}</td>
        <td *ngIf="current?.boilerHouseTotalVolumeOfWaterEffluent; else emptyCol">
          {{(current.boilerHouseTotalVolumeOfWaterEffluent - (potential.boilerHouseTotalVolumeOfWaterEffluent || 0)) | number: '0.0-2'}} {{units[selectedUnits?.volumeUnitSelected]}}/{{'YR' | translate}}
        </td>
        <td class="text-left">
          <img class="thumb-img" src="/assets/img/steam_generation/energy_saving/water-effluent.png" alt="water effluent">
          {{(originalCurrent?.boilerHouseTotalVolumeOfWaterEffluent - (originalPotential?.boilerHouseTotalVolumeOfWaterEffluent || 0)) / 2500 | number: '0.0-2'}} {{'OLYMPIC_POOLS' | translate}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
